
mjx-container[overflow="scroll"][display] {
  overflow: auto clip;
  min-width: initial !important;
}

mjx-container[overflow="truncate"][display] {
  overflow: hidden clip;
  min-width: initial !important;
}

mjx-container[display] {
  display: block;
  text-align: center;
  justify-content: center;
  margin: .7em 0;
  padding: .3em 2px;
}

mjx-container[display][width="full"] {
  display: flex;
}

mjx-container[justify="left"] {
  text-align: left;
  justify-content: left;
}

mjx-container[justify="right"] {
  text-align: right;
  justify-content: right;
}

mjx-container[jax="CHTML"] {
  white-space: nowrap;
}

mjx-mo > mjx-c, mjx-mi > mjx-c, mjx-mn > mjx-c, mjx-ms > mjx-c, mjx-mtext > mjx-c {
  clip-path: padding-box polygon(-1em -2px, calc(100% + 1em) -2px, calc(100% + 1em) calc(100% + 2px), -1em calc(100% + 2px));
}

mjx-stretchy-h {
  clip-path: padding-box polygon(0 -2px, 100% -2px, 100% calc(100% + 2px), 0 calc(100% + 2px));
  display: inline-block;
}

mjx-stretchy-v {
  clip-path: padding-box polygon(-2px 0, calc(100% + 2px) 0, calc(100% + 2px) 100%, -2px 100%);
  display: inline-block;
  text-align: center;
}

mjx-container [space="1"] {
  margin-left: .111em;
}

mjx-container [space="2"] {
  margin-left: .167em;
}

mjx-container [space="3"] {
  margin-left: .222em;
}

mjx-container [space="4"] {
  margin-left: .278em;
}

mjx-container [space="5"] {
  margin-left: .333em;
}

mjx-container [rspace="1"] {
  margin-right: .111em;
}

mjx-container [rspace="2"] {
  margin-right: .167em;
}

mjx-container [rspace="3"] {
  margin-right: .222em;
}

mjx-container [rspace="4"] {
  margin-right: .278em;
}

mjx-container [rspace="5"] {
  margin-right: .333em;
}

mjx-container [size="s"] {
  font-size: 70.7%;
}

mjx-container [size="ss"] {
  font-size: 50%;
}

mjx-container [size="Tn"] {
  font-size: 60%;
}

mjx-container [size="sm"] {
  font-size: 85%;
}

mjx-container [size="lg"] {
  font-size: 120%;
}

mjx-container [size="Lg"] {
  font-size: 144%;
}

mjx-container [size="LG"] {
  font-size: 173%;
}

mjx-container [size="hg"] {
  font-size: 207%;
}

mjx-container [size="HG"] {
  font-size: 249%;
}

mjx-container [width="full"] {
  width: 100%;
}

mjx-box {
  display: inline-block;
}

mjx-block {
  display: block;
}

mjx-itable {
  display: inline-table;
}

mjx-row {
  display: table-row;
}

mjx-row > mjx-cell, mjx-row > mjx-base, mjx-row > mjx-under, mjx-row > mjx-over, mjx-row > mjx-den {
  display: table-cell;
}

mjx-container [inline-breaks] {
  display: inline;
}

mjx-container .mjx-selected {
  outline: 2px solid black;
}

@media (prefers-color-scheme: dark) {
  mjx-container .mjx-selected {
    outline: 2px solid #C8C8C8;
  }
}

mjx-mtext {
  display: inline-block;
  text-align: left;
}

mjx-mstyle {
  display: inline-block;
}

mjx-merror {
  display: inline-block;
  color: red;
  background-color: yellow;
}

mjx-mphantom {
  visibility: hidden;
}

mjx-assistive-mml {
  position: absolute !important;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 1px, 1px 1px, 1px 0);
  padding: 1px 0px 0px 0px !important;
  border: 0px !important;
  display: block !important;
  width: auto !important;
  overflow: hidden !important;
  text-indent: 0px ! important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mjx-assistive-mml[display="block"] {
  width: 100% !important;
}

mjx-math {
  display: inline-block;
  text-align: left;
  line-height: 0;
  text-indent: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  font-size-adjust: none;
  letter-spacing: normal;
  word-wrap: normal;
  word-spacing: normal;
  direction: ltr;
  padding: 1px 0;
}

mjx-container[jax="CHTML"][display="true"] mjx-math {
  padding: 0;
}

mjx-math[breakable] {
  display: inline;
}

mjx-container[jax="CHTML"] mjx-break {
  white-space: normal;
  line-height: 0;
  clip-path: rect(0 0 0 0);
  font-family: MJX-BRK !important;
}

mjx-break[size="0"] {
  letter-spacing: -0.999em;
}

mjx-break[size="1"] {
  letter-spacing: -0.889em;
}

mjx-break[size="2"] {
  letter-spacing: -0.833em;
}

mjx-break[size="3"] {
  letter-spacing: -0.778em;
}

mjx-break[size="4"] {
  letter-spacing: -0.722em;
}

mjx-break[size="5"] {
  letter-spacing: -0.667em;
}

mjx-mi {
  display: inline-block;
  text-align: left;
}

mjx-c {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-utext {
  display: inline-block;
  padding: .75em 0 .2em 0;
}

mjx-msub {
  display: inline-block;
  text-align: left;
}

mjx-msubsup {
  display: inline-block;
  text-align: left;
}

mjx-script {
  display: inline-block;
  padding-right: .05em;
  padding-left: .033em;
}

mjx-script > mjx-spacer {
  display: block;
}

mjx-TeXAtom {
  display: inline-block;
  text-align: left;
}

mjx-mo {
  display: inline-block;
  text-align: left;
}

mjx-stretchy-h > mjx-beg, mjx-stretchy-h > mjx-ext, mjx-stretchy-h > mjx-end, mjx-stretchy-h > mjx-mid {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-stretchy-h > mjx-ext {
  clip-path: padding-box polygon(0 -1em, 100% -1em, 100% calc(100% + 1em), 0 calc(100% + 1em));
  width: 100%;
  border: 0px solid transparent;
  box-sizing: border-box;
  text-align: left;
}

mjx-stretchy-v > mjx-beg, mjx-stretchy-v > mjx-ext, mjx-stretchy-v > mjx-end, mjx-stretchy-v > mjx-mid {
  display: block;
  height: 0;
  margin: 0 auto;
}

mjx-stretchy-v > mjx-ext > mjx-spacer {
  display: block;
}

mjx-stretchy-v > mjx-ext {
  clip-path: padding-box polygon(-1em 0, calc(100% + 1em) 0, calc(100% + 1em) 100%, -1em 100%);
  height: 100%;
  border: 0.1px solid transparent;
  box-sizing: border-box;
  white-space: pre;
}

mjx-mark {
  display: inline-block;
  height: 0;
}

mjx-mspace {
  display: inline-block;
  text-align: left;
}

mjx-munder {
  display: inline-block;
  text-align: left;
}

mjx-over {
  text-align: left;
}

mjx-munder:not([limits="false"]) {
  display: inline-table;
}

mjx-munder > mjx-row {
  text-align: left;
}

mjx-under {
  padding-bottom: .1em;
}

mjx-msup {
  display: inline-block;
  text-align: left;
}

mjx-mn {
  display: inline-block;
  text-align: left;
}

mjx-mtable {
  display: inline-block;
  text-align: center;
  vertical-align: .25em;
  position: relative;
  box-sizing: border-box;
  border-spacing: 0;
  border-collapse: collapse;
}

mjx-mstyle[size="s"] mjx-mtable {
  vertical-align: .354em;
}

mjx-labels {
  position: absolute;
  left: 0;
  top: 0;
}

mjx-table {
  display: inline-block;
  vertical-align: -.5ex;
  box-sizing: border-box;
}

mjx-table > mjx-itable {
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
}

mjx-labels > mjx-itable {
  position: absolute;
  top: 0;
}

mjx-mtable[justify="left"] {
  text-align: left;
}

mjx-mtable[justify="right"] {
  text-align: right;
}

mjx-mtable[justify="left"][side="left"] {
  padding-right: 0 ! important;
}

mjx-mtable[justify="left"][side="right"] {
  padding-left: 0 ! important;
}

mjx-mtable[justify="right"][side="left"] {
  padding-right: 0 ! important;
}

mjx-mtable[justify="right"][side="right"] {
  padding-left: 0 ! important;
}

mjx-mtable[align] {
  vertical-align: baseline;
}

mjx-mtable[align="top"] > mjx-table {
  vertical-align: top;
}

mjx-mtable[align="bottom"] > mjx-table {
  vertical-align: bottom;
}

mjx-mtable[side="right"] mjx-labels {
  min-width: 100%;
}

mjx-mtr {
  display: table-row;
  text-align: left;
}

mjx-mtr[rowalign="top"] > mjx-mtd {
  vertical-align: top;
}

mjx-mtr[rowalign="center"] > mjx-mtd {
  vertical-align: middle;
}

mjx-mtr[rowalign="bottom"] > mjx-mtd {
  vertical-align: bottom;
}

mjx-mtr[rowalign="baseline"] > mjx-mtd {
  vertical-align: baseline;
}

mjx-mtr[rowalign="axis"] > mjx-mtd {
  vertical-align: .25em;
}

mjx-mtd {
  display: table-cell;
  text-align: center;
  padding: .215em .4em;
}

mjx-mtd:first-child {
  padding-left: 0;
}

mjx-mtd:last-child {
  padding-right: 0;
}

mjx-mtable > * > mjx-itable > *:first-child > mjx-mtd {
  padding-top: 0;
}

mjx-mtable > * > mjx-itable > *:last-child > mjx-mtd {
  padding-bottom: 0;
}

mjx-tstrut {
  display: inline-block;
  height: 1em;
  vertical-align: -.25em;
}

mjx-labels[align="left"] > mjx-mtr > mjx-mtd {
  text-align: left;
}

mjx-labels[align="right"] > mjx-mtr > mjx-mtd {
  text-align: right;
}

mjx-mtd[extra] {
  padding: 0;
}

mjx-mtd[rowalign="top"] {
  vertical-align: top;
}

mjx-mtd[rowalign="center"] {
  vertical-align: middle;
}

mjx-mtd[rowalign="bottom"] {
  vertical-align: bottom;
}

mjx-mtd[rowalign="baseline"] {
  vertical-align: baseline;
}

mjx-mtd[rowalign="axis"] {
  vertical-align: .25em;
}

mjx-mrow {
  display: inline-block;
  text-align: left;
}

mjx-linestack, mjx-mrow[break-top] {
  display: inline-table;
  width: 100%;
}

mjx-linestack[break-align="bottom"], mjx-mrow[break-top][break-align="bottom"] {
  display: inline-block;
}

mjx-linestack[break-align="middle"], mjx-mrow[break-top][break-align="middle"] {
  vertical-align: middle;
}

mjx-linestack[break-align="center"], mjx-mrow[break-top][break-align="center"] {
  vertical-align: middle;
}

mjx-linestack[breakable] {
  display: inline;
}

mjx-linestack[breakable] > mjx-linebox {
  display: inline;
}

mjx-linestack[breakable] > mjx-linebox::before {
  white-space: pre;
  content: "\A";
}

mjx-linestack[breakable] > mjx-linebox::after {
  white-space: normal;
  content: " ";
  letter-spacing: -.999em;
  font-family: MJX-BRK;
}

mjx-linestack[breakable] > mjx-linebox:first-of-type::before {
  display: none;
}

mjx-linestack[breakable] > mjx-linebox:last-of-type::after {
  display: none;
}

mjx-linebox {
  display: block;
}

mjx-linebox[align="left"] {
  text-align: left;
}

mjx-linebox[align="center"] {
  text-align: center;
}

mjx-linebox[align="right"] {
  text-align: right;
}

mjx-linestrut {
  display: inline-block;
  height: 1em;
  vertical-align: -.25em;
}

mjx-mfrac {
  display: inline-block;
  text-align: left;
}

mjx-frac {
  display: inline-block;
  vertical-align: 0.17em;
  padding: 0 .22em;
}

mjx-frac[type="d"] {
  vertical-align: .04em;
}

mjx-frac[delims] {
  padding: 0 .1em;
}

mjx-frac[atop] {
  padding: 0 .12em;
}

mjx-frac[atop][delims] {
  padding: 0;
}

mjx-dtable {
  display: inline-table;
  width: 100%;
}

mjx-dtable > mjx-line, mjx-dtable > mjx-row {
  font-size: 2000%;
}

mjx-dbox {
  display: block;
  font-size: 5%;
}

mjx-num {
  display: block;
  text-align: center;
}

mjx-den {
  display: block;
  text-align: center;
}

mjx-mfrac[bevelled] > mjx-num {
  display: inline-block;
}

mjx-mfrac[bevelled] > mjx-den {
  display: inline-block;
}

mjx-den[align="right"], mjx-num[align="right"] {
  text-align: right;
}

mjx-den[align="left"], mjx-num[align="left"] {
  text-align: left;
}

mjx-nstrut {
  display: inline-block;
  height: .054em;
  width: 0;
  vertical-align: -.054em;
}

mjx-nstrut[type="d"] {
  height: .217em;
  vertical-align: -.217em;
}

mjx-dstrut {
  display: inline-block;
  height: .505em;
  width: 0;
}

mjx-dstrut[type="d"] {
  height: .726em;
}

mjx-line {
  display: block;
  box-sizing: border-box;
  min-height: 1px;
  height: .06em;
  border-top: .075em solid;
  margin: .06em -.1em;
  overflow: hidden;
}

mjx-line[type="d"] {
  margin: .18em -.1em;
}

mjx-mlabeledtr {
  display: table-row;
  text-align: left;
}

mjx-mlabeledtr[rowalign="top"] > mjx-mtd {
  vertical-align: top;
}

mjx-mlabeledtr[rowalign="center"] > mjx-mtd {
  vertical-align: middle;
}

mjx-mlabeledtr[rowalign="bottom"] > mjx-mtd {
  vertical-align: bottom;
}

mjx-mlabeledtr[rowalign="baseline"] > mjx-mtd {
  vertical-align: baseline;
}

mjx-mlabeledtr[rowalign="axis"] > mjx-mtd {
  vertical-align: .25em;
}

mjx-munderover {
  display: inline-block;
  text-align: left;
}

mjx-munderover:not([limits="false"]) {
  padding-top: .1em;
}

mjx-munderover:not([limits="false"]) > mjx-over, mjx-munderover:not([limits="false"]) > mjx-box {
  display: block;
}

mjx-mover {
  display: inline-block;
  text-align: left;
}

mjx-mover:not([limits="false"]) {
  padding-top: .1em;
}

mjx-mover:not([limits="false"]) > mjx-base, mjx-mover:not([limits="false"]) > mjx-over {
  display: block;
  text-align: left;
}

mjx-container[jax="CHTML"] > mjx-math.TEX-N[breakable] > * {
  font-family: MJX-TEX-ZERO, MJX-TEX-N;
}

.TEX-N {
  font-family: MJX-TEX-ZERO, MJX-TEX-N;
}

.TEX-B {
  font-family: MJX-TEX-ZERO, MJX-TEX-B;
}

.TEX-I {
  font-family: MJX-TEX-ZERO, MJX-TEX-I;
}

.TEX-BI {
  font-family: MJX-TEX-ZERO, MJX-TEX-BI;
}

.TEX-F {
  font-family: MJX-TEX-ZERO, MJX-TEX-F;
}

.TEX-FB {
  font-family: MJX-TEX-ZERO, MJX-TEX-FB;
}

.TEX-SS {
  font-family: MJX-TEX-ZERO, MJX-TEX-SS;
}

.TEX-SSB {
  font-family: MJX-TEX-ZERO, MJX-TEX-SSB;
}

.TEX-SSI {
  font-family: MJX-TEX-ZERO, MJX-TEX-SSI;
}

.TEX-M {
  font-family: MJX-TEX-ZERO, MJX-TEX-M;
}

.TEX-SO {
  font-family: MJX-TEX-ZERO, MJX-TEX-SO;
}

.TEX-LO {
  font-family: MJX-TEX-ZERO, MJX-TEX-LO;
}

.TEX-C {
  font-family: MJX-TEX-ZERO, MJX-TEX-C;
}

.TEX-CB {
  font-family: MJX-TEX-ZERO, MJX-TEX-CB;
}

.TEX-OS {
  font-family: MJX-TEX-ZERO, MJX-TEX-OS;
}

.TEX-OB {
  font-family: MJX-TEX-ZERO, MJX-TEX-OB;
}

.TEX-MI {
  font-family: MJX-TEX-ZERO, MJX-TEX-MI;
}

.TEX-V {
  font-family: MJX-TEX-ZERO, MJX-TEX-V;
}

.TEX-S3 {
  font-family: MJX-TEX-ZERO, MJX-TEX-S3;
}

.TEX-S4 {
  font-family: MJX-TEX-ZERO, MJX-TEX-S4;
}

@font-face /* MJX-TEX-ZERO */ {
  font-family: MJX-TEX-ZERO;
  src: url("./fonts/mjx-tex-zero.woff2") format("woff2");
}

@font-face /* MJX-BRK */ {
  font-family: MJX-BRK;
  src: url("./fonts/mjx-tex-brk.woff2") format("woff2");
}

@font-face /* MJX-TEX-N */ {
  font-family: MJX-TEX-N;
  src: url("./fonts/mjx-tex-n.woff2") format("woff2");
}

@font-face /* MJX-TEX-B */ {
  font-family: MJX-TEX-B;
  src: url("./fonts/mjx-tex-b.woff2") format("woff2");
}

@font-face /* MJX-TEX-I */ {
  font-family: MJX-TEX-I;
  src: url("./fonts/mjx-tex-i.woff2") format("woff2");
}

@font-face /* MJX-TEX-BI */ {
  font-family: MJX-TEX-BI;
  src: url("./fonts/mjx-tex-bi.woff2") format("woff2");
}

@font-face /* MJX-TEX-F */ {
  font-family: MJX-TEX-F;
  src: url("./fonts/mjx-tex-f.woff2") format("woff2");
}

@font-face /* MJX-TEX-FB */ {
  font-family: MJX-TEX-FB;
  src: url("./fonts/mjx-tex-fb.woff2") format("woff2");
}

@font-face /* MJX-TEX-SS */ {
  font-family: MJX-TEX-SS;
  src: url("./fonts/mjx-tex-ss.woff2") format("woff2");
}

@font-face /* MJX-TEX-SSB */ {
  font-family: MJX-TEX-SSB;
  src: url("./fonts/mjx-tex-ssb.woff2") format("woff2");
}

@font-face /* MJX-TEX-SSI */ {
  font-family: MJX-TEX-SSI;
  src: url("./fonts/mjx-tex-ssi.woff2") format("woff2");
}

@font-face /* MJX-TEX-M */ {
  font-family: MJX-TEX-M;
  src: url("./fonts/mjx-tex-m.woff2") format("woff2");
}

@font-face /* MJX-TEX-SO */ {
  font-family: MJX-TEX-SO;
  src: url("./fonts/mjx-tex-so.woff2") format("woff2");
}

@font-face /* MJX-TEX-LO */ {
  font-family: MJX-TEX-LO;
  src: url("./fonts/mjx-tex-lo.woff2") format("woff2");
}

@font-face /* MJX-TEX-C */ {
  font-family: MJX-TEX-C;
  src: url("./fonts/mjx-tex-c.woff2") format("woff2");
}

@font-face /* MJX-TEX-CB */ {
  font-family: MJX-TEX-CB;
  src: url("./fonts/mjx-tex-cb.woff2") format("woff2");
}

@font-face /* MJX-TEX-OS */ {
  font-family: MJX-TEX-OS;
  src: url("./fonts/mjx-tex-os.woff2") format("woff2");
}

@font-face /* MJX-TEX-OB */ {
  font-family: MJX-TEX-OB;
  src: url("./fonts/mjx-tex-ob.woff2") format("woff2");
}

@font-face /* MJX-TEX-MI */ {
  font-family: MJX-TEX-MI;
  src: url("./fonts/mjx-tex-mi.woff2") format("woff2");
}

@font-face /* MJX-TEX-V */ {
  font-family: MJX-TEX-V;
  src: url("./fonts/mjx-tex-v.woff2") format("woff2");
}

@font-face /* MJX-TEX-S3 */ {
  font-family: MJX-TEX-S3;
  src: url("./fonts/mjx-tex-s3.woff2") format("woff2");
}

@font-face /* MJX-TEX-S4 */ {
  font-family: MJX-TEX-S4;
  src: url("./fonts/mjx-tex-s4.woff2") format("woff2");
}

mjx-stretchy-v.mjx-c28 > mjx-beg {
  width: 0.875em;
  margin: 1.154em auto -1.154em;
}

mjx-stretchy-v.mjx-c28 > mjx-ext > mjx-spacer {
  margin-top: 0.259em;
}

mjx-stretchy-v.mjx-c28 > mjx-ext {
  width: 0.875em;
  line-height: 0.562em;
  border-width: 1.779em 0 1.779em;
}

mjx-stretchy-v.mjx-c28 > mjx-end {
  width: 0.875em;
  margin: -0.644em auto 0.644em;
}

mjx-stretchy-v.mjx-c29 > mjx-beg {
  width: 0.875em;
  margin: 1.154em auto -1.154em;
}

mjx-stretchy-v.mjx-c29 > mjx-ext > mjx-spacer {
  margin-top: 0.259em;
}

mjx-stretchy-v.mjx-c29 > mjx-ext {
  width: 0.875em;
  line-height: 0.562em;
  border-width: 1.779em 0 1.779em;
}

mjx-stretchy-v.mjx-c29 > mjx-end {
  width: 0.875em;
  margin: -0.644em auto 0.644em;
}

mjx-c.mjx-c1D443 {
  padding: 0.683em 0.751em 0 0;
}

mjx-c.mjx-c53.TEX-C {
  padding: 0.705em 0.642em 0.022em 0;
}

mjx-c.mjx-c4C {
  padding: 0.683em 0.625em 0 0;
}

mjx-c.mjx-c2061 {
  padding: 0 0 0 0;
}

mjx-c.mjx-c28 {
  padding: 0.75em 0.389em 0.25em 0;
}

mjx-c.mjx-c1D465 {
  padding: 0.442em 0.572em 0.011em 0;
}

mjx-c.mjx-c29 {
  padding: 0.75em 0.389em 0.25em 0;
}

mjx-c.mjx-c3D {
  padding: 0.367em 0.778em 0 0;
}

mjx-c.mjx-c6C {
  padding: 0.694em 0.278em 0 0;
}

mjx-c.mjx-c63 {
  padding: 0.448em 0.444em 0.011em 0;
}

mjx-c.mjx-c6D {
  padding: 0.442em 0.833em 0 0;
}

mjx-c.mjx-c7B {
  padding: 0.75em 0.5em 0.25em 0;
}

mjx-c.mjx-c1D462 {
  padding: 0.442em 0.572em 0.011em 0;
}

mjx-c.mjx-c2208 {
  padding: 0.54em 0.667em 0.04em 0;
}

mjx-c.mjx-c3A {
  padding: 0.43em 0.278em 0 0;
}

mjx-c.mjx-c2264 {
  padding: 0.636em 0.778em 0.138em 0;
}

mjx-c.mjx-c7D {
  padding: 0.75em 0.5em 0.25em 0;
}

mjx-c.mjx-c2C {
  padding: 0.121em 0.278em 0.194em 0;
}

mjx-c.mjx-c52.TEX-C {
  padding: 0.682em 0.848em 0.022em 0;
}

mjx-c.mjx-c2211.TEX-LO {
  padding: 0.95em 1.444em 0.45em 0;
}

mjx-c.mjx-c2212 {
  padding: 0.583em 0.778em 0.082em 0;
}

mjx-c.mjx-c31 {
  padding: 0.666em 0.5em 0 0;
}

mjx-c.mjx-c2E {
  padding: 0.12em 0.278em 0 0;
}

mjx-c.mjx-c1D45D {
  padding: 0.442em 0.503em 0.194em 0;
}

mjx-c.mjx-c1D45E {
  padding: 0.442em 0.46em 0.194em 0;
}

mjx-c.mjx-c1D45F {
  padding: 0.442em 0.451em 0.011em 0;
}

mjx-c.mjx-c48 {
  padding: 0.683em 0.75em 0 0;
}

mjx-c.mjx-c230A {
  padding: 0.75em 0.444em 0.25em 0;
}

mjx-c.mjx-c6F {
  padding: 0.448em 0.5em 0.01em 0;
}

mjx-c.mjx-c67 {
  padding: 0.453em 0.5em 0.206em 0;
}

mjx-c.mjx-c230B {
  padding: 0.75em 0.444em 0.25em 0;
}

mjx-c.mjx-c4B {
  padding: 0.683em 0.778em 0 0;
}

mjx-c.mjx-c1D456 {
  padding: 0.661em 0.345em 0.011em 0;
}

mjx-c.mjx-c1D457 {
  padding: 0.661em 0.412em 0.204em 0;
}

mjx-c.mjx-c1D458 {
  padding: 0.694em 0.521em 0.011em 0;
}

mjx-c.mjx-c2260 {
  padding: 0.716em 0.778em 0.215em 0;
}

mjx-c.mjx-c1D45B {
  padding: 0.442em 0.6em 0.011em 0;
}

mjx-c.mjx-c2265 {
  padding: 0.636em 0.778em 0.138em 0;
}

mjx-c.mjx-c30 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c1D43C {
  padding: 0.683em 0.504em 0 0;
}

mjx-c.mjx-c1D43D {
  padding: 0.683em 0.633em 0.022em 0;
}

mjx-c.mjx-c2026 {
  padding: 0.12em 1.172em 0 0;
}

mjx-c.mjx-c2192 {
  padding: 0.511em 1em 0.011em 0;
}

mjx-c.mjx-c2115 {
  padding: 0.683em 0.722em 0.02em 0;
}

mjx-c.mjx-c64 {
  padding: 0.694em 0.556em 0.011em 0;
}

mjx-c.mjx-c65 {
  padding: 0.448em 0.444em 0.011em 0;
}

mjx-c.mjx-c74 {
  padding: 0.615em 0.389em 0.01em 0;
}

mjx-c.mjx-c28.TEX-LO {
  padding: 1.15em 0.597em 0.649em 0;
}

mjx-c.mjx-c1D44E {
  padding: 0.441em 0.529em 0.01em 0;
}

mjx-c.mjx-c1D44F {
  padding: 0.694em 0.429em 0.011em 0;
}

mjx-c.mjx-c29.TEX-LO {
  padding: 1.15em 0.597em 0.649em 0;
}

mjx-c.mjx-c3C {
  padding: 0.54em 0.778em 0.04em 0;
}

mjx-c.mjx-c1D451 {
  padding: 0.694em 0.523em 0.01em 0;
}

mjx-c.mjx-c1D453 {
  padding: 0.705em 0.55em 0.205em 0;
}

mjx-c.mjx-c2113 {
  padding: 0.705em 0.417em 0.02em 0;
}

mjx-c.mjx-c1D43A {
  padding: 0.705em 0.786em 0.022em 0;
}

mjx-c.mjx-c66 {
  padding: 0.705em 0.372em 0 0;
}

mjx-c.mjx-c72 {
  padding: 0.442em 0.392em 0 0;
}

mjx-c.mjx-c20 {
  padding: 0 0.25em 0 0;
}

mjx-c.mjx-c61 {
  padding: 0.448em 0.5em 0.011em 0;
}

mjx-c.mjx-cA0 {
  padding: 0 0.25em 0 0;
}

mjx-c.mjx-c1D450 {
  padding: 0.442em 0.433em 0.011em 0;
}

mjx-c.mjx-c1D466 {
  padding: 0.442em 0.496em 0.205em 0;
}

mjx-c.mjx-c1D448 {
  padding: 0.683em 0.767em 0.022em 0;
}

mjx-c.mjx-c1D436 {
  padding: 0.705em 0.76em 0.022em 0;
}

mjx-c.mjx-c1D449 {
  padding: 0.683em 0.769em 0.022em 0;
}

mjx-c.mjx-c1D7CF {
  padding: 0.655em 0.575em 0 0;
}

mjx-c.mjx-c2B {
  padding: 0.583em 0.778em 0.082em 0;
}

mjx-c.mjx-c22EF {
  padding: 0.31em 1.172em 0 0;
}

mjx-c.mjx-c1D447 {
  padding: 0.677em 0.717em 0 0;
}

mjx-c.mjx-c22EE {
  padding: 1.3em 0.278em 0.03em 0;
}

mjx-c.mjx-c22F1 {
  padding: 1.42em 1.282em 0 0;
}

mjx-c.mjx-cD7 {
  padding: 0.491em 0.778em 0 0;
}

mjx-c.mjx-c32 {
  padding: 0.666em 0.5em 0 0;
}

mjx-c.mjx-c33 {
  padding: 0.665em 0.5em 0.022em 0;
}

mjx-c.mjx-c35 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c2124 {
  padding: 0.683em 0.667em 0.001em 0;
}

mjx-c.mjx-c2F {
  padding: 0.75em 0.5em 0.25em 0;
}

mjx-c.mjx-c1D435 {
  padding: 0.683em 0.759em 0 0;
}

mjx-c.mjx-c34 {
  padding: 0.677em 0.5em 0 0;
}

mjx-c.mjx-c36 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c38 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c22C5 {
  padding: 0.31em 0.278em 0 0;
}

mjx-c.mjx-c39 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c1D45A {
  padding: 0.442em 0.878em 0.011em 0;
}

mjx-c.mjx-c1D463 {
  padding: 0.443em 0.485em 0.011em 0;
}

mjx-c.mjx-c1D438 {
  padding: 0.68em 0.764em 0 0;
}

mjx-c.mjx-c7C {
  padding: 0.75em 0.278em 0.249em 0;
}

mjx-c.mjx-c2286 {
  padding: 0.636em 0.778em 0.138em 0;
}

mjx-c.mjx-c1D461 {
  padding: 0.626em 0.361em 0.011em 0;
}

mjx-c.mjx-c3E {
  padding: 0.54em 0.778em 0.04em 0;
}

mjx-c.mjx-c69 {
  padding: 0.669em 0.278em 0 0;
}

mjx-c.mjx-c6E {
  padding: 0.442em 0.556em 0 0;
}

mjx-c.mjx-c1D439 {
  padding: 0.68em 0.749em 0 0;
}

mjx-c.mjx-c73 {
  padding: 0.448em 0.394em 0.011em 0;
}

mjx-c.mjx-c70 {
  padding: 0.442em 0.556em 0.194em 0;
}

mjx-c.mjx-c6B {
  padding: 0.694em 0.528em 0 0;
}

mjx-c.mjx-c2016 {
  padding: 0.777em 0.5em 0.277em 0;
}

mjx-c.mjx-c221E {
  padding: 0.442em 1em 0.011em 0;
}

mjx-c.mjx-c28.TEX-S3 {
  padding: 1.45em 0.736em 0.949em 0;
}

mjx-c.mjx-c29.TEX-S3 {
  padding: 1.45em 0.736em 0.949em 0;
}

mjx-c.mjx-c1D434 {
  padding: 0.716em 0.75em 0 0;
}

mjx-c.mjx-c78 {
  padding: 0.431em 0.528em 0 0;
}

mjx-c.mjx-c1D441 {
  padding: 0.683em 0.888em 0 0;
}

mjx-c.mjx-c1D43E {
  padding: 0.683em 0.889em 0 0;
}

mjx-c.mjx-c1D43B {
  padding: 0.683em 0.888em 0 0;
}

mjx-c.mjx-c1D43F {
  padding: 0.683em 0.681em 0 0;
}

mjx-c.mjx-c44.TEX-C {
  padding: 0.683em 0.771em 0 0;
}

mjx-c.mjx-c1D703 {
  padding: 0.705em 0.469em 0.01em 0;
}

mjx-c.mjx-c2211.TEX-SO {
  padding: 0.75em 1.056em 0.25em 0;
}

mjx-c.mjx-c1D6FF {
  padding: 0.717em 0.451em 0.01em 0;
}

mjx-c.mjx-c2223 {
  padding: 0.75em 0.278em 0.249em 0;
}

mjx-c.mjx-c42.TEX-C {
  padding: 0.705em 0.664em 0.022em 0;
}

mjx-c.mjx-c23 {
  padding: 0.694em 0.833em 0.194em 0;
}

mjx-c.mjx-c1D446 {
  padding: 0.705em 0.645em 0.022em 0;
}

mjx-c.mjx-c1D460 {
  padding: 0.442em 0.469em 0.01em 0;
}

mjx-c.mjx-c68 {
  padding: 0.694em 0.556em 0 0;
}

mjx-c.mjx-c210E {
  padding: 0.694em 0.576em 0.011em 0;
}

mjx-c.mjx-c1D44B {
  padding: 0.683em 0.852em 0 0;
}

mjx-c.mjx-c1D44C {
  padding: 0.683em 0.763em 0 0;
}

mjx-c.mjx-c1D467 {
  padding: 0.442em 0.468em 0.011em 0;
}

mjx-c.mjx-c1D452 {
  padding: 0.442em 0.466em 0.011em 0;
}

mjx-c.mjx-c2DC.TEX-SO {
  padding: 0.722em 0.556em 0 0;
}

mjx-c.mjx-c1D444 {
  padding: 0.704em 0.791em 0.194em 0;
}

mjx-c.mjx-c37 {
  padding: 0.676em 0.5em 0.022em 0;
}

mjx-c.mjx-c1D437 {
  padding: 0.683em 0.828em 0 0;
}

mjx-c.mjx-c1D464 {
  padding: 0.443em 0.716em 0.011em 0;
}

mjx-c.mjx-c1D44D {
  padding: 0.683em 0.723em 0 0;
}

mjx-c.mjx-c1D44A {
  padding: 0.683em 1.048em 0.022em 0;
}

mjx-c.mjx-c2261 {
  padding: 0.464em 0.778em 0 0;
}

mjx-c.mjx-c76 {
  padding: 0.431em 0.528em 0.011em 0;
}

mjx-c.mjx-c79 {
  padding: 0.431em 0.528em 0.204em 0;
}

mjx-c.mjx-c77 {
  padding: 0.431em 0.722em 0.011em 0;
}

mjx-c.mjx-c75 {
  padding: 0.442em 0.556em 0.011em 0;
}

mjx-c.mjx-c2308 {
  padding: 0.75em 0.444em 0.25em 0;
}

mjx-c.mjx-c2309 {
  padding: 0.75em 0.444em 0.25em 0;
}

mjx-c.mjx-c1D442 {
  padding: 0.704em 0.763em 0.022em 0;
}

mjx-c.mjx-c2209 {
  padding: 0.716em 0.667em 0.215em 0;
}

mjx-c.mjx-c2200 {
  padding: 0.694em 0.556em 0.022em 0;
}

mjx-c.mjx-c2203 {
  padding: 0.694em 0.556em 0 0;
}

mjx-c.mjx-c1D70C {
  padding: 0.442em 0.517em 0.216em 0;
}



.math[data-math-rendered] .mjx-s-008877658b08be44 {vertical-align: 0.378em; margin-left: 0.051em;}
.math[data-math-rendered] .mjx-s-010dc921f1726856 {min-width: 3.994em;}
.math[data-math-rendered] .mjx-s-063aefac932ea720 {vertical-align: -0.184em;}
.math[data-math-rendered] .mjx-s-06f997833fdddd76 {width: auto; min-width: 10.236em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-086527ce20ff019c {padding-left: 0.672em;}
.math[data-math-rendered] .mjx-s-08b347c080c31c18 {height: 1.45em;}
.math[data-math-rendered] .mjx-s-0a08cda1d7073688 {height: 1em; vertical-align: -0.25em;}
.math[data-math-rendered] .mjx-s-0a1c8a1ac4207445 {height: 3.162em; vertical-align: -1.792em;}
.math[data-math-rendered] .mjx-s-0df9cf6740c68079 {width: 0.444em;}
.math[data-math-rendered] .mjx-s-108094b97921abf4 {min-width: 21.488em;}
.math[data-math-rendered] .mjx-s-10e25c71b5bfb7b6 {vertical-align: -0.307em;}
.math[data-math-rendered] .mjx-s-13264ff85b21dd8d {font-size: 113.1%; min-width: 28.653em; position: relative;}
.math[data-math-rendered] .mjx-s-147294e914a17e29 {height: 2.424em; vertical-align: -0.88em;}
.math[data-math-rendered] .mjx-s-14a5068b48f060d7 {vertical-align: 0.289em;}
.math[data-math-rendered] .mjx-s-15b226ad33038af9 {padding-top: 0.676em;}
.math[data-math-rendered] .mjx-s-17058f33c4c5b622 {padding-top: 0.677em;}
.math[data-math-rendered] .mjx-s-19a6470975038300 {padding-top: 0.666em;}
.math[data-math-rendered] .mjx-s-1a75898b6af79c40 {height: 1.133em;}
.math[data-math-rendered] .mjx-s-1dab9a256d343432 {text-align: right; padding-right: 0; padding-bottom: 0.15em;}
.math[data-math-rendered] .mjx-s-1e2db6930426fac8 {padding-top: 0.167em; padding-left: 0.408em;}
.math[data-math-rendered] .mjx-s-1ef3713d38237216 {vertical-align: -0.15em; margin-left: -0.133em;}
.math[data-math-rendered] .mjx-s-1efeaba3a7e38f36 {vertical-align: 0.363em; margin-left: 0.05em;}
.math[data-math-rendered] .mjx-s-1fc1f9182bc3155d {padding-top: 0.448em;}
.math[data-math-rendered] .mjx-s-21412d78deb29a2b {height: 5.87em; vertical-align: -2.685em;}
.math[data-math-rendered] .mjx-s-23945e79054904d1 {vertical-align: -0.15em; margin-left: -0.182em;}
.math[data-math-rendered] .mjx-s-268e74ad40245ffd {padding-left: 0.5em; padding-right: 0.5em; padding-bottom: 0.2em;}
.math[data-math-rendered] .mjx-s-2e22a25f22e3b891 {font-size: 113.1%; min-width: 21.488em; position: relative;}
.math[data-math-rendered] .mjx-s-2e78b123c0941d6c {vertical-align: -0.15em; margin-left: -0.045em;}
.math[data-math-rendered] .mjx-s-2f023ba0bb4595f1 {vertical-align: -0.15em; margin-left: -0.04em;}
.math[data-math-rendered] .mjx-s-31b7a1bba6ff493a {min-width: 7.768em;}
.math[data-math-rendered] .mjx-s-34b5a972db1a86ee {right: 0;}
.math[data-math-rendered] .mjx-s-3bce94a7a29a5a96 {width: 0; margin-left: -0.278em;}
.math[data-math-rendered] .mjx-s-3c17698e3282bc07 {padding-top: 0.15em;}
.math[data-math-rendered] .mjx-s-3ca6788dac585cc9 {min-width: 4em;}
.math[data-math-rendered] .mjx-s-3df1c7fdac1409ed {width: 2em;}
.math[data-math-rendered] .mjx-s-4073cb6afcdaa83e {vertical-align: -0.15em; margin-left: -0.186em;}
.math[data-math-rendered] .mjx-s-411c2f9597fa29d6 {padding-top: 0.167em;}
.math[data-math-rendered] .mjx-s-43d212a846b88de1 {min-width: 21.832em;}
.math[data-math-rendered] .mjx-s-47313fd1ba14c7fa {height: 2.884em; vertical-align: -1.424em;}
.math[data-math-rendered] .mjx-s-481146eeacf96eab {vertical-align: -0.15em; margin-left: -0.084em;}
.math[data-math-rendered] .mjx-s-4994b2bc01876d8a {vertical-align: -0.15em; margin-left: -0.006em;}
.math[data-math-rendered] .mjx-s-4ac914a24aa82932 {width: 7.768em;}
.math[data-math-rendered] .mjx-s-4f6313515bcdcdf9 {padding-right: 0.5em; padding-top: 0.2em; padding-bottom: 0.2em;}
.math[data-math-rendered] .mjx-s-4fabe3e4688a6416 {height: 1em;}
.math[data-math-rendered] .mjx-s-528e9150eac9026a {font-size: 113.1%; min-width: 21.832em; position: relative;}
.math[data-math-rendered] .mjx-s-541e9753744ea5a2 {height: 0.677em;}
.math[data-math-rendered] .mjx-s-567108f9aa713b03 {vertical-align: -0.15em; margin-left: -0.024em;}
.math[data-math-rendered] .mjx-s-5738f1a5216409c5 {height: 0.972em;}
.math[data-math-rendered] .mjx-s-58862db7368f5cb6 {min-width: 16.144em;}
.math[data-math-rendered] .mjx-s-5a1f5bb7debc87dd {vertical-align: 0.378em;}
.math[data-math-rendered] .mjx-s-5aba5a536a449ae4 {height: 1.133em; vertical-align: -0.25em;}
.math[data-math-rendered] .mjx-s-5c7eda164105d874 {vertical-align: 0.413em; margin-left: 0.051em;}
.math[data-math-rendered] .mjx-s-5ebb20d2be0d6461 {vertical-align: -0.15em; margin-left: -0.06em;}
.math[data-math-rendered] .mjx-s-60aafbc534b677b0 {height: 1.311em;}
.math[data-math-rendered] .mjx-s-60ac49baf1acedc0 {vertical-align: -0.177em;}
.math[data-math-rendered] .mjx-s-60d9c9d9f5606f4d {padding-bottom: 0.05em;}
.math[data-math-rendered] .mjx-s-614b92b40a2fd58b {vertical-align: -0.285em;}
.math[data-math-rendered] .mjx-s-6882419297be452c {padding-bottom: 0.105em; padding-left: 0.496em; margin-bottom: -0.597em;}
.math[data-math-rendered] .mjx-s-6a3edc88ddbe4487 {min-width: 28.653em;}
.math[data-math-rendered] .mjx-s-6bca6233cf5169be {min-width: 4.946em;}
.math[data-math-rendered] .mjx-s-6be1b29404504817 {vertical-align: -0.177em; margin-left: -0.006em;}
.math[data-math-rendered] .mjx-s-6c576990d7b4b5f4 {width: 0.167em;}
.math[data-math-rendered] .mjx-s-6ce7ce99a402985f {height: 2.884em;}
.math[data-math-rendered] .mjx-s-704be4b2905b0775 {padding-top: 0.167em; padding-left: 0.058em;}
.math[data-math-rendered] .mjx-s-715b8322ff150309 {vertical-align: 0.363em; margin-left: 0.051em;}
.math[data-math-rendered] .mjx-s-723b61fac7b77789 {height: NaNem;}
.math[data-math-rendered] .mjx-s-72a01a589f710a1a {vertical-align: -0.241em;}
.math[data-math-rendered] .mjx-s-7494b17a91143327 {height: 1.037em; vertical-align: -0.287em;}
.math[data-math-rendered] .mjx-s-755d980eecf3fc76 {padding-top: 0.167em; padding-left: 0.124em;}
.math[data-math-rendered] .mjx-s-78c449cb8f2865a9 {height: 3.517em;}
.math[data-math-rendered] .mjx-s-7b6d7ba8f0fc0af7 {vertical-align: 0.413em; margin-left: 0.05em;}
.math[data-math-rendered] .mjx-s-7cecf77e1989e0e3 {height: 1.267em;}
.math[data-math-rendered] .mjx-s-7e9693e3ac00c0f5 {min-width: 30.196em;}
.math[data-math-rendered] .mjx-s-803626e1ea95797e {width: 12.792em;}
.math[data-math-rendered] .mjx-s-811cd3f045ff0433 {vertical-align: -0.685em;}
.math[data-math-rendered] .mjx-s-82b4061417005eeb {text-align: left; padding-left: 0; padding-bottom: 0.15em;}
.math[data-math-rendered] .mjx-s-85bfad84602d82de {width: 14.881em;}
.math[data-math-rendered] .mjx-s-865bb3c7618ed7e7 {padding-top: 0.705em;}
.math[data-math-rendered] .mjx-s-882643679d0d3d6e {padding-top: 0.167em; padding-left: 0.115em;}
.math[data-math-rendered] .mjx-s-88dad5708156d31f {vertical-align: -0.15em; margin-left: -0.003em;}
.math[data-math-rendered] .mjx-s-8b3b354446940dd2 {width: auto; min-width: 27.64em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-8ca2b7744c8aae23 {text-align: right; padding-right: 0; padding-top: 0.15em;}
.math[data-math-rendered] .mjx-s-8e02c200ac70853c {height: 2.482em; vertical-align: -0.991em;}
.math[data-math-rendered] .mjx-s-91d5df8aca9da90e {vertical-align: -0.305em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-94596a553b79ebeb {vertical-align: -0.15em; margin-left: -0.036em;}
.math[data-math-rendered] .mjx-s-999b7fd8a0a5e21c {height: 1.182em;}
.math[data-math-rendered] .mjx-s-9c2f30f94f18e894 {width: auto; min-width: 26.097em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-9d967f89dcc028d9 {font-size: 113.1%; min-width: 7.768em; position: relative;}
.math[data-math-rendered] .mjx-s-9f6af5e741e59389 {padding-top: 0.05em;}
.math[data-math-rendered] .mjx-s-9fe52d3540d59133 {font-size: 113.1%; position: relative;}
.math[data-math-rendered] .mjx-s-a0a13055560f0001 {height: 2.482em;}
.math[data-math-rendered] .mjx-s-a204a40940345664 {padding-left: 0.147em;}
.math[data-math-rendered] .mjx-s-a4da56c56009cab9 {text-align: left; padding-left: 0; padding-top: 0.15em;}
.math[data-math-rendered] .mjx-s-a586e3e629adee94 {width: 21.488em;}
.math[data-math-rendered] .mjx-s-a70f84919c7c6e4f {vertical-align: 0.289em; margin-left: 0.051em;}
.math[data-math-rendered] .mjx-s-a7bd1bac28ccd2b2 {height: 3.162em;}
.math[data-math-rendered] .mjx-s-a992c46c64f653c1 {vertical-align: 0.413em;}
.math[data-math-rendered] .mjx-s-ac3c402ce9690842 {width: 21.832em;}
.math[data-math-rendered] .mjx-s-ac92ac9ce2af82fa {min-width: 27.64em;}
.math[data-math-rendered] .mjx-s-acfa1542b0b664b4 {width: 30.196em;}
.math[data-math-rendered] .mjx-s-aeb2949ce05478c8 {min-width: 12.31em;}
.math[data-math-rendered] .mjx-s-b0ee863c2c10211c {vertical-align: -0.307em; margin-left: -0.006em;}
.math[data-math-rendered] .mjx-s-b32ac7a8747564b1 {height: 0.453em;}
.math[data-math-rendered] .mjx-s-b60f14f9eb908b91 {margin-top: 0.18em;}
.math[data-math-rendered] .mjx-s-b709648e89810ce5 {vertical-align: -0.15em; margin-left: -0.104em;}
.math[data-math-rendered] .mjx-s-bb672fa752b1c451 {padding-left: 0.5em; padding-bottom: 0.2em;}
.math[data-math-rendered] .mjx-s-bbf3eafe63e6763e {vertical-align: 0.363em;}
.math[data-math-rendered] .mjx-s-bd828824777b04b9 {font-size: 113.1%; min-width: 14.881em; position: relative;}
.math[data-math-rendered] .mjx-s-c04caa36f8e0b5f4 {padding-top: 0.694em;}
.math[data-math-rendered] .mjx-s-c2de6d9f2a2fb7e0 {min-width: 14.881em;}
.math[data-math-rendered] .mjx-s-c31af321f2076734 {padding-left: 0.5em; padding-right: 0.5em; padding-top: 0.2em;}
.math[data-math-rendered] .mjx-s-c32a064a8bce7f7e {padding-left: 0.69em;}
.math[data-math-rendered] .mjx-s-c32a1d2752b150c8 {height: 2.233em;}
.math[data-math-rendered] .mjx-s-c52f98f57600cf0f {padding-left: 0.5em; padding-top: 0.2em;}
.math[data-math-rendered] .mjx-s-c7254d9ba7125c9c {min-width: 5em;}
.math[data-math-rendered] .mjx-s-c89d9b0341c49cda {width: auto; min-width: 4.212em; margin: 0 1.778em;}
.math[data-math-rendered] .mjx-s-c8a42c7c636f1af9 {height: 3.517em; vertical-align: -1.973em;}
.math[data-math-rendered] .mjx-s-c8aa9a8bfd7557db {width: 28.653em;}
.math[data-math-rendered] .mjx-s-c8c0a10ae672ab56 {vertical-align: -0.15em;}
.math[data-math-rendered] .mjx-s-cbe4675915caf839 {height: 1.134em; vertical-align: -0.25em;}
.math[data-math-rendered] .mjx-s-cd387e4e1907a604 {width: auto; min-width: 13.588em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-d0aeb3169932a837 {width: 16.144em;}
.math[data-math-rendered] .mjx-s-d0e602c714f0dcb0 {width: auto; min-width: 19.276em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-d15c19dec4196e1b {vertical-align: -0.15em; margin-left: -0.106em;}
.math[data-math-rendered] .mjx-s-d2be8f47dbe7065c {padding-right: 0.5em; padding-bottom: 0.2em;}
.math[data-math-rendered] .mjx-s-d53e4f41f4ff7456 {vertical-align: -0.229em;}
.math[data-math-rendered] .mjx-s-d569522e3728c3f7 {font-size: 113.1%; min-width: 12.31em; position: relative;}
.math[data-math-rendered] .mjx-s-d60f43109120f36e {width: 0.333em;}
.math[data-math-rendered] .mjx-s-d89db697e04d5d6c {height: 1.037em;}
.math[data-math-rendered] .mjx-s-db5a81551dc405ee {height: 1.134em;}
.math[data-math-rendered] .mjx-s-dcc31b3218312a3e {padding: 0.2em 0.5em;}
.math[data-math-rendered] .mjx-s-de54ac8fcf1d882b {font-size: 113.1%; min-width: 30.196em; position: relative;}
.math[data-math-rendered] .mjx-s-e0f9882775ebd1aa {font-size: 113.1%; min-width: 16.144em; position: relative;}
.math[data-math-rendered] .mjx-s-e1d24c42c111c9c8 {padding-left: 0.5em; padding-top: 0.2em; padding-bottom: 0.2em;}
.math[data-math-rendered] .mjx-s-e1ec42d69f0f52b3 {padding-right: 0.5em; padding-top: 0.2em;}
.math[data-math-rendered] .mjx-s-e31653a6527ff566 {min-width: 12.913em;}
.math[data-math-rendered] .mjx-s-e5266b8c141e5a89 {width: auto; min-width: 9.754em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-ea3e130b3461f2da {width: auto; min-width: 12.325em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-eb9f29b5a58f5eda {width: 12.31em;}
.math[data-math-rendered] .mjx-s-ecd50d499d99bfc4 {width: auto; min-width: 18.932em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-edec4017fb360cc5 {vertical-align: -0.15em; margin-left: -0.007em;}
.math[data-math-rendered] .mjx-s-ef633d2b284b4571 {padding-left: 3.353em;}
.math[data-math-rendered] .mjx-s-f1e074d99dcf1650 {padding-left: 1.027em;}
.math[data-math-rendered] .mjx-s-f22b18a44e9469ac {height: 2.233em; vertical-align: -0.891em;}
.math[data-math-rendered] .mjx-s-f3fc021305196823 {padding-bottom: 0.15em;}
.math[data-math-rendered] .mjx-s-f4682dc9b34154ac {font-size: 113.1%; min-width: 12.792em; position: relative;}
.math[data-math-rendered] .mjx-s-f51057c95df09dc7 {height: 0.715em;}
.math[data-math-rendered] .mjx-s-f7708527c693f8ae {width: 1em;}
.math[data-math-rendered] .mjx-s-f885aeda95ceefc6 {height: 0.705em;}
.math[data-math-rendered] .mjx-s-fba7d79f7450ccd9 {min-width: 5.715em;}
.math[data-math-rendered] .mjx-s-fc38af31877b6ca5 {vertical-align: 0.413em; margin-left: 0.052em;}
.math[data-math-rendered] .mjx-s-fc4da09c92a72068 {vertical-align: 0.491em;}
.math[data-math-rendered] .mjx-s-fd533bc1463e9165 {height: 2.424em;}
.math[data-math-rendered] .mjx-s-fe72401ab63f291d {min-width: 12.792em;}