
mjx-container[overflow="scroll"][display] {
  overflow: auto clip;
  min-width: initial !important;
}

mjx-container[overflow="truncate"][display] {
  overflow: hidden clip;
  min-width: initial !important;
}

mjx-container[display] {
  display: block;
  text-align: center;
  justify-content: center;
  margin: .7em 0;
  padding: .3em 2px;
}

mjx-container[display][width="full"] {
  display: flex;
}

mjx-container[justify="left"] {
  text-align: left;
  justify-content: left;
}

mjx-container[justify="right"] {
  text-align: right;
  justify-content: right;
}

mjx-container[jax="CHTML"] {
  white-space: nowrap;
}

mjx-mo > mjx-c, mjx-mi > mjx-c, mjx-mn > mjx-c, mjx-ms > mjx-c, mjx-mtext > mjx-c {
  clip-path: padding-box polygon(-1em -2px, calc(100% + 1em) -2px, calc(100% + 1em) calc(100% + 2px), -1em calc(100% + 2px));
}

mjx-stretchy-h {
  clip-path: padding-box polygon(0 -2px, 100% -2px, 100% calc(100% + 2px), 0 calc(100% + 2px));
  display: inline-block;
}

mjx-stretchy-v {
  clip-path: padding-box polygon(-2px 0, calc(100% + 2px) 0, calc(100% + 2px) 100%, -2px 100%);
  display: inline-block;
  text-align: center;
}

mjx-container [space="1"] {
  margin-left: .111em;
}

mjx-container [space="2"] {
  margin-left: .167em;
}

mjx-container [space="3"] {
  margin-left: .222em;
}

mjx-container [space="4"] {
  margin-left: .278em;
}

mjx-container [space="5"] {
  margin-left: .333em;
}

mjx-container [rspace="1"] {
  margin-right: .111em;
}

mjx-container [rspace="2"] {
  margin-right: .167em;
}

mjx-container [rspace="3"] {
  margin-right: .222em;
}

mjx-container [rspace="4"] {
  margin-right: .278em;
}

mjx-container [rspace="5"] {
  margin-right: .333em;
}

mjx-container [size="s"] {
  font-size: 70.7%;
}

mjx-container [size="ss"] {
  font-size: 50%;
}

mjx-container [size="Tn"] {
  font-size: 60%;
}

mjx-container [size="sm"] {
  font-size: 85%;
}

mjx-container [size="lg"] {
  font-size: 120%;
}

mjx-container [size="Lg"] {
  font-size: 144%;
}

mjx-container [size="LG"] {
  font-size: 173%;
}

mjx-container [size="hg"] {
  font-size: 207%;
}

mjx-container [size="HG"] {
  font-size: 249%;
}

mjx-container [width="full"] {
  width: 100%;
}

mjx-box {
  display: inline-block;
}

mjx-block {
  display: block;
}

mjx-itable {
  display: inline-table;
}

mjx-row {
  display: table-row;
}

mjx-row > mjx-cell, mjx-row > mjx-base, mjx-row > mjx-under, mjx-row > mjx-over, mjx-row > mjx-den {
  display: table-cell;
}

mjx-container [inline-breaks] {
  display: inline;
}

mjx-container .mjx-selected {
  outline: 2px solid black;
}

@media (prefers-color-scheme: dark) {
  mjx-container .mjx-selected {
    outline: 2px solid #C8C8C8;
  }
}

mjx-mtext {
  display: inline-block;
  text-align: left;
}

mjx-mstyle {
  display: inline-block;
}

mjx-merror {
  display: inline-block;
  color: red;
  background-color: yellow;
}

mjx-mphantom {
  visibility: hidden;
}

mjx-assistive-mml {
  position: absolute !important;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 1px, 1px 1px, 1px 0);
  padding: 1px 0px 0px 0px !important;
  border: 0px !important;
  display: block !important;
  width: auto !important;
  overflow: hidden !important;
  text-indent: 0px ! important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mjx-assistive-mml[display="block"] {
  width: 100% !important;
}

mjx-math {
  display: inline-block;
  text-align: left;
  line-height: 0;
  text-indent: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  font-size-adjust: none;
  letter-spacing: normal;
  word-wrap: normal;
  word-spacing: normal;
  direction: ltr;
  padding: 1px 0;
}

mjx-container[jax="CHTML"][display="true"] mjx-math {
  padding: 0;
}

mjx-math[breakable] {
  display: inline;
}

mjx-container[jax="CHTML"] mjx-break {
  white-space: normal;
  line-height: 0;
  clip-path: rect(0 0 0 0);
  font-family: MJX-BRK !important;
}

mjx-break[size="0"] {
  letter-spacing: -0.999em;
}

mjx-break[size="1"] {
  letter-spacing: -0.889em;
}

mjx-break[size="2"] {
  letter-spacing: -0.833em;
}

mjx-break[size="3"] {
  letter-spacing: -0.778em;
}

mjx-break[size="4"] {
  letter-spacing: -0.722em;
}

mjx-break[size="5"] {
  letter-spacing: -0.667em;
}

mjx-mi {
  display: inline-block;
  text-align: left;
}

mjx-c {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-utext {
  display: inline-block;
  padding: .75em 0 .2em 0;
}

mjx-mo {
  display: inline-block;
  text-align: left;
}

mjx-stretchy-h > mjx-beg, mjx-stretchy-h > mjx-ext, mjx-stretchy-h > mjx-end, mjx-stretchy-h > mjx-mid {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-stretchy-h > mjx-ext {
  clip-path: padding-box polygon(0 -1em, 100% -1em, 100% calc(100% + 1em), 0 calc(100% + 1em));
  width: 100%;
  border: 0px solid transparent;
  box-sizing: border-box;
  text-align: left;
}

mjx-stretchy-v > mjx-beg, mjx-stretchy-v > mjx-ext, mjx-stretchy-v > mjx-end, mjx-stretchy-v > mjx-mid {
  display: block;
  height: 0;
  margin: 0 auto;
}

mjx-stretchy-v > mjx-ext > mjx-spacer {
  display: block;
}

mjx-stretchy-v > mjx-ext {
  clip-path: padding-box polygon(-1em 0, calc(100% + 1em) 0, calc(100% + 1em) 100%, -1em 100%);
  height: 100%;
  border: 0.1px solid transparent;
  box-sizing: border-box;
  white-space: pre;
}

mjx-mark {
  display: inline-block;
  height: 0;
}

mjx-mn {
  display: inline-block;
  text-align: left;
}

mjx-msub {
  display: inline-block;
  text-align: left;
}

mjx-msubsup {
  display: inline-block;
  text-align: left;
}

mjx-script {
  display: inline-block;
  padding-right: .05em;
  padding-left: .033em;
}

mjx-script > mjx-spacer {
  display: block;
}

mjx-munder {
  display: inline-block;
  text-align: left;
}

mjx-over {
  text-align: left;
}

mjx-munder:not([limits="false"]) {
  display: inline-table;
}

mjx-munder > mjx-row {
  text-align: left;
}

mjx-under {
  padding-bottom: .1em;
}

mjx-TeXAtom {
  display: inline-block;
  text-align: left;
}

mjx-mfrac {
  display: inline-block;
  text-align: left;
}

mjx-frac {
  display: inline-block;
  vertical-align: 0.17em;
  padding: 0 .22em;
}

mjx-frac[type="d"] {
  vertical-align: .04em;
}

mjx-frac[delims] {
  padding: 0 .1em;
}

mjx-frac[atop] {
  padding: 0 .12em;
}

mjx-frac[atop][delims] {
  padding: 0;
}

mjx-dtable {
  display: inline-table;
  width: 100%;
}

mjx-dtable > mjx-line, mjx-dtable > mjx-row {
  font-size: 2000%;
}

mjx-dbox {
  display: block;
  font-size: 5%;
}

mjx-num {
  display: block;
  text-align: center;
}

mjx-den {
  display: block;
  text-align: center;
}

mjx-mfrac[bevelled] > mjx-num {
  display: inline-block;
}

mjx-mfrac[bevelled] > mjx-den {
  display: inline-block;
}

mjx-den[align="right"], mjx-num[align="right"] {
  text-align: right;
}

mjx-den[align="left"], mjx-num[align="left"] {
  text-align: left;
}

mjx-nstrut {
  display: inline-block;
  height: .054em;
  width: 0;
  vertical-align: -.054em;
}

mjx-nstrut[type="d"] {
  height: .217em;
  vertical-align: -.217em;
}

mjx-dstrut {
  display: inline-block;
  height: .505em;
  width: 0;
}

mjx-dstrut[type="d"] {
  height: .726em;
}

mjx-line {
  display: block;
  box-sizing: border-box;
  min-height: 1px;
  height: .06em;
  border-top: .075em solid;
  margin: .06em -.1em;
  overflow: hidden;
}

mjx-line[type="d"] {
  margin: .18em -.1em;
}

mjx-mrow {
  display: inline-block;
  text-align: left;
}

mjx-linestack, mjx-mrow[break-top] {
  display: inline-table;
  width: 100%;
}

mjx-linestack[break-align="bottom"], mjx-mrow[break-top][break-align="bottom"] {
  display: inline-block;
}

mjx-linestack[break-align="middle"], mjx-mrow[break-top][break-align="middle"] {
  vertical-align: middle;
}

mjx-linestack[break-align="center"], mjx-mrow[break-top][break-align="center"] {
  vertical-align: middle;
}

mjx-linestack[breakable] {
  display: inline;
}

mjx-linestack[breakable] > mjx-linebox {
  display: inline;
}

mjx-linestack[breakable] > mjx-linebox::before {
  white-space: pre;
  content: "\A";
}

mjx-linestack[breakable] > mjx-linebox::after {
  white-space: normal;
  content: " ";
  letter-spacing: -.999em;
  font-family: MJX-BRK;
}

mjx-linestack[breakable] > mjx-linebox:first-of-type::before {
  display: none;
}

mjx-linestack[breakable] > mjx-linebox:last-of-type::after {
  display: none;
}

mjx-linebox {
  display: block;
}

mjx-linebox[align="left"] {
  text-align: left;
}

mjx-linebox[align="center"] {
  text-align: center;
}

mjx-linebox[align="right"] {
  text-align: right;
}

mjx-linestrut {
  display: inline-block;
  height: 1em;
  vertical-align: -.25em;
}

mjx-msup {
  display: inline-block;
  text-align: left;
}

mjx-mspace {
  display: inline-block;
  text-align: left;
}

mjx-mtable {
  display: inline-block;
  text-align: center;
  vertical-align: .25em;
  position: relative;
  box-sizing: border-box;
  border-spacing: 0;
  border-collapse: collapse;
}

mjx-mstyle[size="s"] mjx-mtable {
  vertical-align: .354em;
}

mjx-labels {
  position: absolute;
  left: 0;
  top: 0;
}

mjx-table {
  display: inline-block;
  vertical-align: -.5ex;
  box-sizing: border-box;
}

mjx-table > mjx-itable {
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
}

mjx-labels > mjx-itable {
  position: absolute;
  top: 0;
}

mjx-mtable[justify="left"] {
  text-align: left;
}

mjx-mtable[justify="right"] {
  text-align: right;
}

mjx-mtable[justify="left"][side="left"] {
  padding-right: 0 ! important;
}

mjx-mtable[justify="left"][side="right"] {
  padding-left: 0 ! important;
}

mjx-mtable[justify="right"][side="left"] {
  padding-right: 0 ! important;
}

mjx-mtable[justify="right"][side="right"] {
  padding-left: 0 ! important;
}

mjx-mtable[align] {
  vertical-align: baseline;
}

mjx-mtable[align="top"] > mjx-table {
  vertical-align: top;
}

mjx-mtable[align="bottom"] > mjx-table {
  vertical-align: bottom;
}

mjx-mtable[side="right"] mjx-labels {
  min-width: 100%;
}

mjx-mtr {
  display: table-row;
  text-align: left;
}

mjx-mtr[rowalign="top"] > mjx-mtd {
  vertical-align: top;
}

mjx-mtr[rowalign="center"] > mjx-mtd {
  vertical-align: middle;
}

mjx-mtr[rowalign="bottom"] > mjx-mtd {
  vertical-align: bottom;
}

mjx-mtr[rowalign="baseline"] > mjx-mtd {
  vertical-align: baseline;
}

mjx-mtr[rowalign="axis"] > mjx-mtd {
  vertical-align: .25em;
}

mjx-mtd {
  display: table-cell;
  text-align: center;
  padding: .215em .4em;
}

mjx-mtd:first-child {
  padding-left: 0;
}

mjx-mtd:last-child {
  padding-right: 0;
}

mjx-mtable > * > mjx-itable > *:first-child > mjx-mtd {
  padding-top: 0;
}

mjx-mtable > * > mjx-itable > *:last-child > mjx-mtd {
  padding-bottom: 0;
}

mjx-tstrut {
  display: inline-block;
  height: 1em;
  vertical-align: -.25em;
}

mjx-labels[align="left"] > mjx-mtr > mjx-mtd {
  text-align: left;
}

mjx-labels[align="right"] > mjx-mtr > mjx-mtd {
  text-align: right;
}

mjx-mtd[extra] {
  padding: 0;
}

mjx-mtd[rowalign="top"] {
  vertical-align: top;
}

mjx-mtd[rowalign="center"] {
  vertical-align: middle;
}

mjx-mtd[rowalign="bottom"] {
  vertical-align: bottom;
}

mjx-mtd[rowalign="baseline"] {
  vertical-align: baseline;
}

mjx-mtd[rowalign="axis"] {
  vertical-align: .25em;
}

mjx-mlabeledtr {
  display: table-row;
  text-align: left;
}

mjx-mlabeledtr[rowalign="top"] > mjx-mtd {
  vertical-align: top;
}

mjx-mlabeledtr[rowalign="center"] > mjx-mtd {
  vertical-align: middle;
}

mjx-mlabeledtr[rowalign="bottom"] > mjx-mtd {
  vertical-align: bottom;
}

mjx-mlabeledtr[rowalign="baseline"] > mjx-mtd {
  vertical-align: baseline;
}

mjx-mlabeledtr[rowalign="axis"] > mjx-mtd {
  vertical-align: .25em;
}

mjx-munderover {
  display: inline-block;
  text-align: left;
}

mjx-munderover:not([limits="false"]) {
  padding-top: .1em;
}

mjx-munderover:not([limits="false"]) > mjx-over, mjx-munderover:not([limits="false"]) > mjx-box {
  display: block;
}

mjx-container[jax="CHTML"] > mjx-math.TEX-N[breakable] > * {
  font-family: MJX-TEX-ZERO, MJX-TEX-N;
}

.TEX-N {
  font-family: MJX-TEX-ZERO, MJX-TEX-N;
}

.TEX-B {
  font-family: MJX-TEX-ZERO, MJX-TEX-B;
}

.TEX-I {
  font-family: MJX-TEX-ZERO, MJX-TEX-I;
}

.TEX-BI {
  font-family: MJX-TEX-ZERO, MJX-TEX-BI;
}

.TEX-F {
  font-family: MJX-TEX-ZERO, MJX-TEX-F;
}

.TEX-FB {
  font-family: MJX-TEX-ZERO, MJX-TEX-FB;
}

.TEX-SS {
  font-family: MJX-TEX-ZERO, MJX-TEX-SS;
}

.TEX-SSB {
  font-family: MJX-TEX-ZERO, MJX-TEX-SSB;
}

.TEX-SSI {
  font-family: MJX-TEX-ZERO, MJX-TEX-SSI;
}

.TEX-M {
  font-family: MJX-TEX-ZERO, MJX-TEX-M;
}

.TEX-SO {
  font-family: MJX-TEX-ZERO, MJX-TEX-SO;
}

.TEX-LO {
  font-family: MJX-TEX-ZERO, MJX-TEX-LO;
}

.TEX-C {
  font-family: MJX-TEX-ZERO, MJX-TEX-C;
}

.TEX-CB {
  font-family: MJX-TEX-ZERO, MJX-TEX-CB;
}

.TEX-OS {
  font-family: MJX-TEX-ZERO, MJX-TEX-OS;
}

.TEX-OB {
  font-family: MJX-TEX-ZERO, MJX-TEX-OB;
}

.TEX-MI {
  font-family: MJX-TEX-ZERO, MJX-TEX-MI;
}

.TEX-V {
  font-family: MJX-TEX-ZERO, MJX-TEX-V;
}

.TEX-S3 {
  font-family: MJX-TEX-ZERO, MJX-TEX-S3;
}

.TEX-S4 {
  font-family: MJX-TEX-ZERO, MJX-TEX-S4;
}

@font-face /* MJX-TEX-ZERO */ {
  font-family: MJX-TEX-ZERO;
  src: url("./fonts/mjx-tex-zero.woff2") format("woff2");
}

@font-face /* MJX-BRK */ {
  font-family: MJX-BRK;
  src: url("./fonts/mjx-tex-brk.woff2") format("woff2");
}

@font-face /* MJX-TEX-N */ {
  font-family: MJX-TEX-N;
  src: url("./fonts/mjx-tex-n.woff2") format("woff2");
}

@font-face /* MJX-TEX-B */ {
  font-family: MJX-TEX-B;
  src: url("./fonts/mjx-tex-b.woff2") format("woff2");
}

@font-face /* MJX-TEX-I */ {
  font-family: MJX-TEX-I;
  src: url("./fonts/mjx-tex-i.woff2") format("woff2");
}

@font-face /* MJX-TEX-BI */ {
  font-family: MJX-TEX-BI;
  src: url("./fonts/mjx-tex-bi.woff2") format("woff2");
}

@font-face /* MJX-TEX-F */ {
  font-family: MJX-TEX-F;
  src: url("./fonts/mjx-tex-f.woff2") format("woff2");
}

@font-face /* MJX-TEX-FB */ {
  font-family: MJX-TEX-FB;
  src: url("./fonts/mjx-tex-fb.woff2") format("woff2");
}

@font-face /* MJX-TEX-SS */ {
  font-family: MJX-TEX-SS;
  src: url("./fonts/mjx-tex-ss.woff2") format("woff2");
}

@font-face /* MJX-TEX-SSB */ {
  font-family: MJX-TEX-SSB;
  src: url("./fonts/mjx-tex-ssb.woff2") format("woff2");
}

@font-face /* MJX-TEX-SSI */ {
  font-family: MJX-TEX-SSI;
  src: url("./fonts/mjx-tex-ssi.woff2") format("woff2");
}

@font-face /* MJX-TEX-M */ {
  font-family: MJX-TEX-M;
  src: url("./fonts/mjx-tex-m.woff2") format("woff2");
}

@font-face /* MJX-TEX-SO */ {
  font-family: MJX-TEX-SO;
  src: url("./fonts/mjx-tex-so.woff2") format("woff2");
}

@font-face /* MJX-TEX-LO */ {
  font-family: MJX-TEX-LO;
  src: url("./fonts/mjx-tex-lo.woff2") format("woff2");
}

@font-face /* MJX-TEX-C */ {
  font-family: MJX-TEX-C;
  src: url("./fonts/mjx-tex-c.woff2") format("woff2");
}

@font-face /* MJX-TEX-CB */ {
  font-family: MJX-TEX-CB;
  src: url("./fonts/mjx-tex-cb.woff2") format("woff2");
}

@font-face /* MJX-TEX-OS */ {
  font-family: MJX-TEX-OS;
  src: url("./fonts/mjx-tex-os.woff2") format("woff2");
}

@font-face /* MJX-TEX-OB */ {
  font-family: MJX-TEX-OB;
  src: url("./fonts/mjx-tex-ob.woff2") format("woff2");
}

@font-face /* MJX-TEX-MI */ {
  font-family: MJX-TEX-MI;
  src: url("./fonts/mjx-tex-mi.woff2") format("woff2");
}

@font-face /* MJX-TEX-V */ {
  font-family: MJX-TEX-V;
  src: url("./fonts/mjx-tex-v.woff2") format("woff2");
}

@font-face /* MJX-TEX-S3 */ {
  font-family: MJX-TEX-S3;
  src: url("./fonts/mjx-tex-s3.woff2") format("woff2");
}

@font-face /* MJX-TEX-S4 */ {
  font-family: MJX-TEX-S4;
  src: url("./fonts/mjx-tex-s4.woff2") format("woff2");
}

mjx-stretchy-v.mjx-c28 > mjx-beg {
  width: 0.875em;
  margin: 1.154em auto -1.154em;
}

mjx-stretchy-v.mjx-c28 > mjx-ext > mjx-spacer {
  margin-top: 0.259em;
}

mjx-stretchy-v.mjx-c28 > mjx-ext {
  width: 0.875em;
  line-height: 0.562em;
  border-width: 1.779em 0 1.779em;
}

mjx-stretchy-v.mjx-c28 > mjx-end {
  width: 0.875em;
  margin: -0.644em auto 0.644em;
}

mjx-stretchy-v.mjx-c29 > mjx-beg {
  width: 0.875em;
  margin: 1.154em auto -1.154em;
}

mjx-stretchy-v.mjx-c29 > mjx-ext > mjx-spacer {
  margin-top: 0.259em;
}

mjx-stretchy-v.mjx-c29 > mjx-ext {
  width: 0.875em;
  line-height: 0.562em;
  border-width: 1.779em 0 1.779em;
}

mjx-stretchy-v.mjx-c29 > mjx-end {
  width: 0.875em;
  margin: -0.644em auto 0.644em;
}

mjx-c.mjx-c1D443 {
  padding: 0.683em 0.751em 0 0;
}

mjx-c.mjx-c7C {
  padding: 0.75em 0.278em 0.249em 0;
}

mjx-c.mjx-c2265 {
  padding: 0.636em 0.778em 0.138em 0;
}

mjx-c.mjx-c32 {
  padding: 0.666em 0.5em 0 0;
}

mjx-c.mjx-c1D44E {
  padding: 0.441em 0.529em 0.01em 0;
}

mjx-c.mjx-c31 {
  padding: 0.666em 0.5em 0 0;
}

mjx-c.mjx-c3C {
  padding: 0.54em 0.778em 0.04em 0;
}

mjx-c.mjx-c22EF {
  padding: 0.31em 1.172em 0 0;
}

mjx-c.mjx-c2211.TEX-LO {
  padding: 0.95em 1.444em 0.45em 0;
}

mjx-c.mjx-c1D45B {
  padding: 0.442em 0.6em 0.011em 0;
}

mjx-c.mjx-c5B {
  padding: 0.75em 0.278em 0.25em 0;
}

mjx-c.mjx-c2C {
  padding: 0.121em 0.278em 0.194em 0;
}

mjx-c.mjx-c2026 {
  padding: 0.12em 1.172em 0 0;
}

mjx-c.mjx-c5D {
  padding: 0.75em 0.278em 0.25em 0;
}

mjx-c.mjx-c3D {
  padding: 0.367em 0.778em 0 0;
}

mjx-c.mjx-c33 {
  padding: 0.665em 0.5em 0.022em 0;
}

mjx-c.mjx-c7B {
  padding: 0.75em 0.5em 0.25em 0;
}

mjx-c.mjx-c1D45D {
  padding: 0.442em 0.503em 0.194em 0;
}

mjx-c.mjx-c7D {
  padding: 0.75em 0.5em 0.25em 0;
}

mjx-c.mjx-c2212 {
  padding: 0.583em 0.778em 0.082em 0;
}

mjx-c.mjx-c2F {
  padding: 0.75em 0.5em 0.25em 0;
}

mjx-c.mjx-c28 {
  padding: 0.75em 0.389em 0.25em 0;
}

mjx-c.mjx-c29 {
  padding: 0.75em 0.389em 0.25em 0;
}

mjx-c.mjx-c52.TEX-C {
  padding: 0.682em 0.848em 0.022em 0;
}

mjx-c.mjx-c44.TEX-C {
  padding: 0.683em 0.771em 0 0;
}

mjx-c.mjx-c1D45E {
  padding: 0.442em 0.46em 0.194em 0;
}

mjx-c.mjx-c1D434 {
  padding: 0.716em 0.75em 0 0;
}

mjx-c.mjx-c35 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c1D45F {
  padding: 0.442em 0.451em 0.011em 0;
}

mjx-c.mjx-c1D456 {
  padding: 0.661em 0.345em 0.011em 0;
}

mjx-c.mjx-c1D457 {
  padding: 0.661em 0.412em 0.204em 0;
}

mjx-c.mjx-c1D458 {
  padding: 0.694em 0.521em 0.011em 0;
}

mjx-c.mjx-c30 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c1D465 {
  padding: 0.442em 0.572em 0.011em 0;
}

mjx-c.mjx-c4C {
  padding: 0.683em 0.625em 0 0;
}

mjx-c.mjx-c2061 {
  padding: 0 0 0 0;
}

mjx-c.mjx-c6C {
  padding: 0.694em 0.278em 0 0;
}

mjx-c.mjx-c63 {
  padding: 0.448em 0.444em 0.011em 0;
}

mjx-c.mjx-c6D {
  padding: 0.442em 0.833em 0 0;
}

mjx-c.mjx-c2264 {
  padding: 0.636em 0.778em 0.138em 0;
}

mjx-c.mjx-c3A {
  padding: 0.43em 0.278em 0 0;
}

mjx-c.mjx-cA0 {
  padding: 0 0.25em 0 0;
}

mjx-c.mjx-c73 {
  padding: 0.448em 0.394em 0.011em 0;
}

mjx-c.mjx-c6F {
  padding: 0.448em 0.5em 0.01em 0;
}

mjx-c.mjx-c74 {
  padding: 0.615em 0.389em 0.01em 0;
}

mjx-c.mjx-c68 {
  padding: 0.694em 0.556em 0 0;
}

mjx-c.mjx-c48 {
  padding: 0.683em 0.75em 0 0;
}

mjx-c.mjx-c230A {
  padding: 0.75em 0.444em 0.25em 0;
}

mjx-c.mjx-c67 {
  padding: 0.453em 0.5em 0.206em 0;
}

mjx-c.mjx-c230B {
  padding: 0.75em 0.444em 0.25em 0;
}

mjx-c.mjx-c1D44F {
  padding: 0.694em 0.429em 0.011em 0;
}

mjx-c.mjx-c1D452 {
  padding: 0.442em 0.466em 0.011em 0;
}

mjx-c.mjx-c4B {
  padding: 0.683em 0.778em 0 0;
}

mjx-c.mjx-c2E {
  padding: 0.12em 0.278em 0 0;
}

mjx-c.mjx-c3A8 {
  padding: 0.683em 0.778em 0 0;
}

mjx-c.mjx-c1D466 {
  padding: 0.442em 0.496em 0.205em 0;
}

mjx-c.mjx-c2208 {
  padding: 0.54em 0.667em 0.04em 0;
}

mjx-c.mjx-c2223 {
  padding: 0.75em 0.278em 0.249em 0;
}

mjx-c.mjx-c1D441 {
  padding: 0.683em 0.888em 0 0;
}

mjx-c.mjx-c220F.TEX-SO {
  padding: 0.75em 0.944em 0.25em 0;
}

mjx-c.mjx-c1D461 {
  padding: 0.626em 0.361em 0.011em 0;
}

mjx-c.mjx-c1D713 {
  padding: 0.694em 0.651em 0.205em 0;
}

mjx-c.mjx-c34 {
  padding: 0.677em 0.5em 0 0;
}

mjx-c.mjx-c36 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c37 {
  padding: 0.676em 0.5em 0.022em 0;
}

mjx-c.mjx-c38 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c39 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c22C5 {
  padding: 0.31em 0.278em 0 0;
}

mjx-c.mjx-c2B {
  padding: 0.583em 0.778em 0.082em 0;
}

mjx-c.mjx-c42.TEX-C {
  padding: 0.705em 0.664em 0.022em 0;
}

mjx-c.mjx-c210E {
  padding: 0.694em 0.576em 0.011em 0;
}

mjx-c.mjx-c1D439 {
  padding: 0.68em 0.749em 0 0;
}

mjx-c.mjx-c1D43B {
  padding: 0.683em 0.888em 0 0;
}

mjx-c.mjx-c2211.TEX-SO {
  padding: 0.75em 1.056em 0.25em 0;
}

mjx-c.mjx-c23 {
  padding: 0.694em 0.833em 0.194em 0;
}

mjx-c.mjx-c1D70F {
  padding: 0.431em 0.517em 0.013em 0;
}

mjx-c.mjx-c1D451 {
  padding: 0.694em 0.523em 0.01em 0;
}

mjx-c.mjx-c1D460 {
  padding: 0.442em 0.469em 0.01em 0;
}

mjx-c.mjx-c1D706 {
  padding: 0.694em 0.583em 0.012em 0;
}

mjx-c.mjx-c1D702 {
  padding: 0.442em 0.503em 0.216em 0;
}

mjx-c.mjx-c53.TEX-C {
  padding: 0.705em 0.642em 0.022em 0;
}

mjx-c.mjx-c1D464 {
  padding: 0.443em 0.716em 0.011em 0;
}

mjx-c.mjx-c2032 {
  padding: 0.56em 0.275em 0 0;
}

mjx-c.mjx-c3E {
  padding: 0.54em 0.778em 0.04em 0;
}

mjx-c.mjx-c1D450 {
  padding: 0.442em 0.433em 0.011em 0;
}

mjx-c.mjx-c1D43F {
  padding: 0.683em 0.681em 0 0;
}

mjx-c.mjx-c222A {
  padding: 0.598em 0.667em 0.022em 0;
}

mjx-c.mjx-c1D703 {
  padding: 0.705em 0.469em 0.01em 0;
}

mjx-c.mjx-c1D45A {
  padding: 0.442em 0.878em 0.011em 0;
}

mjx-c.mjx-c1D6FF {
  padding: 0.717em 0.451em 0.01em 0;
}

mjx-c.mjx-c1D435 {
  padding: 0.683em 0.759em 0 0;
}

mjx-c.mjx-c2217 {
  padding: 0.465em 0.5em 0 0;
}

mjx-c.mjx-c28.TEX-LO {
  padding: 1.15em 0.597em 0.649em 0;
}

mjx-c.mjx-c29.TEX-LO {
  padding: 1.15em 0.597em 0.649em 0;
}

mjx-c.mjx-c1D436 {
  padding: 0.705em 0.76em 0.022em 0;
}

mjx-c.mjx-c1D6FD {
  padding: 0.705em 0.573em 0.194em 0;
}

mjx-c.mjx-c1D6FC {
  padding: 0.442em 0.64em 0.011em 0;
}

mjx-c.mjx-c1D70C {
  padding: 0.442em 0.517em 0.216em 0;
}

mjx-c.mjx-c28.TEX-S3 {
  padding: 1.45em 0.736em 0.949em 0;
}

mjx-c.mjx-c29.TEX-S3 {
  padding: 1.45em 0.736em 0.949em 0;
}

mjx-c.mjx-c2260 {
  padding: 0.716em 0.778em 0.215em 0;
}

mjx-c.mjx-c1D453 {
  padding: 0.705em 0.55em 0.205em 0;
}

mjx-c.mjx-c1D454 {
  padding: 0.442em 0.48em 0.205em 0;
}

mjx-c.mjx-c64 {
  padding: 0.694em 0.556em 0.011em 0;
}

mjx-c.mjx-c65 {
  padding: 0.448em 0.444em 0.011em 0;
}

mjx-c.mjx-c1D43C {
  padding: 0.683em 0.504em 0 0;
}

mjx-c.mjx-c1D43D {
  padding: 0.683em 0.633em 0.022em 0;
}

mjx-c.mjx-c2192 {
  padding: 0.511em 1em 0.011em 0;
}

mjx-c.mjx-c2115 {
  padding: 0.683em 0.722em 0.02em 0;
}

mjx-c.mjx-c2113 {
  padding: 0.705em 0.417em 0.02em 0;
}

mjx-c.mjx-c211A {
  padding: 0.701em 0.778em 0.181em 0;
}

mjx-c.mjx-c1D43A {
  padding: 0.705em 0.786em 0.022em 0;
}

mjx-c.mjx-c1D463 {
  padding: 0.443em 0.485em 0.011em 0;
}

mjx-c.mjx-c1D445 {
  padding: 0.683em 0.759em 0.021em 0;
}

mjx-c.mjx-c22EE {
  padding: 1.3em 0.278em 0.03em 0;
}

mjx-c.mjx-c22F1 {
  padding: 1.42em 1.282em 0 0;
}

mjx-c.mjx-cD7 {
  padding: 0.491em 0.778em 0 0;
}

mjx-c.mjx-c69 {
  padding: 0.669em 0.278em 0 0;
}

mjx-c.mjx-c6E {
  padding: 0.442em 0.556em 0 0;
}

mjx-c.mjx-c66 {
  padding: 0.705em 0.372em 0 0;
}

mjx-c.mjx-c75 {
  padding: 0.442em 0.556em 0.011em 0;
}

mjx-c.mjx-c70 {
  padding: 0.442em 0.556em 0.194em 0;
}

mjx-c.mjx-c1D700 {
  padding: 0.452em 0.466em 0.022em 0;
}

mjx-c.mjx-c2016 {
  padding: 0.777em 0.5em 0.277em 0;
}

mjx-c.mjx-c221E {
  padding: 0.442em 1em 0.011em 0;
}

mjx-c.mjx-c1D44A {
  padding: 0.683em 1.048em 0.022em 0;
}

mjx-c.mjx-c1D449 {
  padding: 0.683em 0.769em 0.022em 0;
}

mjx-c.mjx-c2229 {
  padding: 0.598em 0.667em 0.022em 0;
}

mjx-c.mjx-c1D446 {
  padding: 0.705em 0.645em 0.022em 0;
}

mjx-c.mjx-c1D448 {
  padding: 0.683em 0.767em 0.022em 0;
}

mjx-c.mjx-c1D44B {
  padding: 0.683em 0.852em 0 0;
}

mjx-c.mjx-c220F.TEX-LO {
  padding: 0.95em 1.278em 0.45em 0;
}

mjx-c.mjx-c72 {
  padding: 0.442em 0.392em 0 0;
}

mjx-c.mjx-c61 {
  padding: 0.448em 0.5em 0.011em 0;
}

mjx-c.mjx-c2D {
  padding: 0.252em 0.333em 0 0;
}

mjx-c.mjx-c77 {
  padding: 0.431em 0.722em 0.011em 0;
}

mjx-c.mjx-c1D462 {
  padding: 0.442em 0.572em 0.011em 0;
}

mjx-c.mjx-c1D70E {
  padding: 0.431em 0.572em 0.011em 0;
}

mjx-c.mjx-c2124 {
  padding: 0.683em 0.667em 0.001em 0;
}

mjx-c.mjx-c1D467 {
  padding: 0.442em 0.468em 0.011em 0;
}

mjx-c.mjx-c1D444 {
  padding: 0.704em 0.791em 0.194em 0;
}

mjx-c.mjx-c78 {
  padding: 0.431em 0.528em 0 0;
}

mjx-c.mjx-c1D43E {
  padding: 0.683em 0.889em 0 0;
}

mjx-c.mjx-c230A.TEX-LO {
  padding: 1.15em 0.528em 0.649em 0;
}

mjx-c.mjx-c230B.TEX-LO {
  padding: 1.15em 0.528em 0.649em 0;
}

mjx-c.mjx-c230A.TEX-S3 {
  padding: 1.45em 0.583em 0.949em 0;
}

mjx-c.mjx-c230B.TEX-S3 {
  padding: 1.45em 0.583em 0.949em 0;
}

mjx-c.mjx-c1D437 {
  padding: 0.683em 0.828em 0 0;
}

mjx-c.mjx-c1D440 {
  padding: 0.683em 1.051em 0 0;
}

mjx-c.mjx-c2261 {
  padding: 0.464em 0.778em 0 0;
}

mjx-c.mjx-c1D5A4 {
  padding: 0.691em 0.597em 0 0;
}

mjx-c.mjx-c20 {
  padding: 0 0.25em 0 0;
}

mjx-c.mjx-c76 {
  padding: 0.431em 0.528em 0.011em 0;
}

mjx-c.mjx-c79 {
  padding: 0.431em 0.528em 0.204em 0;
}

mjx-c.mjx-c27FA {
  padding: 0.525em 1.858em 0.024em 0;
}

mjx-c.mjx-c2209 {
  padding: 0.716em 0.667em 0.215em 0;
}

mjx-c.mjx-c27F6 {
  padding: 0.511em 1.638em 0.011em 0;
}

mjx-c.mjx-c1D45C {
  padding: 0.441em 0.485em 0.011em 0;
}

mjx-c.mjx-c1D70B {
  padding: 0.431em 0.573em 0.011em 0;
}



.math[data-math-rendered] .mjx-s-008877658b08be44 {vertical-align: 0.378em; margin-left: 0.051em;}
.math[data-math-rendered] .mjx-s-03747f46999a2529 {height: 2.574em;}
.math[data-math-rendered] .mjx-s-03c30091c16fc832 {border-left: .07em solid; padding: 0.2em 0.5em;}
.math[data-math-rendered] .mjx-s-08b347c080c31c18 {height: 1.45em;}
.math[data-math-rendered] .mjx-s-09644c1f4bf7473b {min-width: 19.267em;}
.math[data-math-rendered] .mjx-s-0a08cda1d7073688 {height: 1em; vertical-align: -0.25em;}
.math[data-math-rendered] .mjx-s-0a69e26c218d8277 {width: auto; min-width: 15.416em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-0df9cf6740c68079 {width: 0.444em;}
.math[data-math-rendered] .mjx-s-0dfb028a23c435d0 {margin-top: 0.298em;}
.math[data-math-rendered] .mjx-s-0f27a7484c2765d8 {min-width: 19.813em;}
.math[data-math-rendered] .mjx-s-14108494da317393 {min-width: 23.045em;}
.math[data-math-rendered] .mjx-s-147294e914a17e29 {height: 2.424em; vertical-align: -0.88em;}
.math[data-math-rendered] .mjx-s-14a5068b48f060d7 {vertical-align: 0.289em;}
.math[data-math-rendered] .mjx-s-156a4f4018c1c874 {vertical-align: -0.153em; margin-left: -0.006em;}
.math[data-math-rendered] .mjx-s-15940cb3fea5b425 {width: auto; min-width: 31.535em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-15b226ad33038af9 {padding-top: 0.676em;}
.math[data-math-rendered] .mjx-s-17058f33c4c5b622 {padding-top: 0.677em;}
.math[data-math-rendered] .mjx-s-19a6470975038300 {padding-top: 0.666em;}
.math[data-math-rendered] .mjx-s-1b7a0bc9de28ffa5 {font-size: 113.1%; min-width: 24.131em; position: relative;}
.math[data-math-rendered] .mjx-s-1dab9a256d343432 {text-align: right; padding-right: 0; padding-bottom: 0.15em;}
.math[data-math-rendered] .mjx-s-1efeaba3a7e38f36 {vertical-align: 0.363em; margin-left: 0.05em;}
.math[data-math-rendered] .mjx-s-1f82c39128866177 {text-align: right; padding-right: 0; padding-top: 0.15em; padding-bottom: 0.15em;}
.math[data-math-rendered] .mjx-s-1fc1f9182bc3155d {padding-top: 0.448em;}
.math[data-math-rendered] .mjx-s-22b844349bcb6a92 {height: 0.992em;}
.math[data-math-rendered] .mjx-s-2331c8871781bb79 {height: 2.498em; vertical-align: -0.949em;}
.math[data-math-rendered] .mjx-s-242bb38e73e8d342 {height: 1.282em;}
.math[data-math-rendered] .mjx-s-253c7a2b9e280f4b {height: 2.783em; vertical-align: -1.424em;}
.math[data-math-rendered] .mjx-s-268e74ad40245ffd {padding-left: 0.5em; padding-right: 0.5em; padding-bottom: 0.2em;}
.math[data-math-rendered] .mjx-s-28f530d4a184d6b7 {height: 2.783em;}
.math[data-math-rendered] .mjx-s-2b2ac7590866be57 {text-align: right; border-left: .07em solid; padding: 0.2em 0.5em 0.125em;}
.math[data-math-rendered] .mjx-s-2d1f4075e72a1bef {min-width: 21.444em;}
.math[data-math-rendered] .mjx-s-2e78b123c0941d6c {vertical-align: -0.15em; margin-left: -0.045em;}
.math[data-math-rendered] .mjx-s-2f023ba0bb4595f1 {vertical-align: -0.15em; margin-left: -0.04em;}
.math[data-math-rendered] .mjx-s-2f8cf05278a17119 {vertical-align: -0.294em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-305db6d0d54afeb2 {padding-top: 0.167em; padding-left: 0.123em;}
.math[data-math-rendered] .mjx-s-319bebf5d4d2ceb4 {width: 30.671em;}
.math[data-math-rendered] .mjx-s-31b7a1bba6ff493a {min-width: 7.768em;}
.math[data-math-rendered] .mjx-s-328e01a468558782 {vertical-align: -0.297em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-34b5a972db1a86ee {right: 0;}
.math[data-math-rendered] .mjx-s-37542700fc467905 {height: 0.698em;}
.math[data-math-rendered] .mjx-s-3b397c4d4ef6be2e {border-left: .07em solid; padding: 0.2em 0.5em 0.125em;}
.math[data-math-rendered] .mjx-s-3b826315ad52da11 {padding-left: 2.814em;}
.math[data-math-rendered] .mjx-s-3c17698e3282bc07 {padding-top: 0.15em;}
.math[data-math-rendered] .mjx-s-3d5ef38ccb3fbf30 {font-size: 113.1%; min-width: 34.091em; position: relative;}
.math[data-math-rendered] .mjx-s-3d8c8a4cce471a08 {min-width: 48.903em;}
.math[data-math-rendered] .mjx-s-3df1c7fdac1409ed {width: 2em;}
.math[data-math-rendered] .mjx-s-3ef6afeeccdf4438 {height: 2.498em;}
.math[data-math-rendered] .mjx-s-3efc0be1598509ae {width: 21.444em;}
.math[data-math-rendered] .mjx-s-41110406ce5ab4c6 {width: auto; min-width: 27.115em; margin: 0 1.778em;}
.math[data-math-rendered] .mjx-s-411c2f9597fa29d6 {padding-top: 0.167em;}
.math[data-math-rendered] .mjx-s-41eca906282436b7 {min-width: 28.597em;}
.math[data-math-rendered] .mjx-s-42d84a412264a470 {width: 24.131em;}
.math[data-math-rendered] .mjx-s-475e09ccc69eebbe {padding: 0.2em 0.5em; border-top: .07em solid;}
.math[data-math-rendered] .mjx-s-481146eeacf96eab {vertical-align: -0.15em; margin-left: -0.084em;}
.math[data-math-rendered] .mjx-s-4994b2bc01876d8a {vertical-align: -0.15em; margin-left: -0.006em;}
.math[data-math-rendered] .mjx-s-4a7c21d023b1db0a {font-size: 113.1%; min-width: 28.597em; position: relative;}
.math[data-math-rendered] .mjx-s-4ac914a24aa82932 {width: 7.768em;}
.math[data-math-rendered] .mjx-s-4be8fdc026387e12 {width: auto; min-width: 9.929em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-4c637e2f8311ef22 {width: 37.042em;}
.math[data-math-rendered] .mjx-s-4c67552c5ea27b61 {font-size: 113.1%; min-width: 24.002em; position: relative;}
.math[data-math-rendered] .mjx-s-4f5986eae22e8e1d {width: 24.002em;}
.math[data-math-rendered] .mjx-s-4f6313515bcdcdf9 {padding-right: 0.5em; padding-top: 0.2em; padding-bottom: 0.2em;}
.math[data-math-rendered] .mjx-s-4f8f1877864e3947 {min-width: 37.042em;}
.math[data-math-rendered] .mjx-s-4fabe3e4688a6416 {height: 1em;}
.math[data-math-rendered] .mjx-s-50816d762f751f7f {height: 1.198em;}
.math[data-math-rendered] .mjx-s-51e90712c1d421d2 {font-size: 113.1%; min-width: 12.485em; position: relative;}
.math[data-math-rendered] .mjx-s-5268725969c5cbd1 {min-width: 24.131em;}
.math[data-math-rendered] .mjx-s-5347eb38b5a80655 {width: 30.419em;}
.math[data-math-rendered] .mjx-s-541e9753744ea5a2 {height: 0.677em;}
.math[data-math-rendered] .mjx-s-543320e3bc67254d {height: 2.574em; vertical-align: -1.424em;}
.math[data-math-rendered] .mjx-s-552bc6c973e0dd2f {padding-top: 0.167em; padding-left: 0.068em;}
.math[data-math-rendered] .mjx-s-5557e3e9d7d487e2 {padding-left: 0.547em;}
.math[data-math-rendered] .mjx-s-556c5a24e9142eee {text-align: right; border-left: .07em solid; padding: 0.125em 0.5em 0.2em;}
.math[data-math-rendered] .mjx-s-567108f9aa713b03 {vertical-align: -0.15em; margin-left: -0.024em;}
.math[data-math-rendered] .mjx-s-5a1f5bb7debc87dd {vertical-align: 0.378em;}
.math[data-math-rendered] .mjx-s-5afae0f720884bbb {padding-top: 0.167em; padding-left: 0.114em;}
.math[data-math-rendered] .mjx-s-5c7eda164105d874 {vertical-align: 0.413em; margin-left: 0.051em;}
.math[data-math-rendered] .mjx-s-5e6277b5da2fcae6 {vertical-align: -0.15em; margin-left: -0.064em;}
.math[data-math-rendered] .mjx-s-5ebb20d2be0d6461 {vertical-align: -0.15em; margin-left: -0.06em;}
.math[data-math-rendered] .mjx-s-5edf0425b5e3340d {vertical-align: -0.15em; margin-left: -0.001em;}
.math[data-math-rendered] .mjx-s-60633dd6623cbd1e {vertical-align: 0.877em;}
.math[data-math-rendered] .mjx-s-6064d04bfa8986d2 {height: 1.238em;}
.math[data-math-rendered] .mjx-s-606a3ce4a3b1f44a {text-align: left; padding-left: 0; padding-top: 0.15em; padding-bottom: 0.15em;}
.math[data-math-rendered] .mjx-s-606ea76cdfe6751b {text-align: right; border-left: .07em solid; padding: 0.2em 0.5em; border-top: .07em solid;}
.math[data-math-rendered] .mjx-s-60ac49baf1acedc0 {vertical-align: -0.177em;}
.math[data-math-rendered] .mjx-s-60d9c9d9f5606f4d {padding-bottom: 0.05em;}
.math[data-math-rendered] .mjx-s-614b92b40a2fd58b {vertical-align: -0.285em;}
.math[data-math-rendered] .mjx-s-6578789dc54ae46a {height: 0.841em;}
.math[data-math-rendered] .mjx-s-673802f7e799b034 {border-left: .07em solid; padding: 0.2em 0.5em 0.125em; border-top: .07em solid;}
.math[data-math-rendered] .mjx-s-687d8b557167bdce {height: 2.34em; vertical-align: -0.88em;}
.math[data-math-rendered] .mjx-s-6a311a3ce83e5644 {min-width: 29.76em;}
.math[data-math-rendered] .mjx-s-6b4e0b27a2c8d67a {text-align: right; border-left: .07em solid; padding: 0.2em 0.5em;}
.math[data-math-rendered] .mjx-s-6be1b29404504817 {vertical-align: -0.177em; margin-left: -0.006em;}
.math[data-math-rendered] .mjx-s-6c576990d7b4b5f4 {width: 0.167em;}
.math[data-math-rendered] .mjx-s-6cff5e249a6ecab5 {min-width: 29.458em;}
.math[data-math-rendered] .mjx-s-6f2f005f63e637dc {width: auto; min-width: 20.446em; margin: 0 1.778em;}
.math[data-math-rendered] .mjx-s-70345c8f2352875c {height: 0.871em;}
.math[data-math-rendered] .mjx-s-704be4b2905b0775 {padding-top: 0.167em; padding-left: 0.058em;}
.math[data-math-rendered] .mjx-s-715b8322ff150309 {vertical-align: 0.363em; margin-left: 0.051em;}
.math[data-math-rendered] .mjx-s-723b61fac7b77789 {height: NaNem;}
.math[data-math-rendered] .mjx-s-72a01a589f710a1a {vertical-align: -0.241em;}
.math[data-math-rendered] .mjx-s-73d3579987f78d65 {padding: 0.125em 0.5em 0.2em;}
.math[data-math-rendered] .mjx-s-7494b17a91143327 {height: 1.037em; vertical-align: -0.287em;}
.math[data-math-rendered] .mjx-s-755d980eecf3fc76 {padding-top: 0.167em; padding-left: 0.124em;}
.math[data-math-rendered] .mjx-s-76478643dabf03c4 {padding-left: 2.022em;}
.math[data-math-rendered] .mjx-s-7651de3d5b7acd7f {padding-bottom: 0.111em; padding-left: 0.03em;}
.math[data-math-rendered] .mjx-s-768acb8fd017725c {min-width: 27.115em;}
.math[data-math-rendered] .mjx-s-7947c17f34064210 {padding: 0.2em 0.5em 0.125em;}
.math[data-math-rendered] .mjx-s-798b90b3b612bd0e {width: auto; min-width: 27.204em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-7b6d7ba8f0fc0af7 {vertical-align: 0.413em; margin-left: 0.05em;}
.math[data-math-rendered] .mjx-s-7b94b79716ffc65c {padding-left: 1.762em;}
.math[data-math-rendered] .mjx-s-802f3b61f56dbfcf {padding-left: 0.065em;}
.math[data-math-rendered] .mjx-s-80b4433e14328c53 {vertical-align: 0.292em;}
.math[data-math-rendered] .mjx-s-811cd3f045ff0433 {vertical-align: -0.685em;}
.math[data-math-rendered] .mjx-s-81bbe10e401ad92c {font-size: 141.4%;}
.math[data-math-rendered] .mjx-s-822f18941dfda022 {padding-top: 0.167em; padding-left: 0.086em;}
.math[data-math-rendered] .mjx-s-82b4061417005eeb {text-align: left; padding-left: 0; padding-bottom: 0.15em;}
.math[data-math-rendered] .mjx-s-8368436f2018b75e {min-width: 12.485em;}
.math[data-math-rendered] .mjx-s-840867446b503a93 {padding-top: 0.167em; padding-left: 0.255em;}
.math[data-math-rendered] .mjx-s-84b84dc457c75542 {width: auto; min-width: 25.041em; margin: 0 1.778em;}
.math[data-math-rendered] .mjx-s-85bfad84602d82de {width: 14.881em;}
.math[data-math-rendered] .mjx-s-865bb3c7618ed7e7 {padding-top: 0.705em;}
.math[data-math-rendered] .mjx-s-88dad5708156d31f {vertical-align: -0.15em; margin-left: -0.003em;}
.math[data-math-rendered] .mjx-s-8a4bbc6c09b01e51 {min-width: 4.5em;}
.math[data-math-rendered] .mjx-s-8b3cdbed20c11573 {height: 2.34em;}
.math[data-math-rendered] .mjx-s-8ca2b7744c8aae23 {text-align: right; padding-right: 0; padding-top: 0.15em;}
.math[data-math-rendered] .mjx-s-8d71ffed06419ffc {height: 1.048em;}
.math[data-math-rendered] .mjx-s-8e02c200ac70853c {height: 2.482em; vertical-align: -0.991em;}
.math[data-math-rendered] .mjx-s-92e8168ae1235e85 {vertical-align: -0.153em; margin-left: -0.024em;}
.math[data-math-rendered] .mjx-s-9561742b60faf9f3 {vertical-align: -0.247em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-9759e8b6fbe82fd6 {width: 28.597em;}
.math[data-math-rendered] .mjx-s-97c50fd1d8ec5696 {height: 7.27em; vertical-align: -3.385em;}
.math[data-math-rendered] .mjx-s-999b7fd8a0a5e21c {height: 1.182em;}
.math[data-math-rendered] .mjx-s-9afb91c4b81d73c1 {height: 2.525em;}
.math[data-math-rendered] .mjx-s-9b8e0e1bce2f8013 {min-width: 30.671em;}
.math[data-math-rendered] .mjx-s-9c504272a791191a {vertical-align: -0.153em;}
.math[data-math-rendered] .mjx-s-9cf51815fa610f61 {margin-top: 0.392em;}
.math[data-math-rendered] .mjx-s-9d967f89dcc028d9 {font-size: 113.1%; min-width: 7.768em; position: relative;}
.math[data-math-rendered] .mjx-s-9f6af5e741e59389 {padding-top: 0.05em;}
.math[data-math-rendered] .mjx-s-9fc5af06a62ef8ef {width: 17.972em;}
.math[data-math-rendered] .mjx-s-9fe52d3540d59133 {font-size: 113.1%; position: relative;}
.math[data-math-rendered] .mjx-s-a07b8a899ec7d3c8 {font-size: 113.1%; min-width: 30.671em; position: relative;}
.math[data-math-rendered] .mjx-s-a0a13055560f0001 {height: 2.482em;}
.math[data-math-rendered] .mjx-s-a0aefe2d3aec6c7f {font-size: 113.1%; min-width: 21.444em; position: relative;}
.math[data-math-rendered] .mjx-s-a130c2c4659c0aa7 {padding-left: 0.016em;}
.math[data-math-rendered] .mjx-s-a22dd53cf1f87fe9 {min-width: 7.026em;}
.math[data-math-rendered] .mjx-s-a29cf9252b8a3a63 {height: 0.898em;}
.math[data-math-rendered] .mjx-s-a4da56c56009cab9 {text-align: left; padding-left: 0; padding-top: 0.15em;}
.math[data-math-rendered] .mjx-s-a52d287123794be5 {width: 29.458em;}
.math[data-math-rendered] .mjx-s-a70f84919c7c6e4f {vertical-align: 0.289em; margin-left: 0.051em;}
.math[data-math-rendered] .mjx-s-a7ec529e53f8cbe1 {min-width: 30.419em;}
.math[data-math-rendered] .mjx-s-a84345f9f5e6ae57 {height: 0.637em;}
.math[data-math-rendered] .mjx-s-a992c46c64f653c1 {vertical-align: 0.413em;}
.math[data-math-rendered] .mjx-s-ae7a93b322e63217 {min-width: 34.091em;}
.math[data-math-rendered] .mjx-s-aebc8d2dd5d9d466 {font-size: 113.1%; min-width: 37.042em; position: relative;}
.math[data-math-rendered] .mjx-s-af0ee506018de54d {width: auto; min-width: 18.888em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-af47b861dc5fab8b {height: 3.466em;}
.math[data-math-rendered] .mjx-s-b1f82c4ea20e1a9e {height: 0.888em;}
.math[data-math-rendered] .mjx-s-b3eb4522a2c609c2 {border-left: .07em solid; padding: 0.2em 0.5em; border-top: .07em solid;}
.math[data-math-rendered] .mjx-s-b4177f51dcf487a9 {min-width: 8.891em;}
.math[data-math-rendered] .mjx-s-b603764d8ba1bf35 {min-width: 20.687em;}
.math[data-math-rendered] .mjx-s-b60f14f9eb908b91 {margin-top: 0.18em;}
.math[data-math-rendered] .mjx-s-b709648e89810ce5 {vertical-align: -0.15em; margin-left: -0.104em;}
.math[data-math-rendered] .mjx-s-bb672fa752b1c451 {padding-left: 0.5em; padding-bottom: 0.2em;}
.math[data-math-rendered] .mjx-s-bbf3eafe63e6763e {vertical-align: 0.363em;}
.math[data-math-rendered] .mjx-s-bd051eaf01f9b06e {font-size: 113.1%; min-width: 17.972em; position: relative;}
.math[data-math-rendered] .mjx-s-bd1f672051563b19 {padding-left: 0.63em;}
.math[data-math-rendered] .mjx-s-bd828824777b04b9 {font-size: 113.1%; min-width: 14.881em; position: relative;}
.math[data-math-rendered] .mjx-s-bde689f174ac8aa1 {text-align: right; padding: 0.125em 0.5em 0.2em;}
.math[data-math-rendered] .mjx-s-c04caa36f8e0b5f4 {padding-top: 0.694em;}
.math[data-math-rendered] .mjx-s-c0f54c9c781d3211 {vertical-align: 0.393em;}
.math[data-math-rendered] .mjx-s-c2de6d9f2a2fb7e0 {min-width: 14.881em;}
.math[data-math-rendered] .mjx-s-c31af321f2076734 {padding-left: 0.5em; padding-right: 0.5em; padding-top: 0.2em;}
.math[data-math-rendered] .mjx-s-c32a1d2752b150c8 {height: 2.233em;}
.math[data-math-rendered] .mjx-s-c52f98f57600cf0f {padding-left: 0.5em; padding-top: 0.2em;}
.math[data-math-rendered] .mjx-s-c665d8b46fbdc35e {font-size: 113.1%; min-width: 29.458em; position: relative;}
.math[data-math-rendered] .mjx-s-c89d9b0341c49cda {width: auto; min-width: 4.212em; margin: 0 1.778em;}
.math[data-math-rendered] .mjx-s-c8c0a10ae672ab56 {vertical-align: -0.15em;}
.math[data-math-rendered] .mjx-s-c9d0f039fc9809c1 {padding-bottom: 0.192em; padding-left: 0.551em;}
.math[data-math-rendered] .mjx-s-ca828576de59628b {vertical-align: -0.325em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-cc872fcba0b2a07c {height: 0.716em;}
.math[data-math-rendered] .mjx-s-cd9a9854e9c77fa7 {min-width: 24.002em;}
.math[data-math-rendered] .mjx-s-ceac0559db476556 {width: 12.485em;}
.math[data-math-rendered] .mjx-s-d15c19dec4196e1b {vertical-align: -0.15em; margin-left: -0.106em;}
.math[data-math-rendered] .mjx-s-d2be8f47dbe7065c {padding-right: 0.5em; padding-bottom: 0.2em;}
.math[data-math-rendered] .mjx-s-d376f6795a39666b {padding: 0.2em 0.5em 0.125em; border-top: .07em solid;}
.math[data-math-rendered] .mjx-s-d397e677cfce78d2 {font-size: 113.1%; min-width: 29.76em; position: relative;}
.math[data-math-rendered] .mjx-s-d3f616aff435cecd {padding-bottom: 0.192em; padding-left: 0.557em;}
.math[data-math-rendered] .mjx-s-d53e4f41f4ff7456 {vertical-align: -0.229em;}
.math[data-math-rendered] .mjx-s-d60f43109120f36e {width: 0.333em;}
.math[data-math-rendered] .mjx-s-d665c8a9849a1144 {width: auto; min-width: 26.902em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-d7667e991595899d {width: 29.76em;}
.math[data-math-rendered] .mjx-s-d7bf7f459a51ae6c {width: auto; min-width: 34.486em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-d89db697e04d5d6c {height: 1.037em;}
.math[data-math-rendered] .mjx-s-d91069d140d8e198 {text-align: right; padding: 0.2em 0.5em 0.125em; border-top: .07em solid;}
.math[data-math-rendered] .mjx-s-dbfb4614204fdb1b {font-size: 113.1%; min-width: 30.419em; position: relative;}
.math[data-math-rendered] .mjx-s-dcc31b3218312a3e {padding: 0.2em 0.5em;}
.math[data-math-rendered] .mjx-s-dd045ec5b6313fdb {height: 3.466em; vertical-align: -2.124em;}
.math[data-math-rendered] .mjx-s-dde54301439d26e4 {width: 34.091em;}
.math[data-math-rendered] .mjx-s-df182ae1a2c5c2fa {vertical-align: -0.295em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-e167a2465da0928b {padding-left: 0.096em;}
.math[data-math-rendered] .mjx-s-e1d24c42c111c9c8 {padding-left: 0.5em; padding-top: 0.2em; padding-bottom: 0.2em;}
.math[data-math-rendered] .mjx-s-e1ec42d69f0f52b3 {padding-right: 0.5em; padding-top: 0.2em;}
.math[data-math-rendered] .mjx-s-e695ff6fedb6a58f {min-width: 25.029em;}
.math[data-math-rendered] .mjx-s-e722815928e7b32b {width: auto; min-width: 27.863em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-e87ac1a6992d629d {text-align: right; border-left: .07em solid; padding: 0.2em 0.5em 0.125em; border-top: .07em solid;}
.math[data-math-rendered] .mjx-s-e8ab9f767143637a {width: auto; min-width: 20.575em; margin: 0 1.778em;}
.math[data-math-rendered] .mjx-s-ea168ebc314bae57 {border-left: .07em solid; padding: 0.125em 0.5em 0.2em;}
.math[data-math-rendered] .mjx-s-ea3e130b3461f2da {width: auto; min-width: 12.325em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-ec190e4ea772c4f3 {height: 1.084em;}
.math[data-math-rendered] .mjx-s-ec6b4466d4d2d2ed {width: 0.278em;}
.math[data-math-rendered] .mjx-s-eddb11a2f9b5cef7 {padding-top: 0.167em; padding-left: 0.014em;}
.math[data-math-rendered] .mjx-s-edec4017fb360cc5 {vertical-align: -0.15em; margin-left: -0.007em;}
.math[data-math-rendered] .mjx-s-ef8009e0fb9d5432 {vertical-align: 1.177em;}
.math[data-math-rendered] .mjx-s-f1eb5edf2e9ccd39 {min-width: 17.972em;}
.math[data-math-rendered] .mjx-s-f22b18a44e9469ac {height: 2.233em; vertical-align: -0.891em;}
.math[data-math-rendered] .mjx-s-f2ec22b4fcde133b {height: 1.238em; vertical-align: -0.294em;}
.math[data-math-rendered] .mjx-s-f2ff0e83ccc9ea28 {min-width: 7.925em;}
.math[data-math-rendered] .mjx-s-f30266dfae8ad570 {padding-bottom: 0.142em;}
.math[data-math-rendered] .mjx-s-f3e41767f2094853 {height: 0.913em;}
.math[data-math-rendered] .mjx-s-f3fc021305196823 {padding-bottom: 0.15em;}
.math[data-math-rendered] .mjx-s-f5116cb9fa8ea1d1 {margin-top: 0.284em;}
.math[data-math-rendered] .mjx-s-f74ebd5826d61158 {min-width: 35.491em;}
.math[data-math-rendered] .mjx-s-f7708527c693f8ae {width: 1em;}
.math[data-math-rendered] .mjx-s-f885aeda95ceefc6 {height: 0.705em;}
.math[data-math-rendered] .mjx-s-f88caa017f3e70d1 {height: 0.699em;}
.math[data-math-rendered] .mjx-s-fca40032a9ef84e1 {padding-top: 0.669em;}
.math[data-math-rendered] .mjx-s-fd533bc1463e9165 {height: 2.424em;}
.math[data-math-rendered] .mjx-s-fd60f95d14df94b6 {height: 2.525em; vertical-align: -1.329em;}
.math[data-math-rendered] .mjx-s-fe6ec2bb4a38f064 {vertical-align: -0.285em; margin-left: 0;}