
mjx-container[overflow="scroll"][display] {
  overflow: auto clip;
  min-width: initial !important;
}

mjx-container[overflow="truncate"][display] {
  overflow: hidden clip;
  min-width: initial !important;
}

mjx-container[display] {
  display: block;
  text-align: center;
  justify-content: center;
  margin: .7em 0;
  padding: .3em 2px;
}

mjx-container[display][width="full"] {
  display: flex;
}

mjx-container[justify="left"] {
  text-align: left;
  justify-content: left;
}

mjx-container[justify="right"] {
  text-align: right;
  justify-content: right;
}

mjx-container[jax="CHTML"] {
  white-space: nowrap;
}

mjx-mo > mjx-c, mjx-mi > mjx-c, mjx-mn > mjx-c, mjx-ms > mjx-c, mjx-mtext > mjx-c {
  clip-path: padding-box polygon(-1em -2px, calc(100% + 1em) -2px, calc(100% + 1em) calc(100% + 2px), -1em calc(100% + 2px));
}

mjx-stretchy-h {
  clip-path: padding-box polygon(0 -2px, 100% -2px, 100% calc(100% + 2px), 0 calc(100% + 2px));
  display: inline-block;
}

mjx-stretchy-v {
  clip-path: padding-box polygon(-2px 0, calc(100% + 2px) 0, calc(100% + 2px) 100%, -2px 100%);
  display: inline-block;
  text-align: center;
}

mjx-container [space="1"] {
  margin-left: .111em;
}

mjx-container [space="2"] {
  margin-left: .167em;
}

mjx-container [space="3"] {
  margin-left: .222em;
}

mjx-container [space="4"] {
  margin-left: .278em;
}

mjx-container [space="5"] {
  margin-left: .333em;
}

mjx-container [rspace="1"] {
  margin-right: .111em;
}

mjx-container [rspace="2"] {
  margin-right: .167em;
}

mjx-container [rspace="3"] {
  margin-right: .222em;
}

mjx-container [rspace="4"] {
  margin-right: .278em;
}

mjx-container [rspace="5"] {
  margin-right: .333em;
}

mjx-container [size="s"] {
  font-size: 70.7%;
}

mjx-container [size="ss"] {
  font-size: 50%;
}

mjx-container [size="Tn"] {
  font-size: 60%;
}

mjx-container [size="sm"] {
  font-size: 85%;
}

mjx-container [size="lg"] {
  font-size: 120%;
}

mjx-container [size="Lg"] {
  font-size: 144%;
}

mjx-container [size="LG"] {
  font-size: 173%;
}

mjx-container [size="hg"] {
  font-size: 207%;
}

mjx-container [size="HG"] {
  font-size: 249%;
}

mjx-container [width="full"] {
  width: 100%;
}

mjx-box {
  display: inline-block;
}

mjx-block {
  display: block;
}

mjx-itable {
  display: inline-table;
}

mjx-row {
  display: table-row;
}

mjx-row > mjx-cell, mjx-row > mjx-base, mjx-row > mjx-under, mjx-row > mjx-over, mjx-row > mjx-den {
  display: table-cell;
}

mjx-container [inline-breaks] {
  display: inline;
}

mjx-container .mjx-selected {
  outline: 2px solid black;
}

@media (prefers-color-scheme: dark) {
  mjx-container .mjx-selected {
    outline: 2px solid #C8C8C8;
  }
}

mjx-mtext {
  display: inline-block;
  text-align: left;
}

mjx-mstyle {
  display: inline-block;
}

mjx-merror {
  display: inline-block;
  color: red;
  background-color: yellow;
}

mjx-mphantom {
  visibility: hidden;
}

mjx-assistive-mml {
  position: absolute !important;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 1px, 1px 1px, 1px 0);
  padding: 1px 0px 0px 0px !important;
  border: 0px !important;
  display: block !important;
  width: auto !important;
  overflow: hidden !important;
  text-indent: 0px ! important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mjx-assistive-mml[display="block"] {
  width: 100% !important;
}

mjx-math {
  display: inline-block;
  text-align: left;
  line-height: 0;
  text-indent: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  font-size-adjust: none;
  letter-spacing: normal;
  word-wrap: normal;
  word-spacing: normal;
  direction: ltr;
  padding: 1px 0;
}

mjx-container[jax="CHTML"][display="true"] mjx-math {
  padding: 0;
}

mjx-math[breakable] {
  display: inline;
}

mjx-container[jax="CHTML"] mjx-break {
  white-space: normal;
  line-height: 0;
  clip-path: rect(0 0 0 0);
  font-family: MJX-BRK !important;
}

mjx-break[size="0"] {
  letter-spacing: -0.999em;
}

mjx-break[size="1"] {
  letter-spacing: -0.889em;
}

mjx-break[size="2"] {
  letter-spacing: -0.833em;
}

mjx-break[size="3"] {
  letter-spacing: -0.778em;
}

mjx-break[size="4"] {
  letter-spacing: -0.722em;
}

mjx-break[size="5"] {
  letter-spacing: -0.667em;
}

mjx-mi {
  display: inline-block;
  text-align: left;
}

mjx-c {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-utext {
  display: inline-block;
  padding: .75em 0 .2em 0;
}

mjx-mo {
  display: inline-block;
  text-align: left;
}

mjx-stretchy-h > mjx-beg, mjx-stretchy-h > mjx-ext, mjx-stretchy-h > mjx-end, mjx-stretchy-h > mjx-mid {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-stretchy-h > mjx-ext {
  clip-path: padding-box polygon(0 -1em, 100% -1em, 100% calc(100% + 1em), 0 calc(100% + 1em));
  width: 100%;
  border: 0px solid transparent;
  box-sizing: border-box;
  text-align: left;
}

mjx-stretchy-v > mjx-beg, mjx-stretchy-v > mjx-ext, mjx-stretchy-v > mjx-end, mjx-stretchy-v > mjx-mid {
  display: block;
  height: 0;
  margin: 0 auto;
}

mjx-stretchy-v > mjx-ext > mjx-spacer {
  display: block;
}

mjx-stretchy-v > mjx-ext {
  clip-path: padding-box polygon(-1em 0, calc(100% + 1em) 0, calc(100% + 1em) 100%, -1em 100%);
  height: 100%;
  border: 0.1px solid transparent;
  box-sizing: border-box;
  white-space: pre;
}

mjx-mark {
  display: inline-block;
  height: 0;
}

mjx-mn {
  display: inline-block;
  text-align: left;
}

mjx-msup {
  display: inline-block;
  text-align: left;
}

mjx-msubsup {
  display: inline-block;
  text-align: left;
}

mjx-script {
  display: inline-block;
  padding-right: .05em;
  padding-left: .033em;
}

mjx-script > mjx-spacer {
  display: block;
}

mjx-TeXAtom {
  display: inline-block;
  text-align: left;
}

mjx-munderover {
  display: inline-block;
  text-align: left;
}

mjx-munderover:not([limits="false"]) {
  padding-top: .1em;
}

mjx-munderover:not([limits="false"]) > mjx-over, mjx-munderover:not([limits="false"]) > mjx-box {
  display: block;
}

mjx-msub {
  display: inline-block;
  text-align: left;
}

mjx-mover {
  display: inline-block;
  text-align: left;
}

mjx-mover:not([limits="false"]) {
  padding-top: .1em;
}

mjx-mover:not([limits="false"]) > mjx-base, mjx-mover:not([limits="false"]) > mjx-over {
  display: block;
  text-align: left;
}

mjx-munder {
  display: inline-block;
  text-align: left;
}

mjx-over {
  text-align: left;
}

mjx-munder:not([limits="false"]) {
  display: inline-table;
}

mjx-munder > mjx-row {
  text-align: left;
}

mjx-under {
  padding-bottom: .1em;
}

mjx-msqrt {
  display: inline-block;
  text-align: left;
}

mjx-root {
  display: inline-block;
  white-space: nowrap;
}

mjx-surd {
  display: inline-block;
  vertical-align: top;
}

mjx-sqrt {
  display: inline-block;
  padding-top: .075em;
}

mjx-sqrt > mjx-box {
  border-top: .075em solid;
  padding-left: .03em;
  margin-left: -.03em;
}

mjx-sqrt.mjx-tall > mjx-box {
  padding-left: .3em;
  margin-left: -.3em;
}

mjx-mfrac {
  display: inline-block;
  text-align: left;
}

mjx-frac {
  display: inline-block;
  vertical-align: 0.17em;
  padding: 0 .22em;
}

mjx-frac[type="d"] {
  vertical-align: .04em;
}

mjx-frac[delims] {
  padding: 0 .1em;
}

mjx-frac[atop] {
  padding: 0 .12em;
}

mjx-frac[atop][delims] {
  padding: 0;
}

mjx-dtable {
  display: inline-table;
  width: 100%;
}

mjx-dtable > mjx-line, mjx-dtable > mjx-row {
  font-size: 2000%;
}

mjx-dbox {
  display: block;
  font-size: 5%;
}

mjx-num {
  display: block;
  text-align: center;
}

mjx-den {
  display: block;
  text-align: center;
}

mjx-mfrac[bevelled] > mjx-num {
  display: inline-block;
}

mjx-mfrac[bevelled] > mjx-den {
  display: inline-block;
}

mjx-den[align="right"], mjx-num[align="right"] {
  text-align: right;
}

mjx-den[align="left"], mjx-num[align="left"] {
  text-align: left;
}

mjx-nstrut {
  display: inline-block;
  height: .054em;
  width: 0;
  vertical-align: -.054em;
}

mjx-nstrut[type="d"] {
  height: .217em;
  vertical-align: -.217em;
}

mjx-dstrut {
  display: inline-block;
  height: .505em;
  width: 0;
}

mjx-dstrut[type="d"] {
  height: .726em;
}

mjx-line {
  display: block;
  box-sizing: border-box;
  min-height: 1px;
  height: .06em;
  border-top: .075em solid;
  margin: .06em -.1em;
  overflow: hidden;
}

mjx-line[type="d"] {
  margin: .18em -.1em;
}

mjx-mrow {
  display: inline-block;
  text-align: left;
}

mjx-linestack, mjx-mrow[break-top] {
  display: inline-table;
  width: 100%;
}

mjx-linestack[break-align="bottom"], mjx-mrow[break-top][break-align="bottom"] {
  display: inline-block;
}

mjx-linestack[break-align="middle"], mjx-mrow[break-top][break-align="middle"] {
  vertical-align: middle;
}

mjx-linestack[break-align="center"], mjx-mrow[break-top][break-align="center"] {
  vertical-align: middle;
}

mjx-linestack[breakable] {
  display: inline;
}

mjx-linestack[breakable] > mjx-linebox {
  display: inline;
}

mjx-linestack[breakable] > mjx-linebox::before {
  white-space: pre;
  content: "\A";
}

mjx-linestack[breakable] > mjx-linebox::after {
  white-space: normal;
  content: " ";
  letter-spacing: -.999em;
  font-family: MJX-BRK;
}

mjx-linestack[breakable] > mjx-linebox:first-of-type::before {
  display: none;
}

mjx-linestack[breakable] > mjx-linebox:last-of-type::after {
  display: none;
}

mjx-linebox {
  display: block;
}

mjx-linebox[align="left"] {
  text-align: left;
}

mjx-linebox[align="center"] {
  text-align: center;
}

mjx-linebox[align="right"] {
  text-align: right;
}

mjx-linestrut {
  display: inline-block;
  height: 1em;
  vertical-align: -.25em;
}

mjx-mspace {
  display: inline-block;
  text-align: left;
}

mjx-mtable {
  display: inline-block;
  text-align: center;
  vertical-align: .25em;
  position: relative;
  box-sizing: border-box;
  border-spacing: 0;
  border-collapse: collapse;
}

mjx-mstyle[size="s"] mjx-mtable {
  vertical-align: .354em;
}

mjx-labels {
  position: absolute;
  left: 0;
  top: 0;
}

mjx-table {
  display: inline-block;
  vertical-align: -.5ex;
  box-sizing: border-box;
}

mjx-table > mjx-itable {
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
}

mjx-labels > mjx-itable {
  position: absolute;
  top: 0;
}

mjx-mtable[justify="left"] {
  text-align: left;
}

mjx-mtable[justify="right"] {
  text-align: right;
}

mjx-mtable[justify="left"][side="left"] {
  padding-right: 0 ! important;
}

mjx-mtable[justify="left"][side="right"] {
  padding-left: 0 ! important;
}

mjx-mtable[justify="right"][side="left"] {
  padding-right: 0 ! important;
}

mjx-mtable[justify="right"][side="right"] {
  padding-left: 0 ! important;
}

mjx-mtable[align] {
  vertical-align: baseline;
}

mjx-mtable[align="top"] > mjx-table {
  vertical-align: top;
}

mjx-mtable[align="bottom"] > mjx-table {
  vertical-align: bottom;
}

mjx-mtable[side="right"] mjx-labels {
  min-width: 100%;
}

mjx-mlabeledtr {
  display: table-row;
  text-align: left;
}

mjx-mlabeledtr[rowalign="top"] > mjx-mtd {
  vertical-align: top;
}

mjx-mlabeledtr[rowalign="center"] > mjx-mtd {
  vertical-align: middle;
}

mjx-mlabeledtr[rowalign="bottom"] > mjx-mtd {
  vertical-align: bottom;
}

mjx-mlabeledtr[rowalign="baseline"] > mjx-mtd {
  vertical-align: baseline;
}

mjx-mlabeledtr[rowalign="axis"] > mjx-mtd {
  vertical-align: .25em;
}

mjx-mtr {
  display: table-row;
  text-align: left;
}

mjx-mtr[rowalign="top"] > mjx-mtd {
  vertical-align: top;
}

mjx-mtr[rowalign="center"] > mjx-mtd {
  vertical-align: middle;
}

mjx-mtr[rowalign="bottom"] > mjx-mtd {
  vertical-align: bottom;
}

mjx-mtr[rowalign="baseline"] > mjx-mtd {
  vertical-align: baseline;
}

mjx-mtr[rowalign="axis"] > mjx-mtd {
  vertical-align: .25em;
}

mjx-mtd {
  display: table-cell;
  text-align: center;
  padding: .215em .4em;
}

mjx-mtd:first-child {
  padding-left: 0;
}

mjx-mtd:last-child {
  padding-right: 0;
}

mjx-mtable > * > mjx-itable > *:first-child > mjx-mtd {
  padding-top: 0;
}

mjx-mtable > * > mjx-itable > *:last-child > mjx-mtd {
  padding-bottom: 0;
}

mjx-tstrut {
  display: inline-block;
  height: 1em;
  vertical-align: -.25em;
}

mjx-labels[align="left"] > mjx-mtr > mjx-mtd {
  text-align: left;
}

mjx-labels[align="right"] > mjx-mtr > mjx-mtd {
  text-align: right;
}

mjx-mtd[extra] {
  padding: 0;
}

mjx-mtd[rowalign="top"] {
  vertical-align: top;
}

mjx-mtd[rowalign="center"] {
  vertical-align: middle;
}

mjx-mtd[rowalign="bottom"] {
  vertical-align: bottom;
}

mjx-mtd[rowalign="baseline"] {
  vertical-align: baseline;
}

mjx-mtd[rowalign="axis"] {
  vertical-align: .25em;
}

mjx-container[jax="CHTML"] > mjx-math.TEX-N[breakable] > * {
  font-family: MJX-TEX-ZERO, MJX-TEX-N;
}

.TEX-N {
  font-family: MJX-TEX-ZERO, MJX-TEX-N;
}

.TEX-B {
  font-family: MJX-TEX-ZERO, MJX-TEX-B;
}

.TEX-I {
  font-family: MJX-TEX-ZERO, MJX-TEX-I;
}

.TEX-BI {
  font-family: MJX-TEX-ZERO, MJX-TEX-BI;
}

.TEX-F {
  font-family: MJX-TEX-ZERO, MJX-TEX-F;
}

.TEX-FB {
  font-family: MJX-TEX-ZERO, MJX-TEX-FB;
}

.TEX-SS {
  font-family: MJX-TEX-ZERO, MJX-TEX-SS;
}

.TEX-SSB {
  font-family: MJX-TEX-ZERO, MJX-TEX-SSB;
}

.TEX-SSI {
  font-family: MJX-TEX-ZERO, MJX-TEX-SSI;
}

.TEX-M {
  font-family: MJX-TEX-ZERO, MJX-TEX-M;
}

.TEX-SO {
  font-family: MJX-TEX-ZERO, MJX-TEX-SO;
}

.TEX-LO {
  font-family: MJX-TEX-ZERO, MJX-TEX-LO;
}

.TEX-C {
  font-family: MJX-TEX-ZERO, MJX-TEX-C;
}

.TEX-CB {
  font-family: MJX-TEX-ZERO, MJX-TEX-CB;
}

.TEX-OS {
  font-family: MJX-TEX-ZERO, MJX-TEX-OS;
}

.TEX-OB {
  font-family: MJX-TEX-ZERO, MJX-TEX-OB;
}

.TEX-MI {
  font-family: MJX-TEX-ZERO, MJX-TEX-MI;
}

.TEX-V {
  font-family: MJX-TEX-ZERO, MJX-TEX-V;
}

.TEX-S3 {
  font-family: MJX-TEX-ZERO, MJX-TEX-S3;
}

.TEX-S4 {
  font-family: MJX-TEX-ZERO, MJX-TEX-S4;
}

@font-face /* MJX-TEX-ZERO */ {
  font-family: MJX-TEX-ZERO;
  src: url("./fonts/mjx-tex-zero.woff2") format("woff2");
}

@font-face /* MJX-BRK */ {
  font-family: MJX-BRK;
  src: url("./fonts/mjx-tex-brk.woff2") format("woff2");
}

@font-face /* MJX-TEX-N */ {
  font-family: MJX-TEX-N;
  src: url("./fonts/mjx-tex-n.woff2") format("woff2");
}

@font-face /* MJX-TEX-B */ {
  font-family: MJX-TEX-B;
  src: url("./fonts/mjx-tex-b.woff2") format("woff2");
}

@font-face /* MJX-TEX-I */ {
  font-family: MJX-TEX-I;
  src: url("./fonts/mjx-tex-i.woff2") format("woff2");
}

@font-face /* MJX-TEX-BI */ {
  font-family: MJX-TEX-BI;
  src: url("./fonts/mjx-tex-bi.woff2") format("woff2");
}

@font-face /* MJX-TEX-F */ {
  font-family: MJX-TEX-F;
  src: url("./fonts/mjx-tex-f.woff2") format("woff2");
}

@font-face /* MJX-TEX-FB */ {
  font-family: MJX-TEX-FB;
  src: url("./fonts/mjx-tex-fb.woff2") format("woff2");
}

@font-face /* MJX-TEX-SS */ {
  font-family: MJX-TEX-SS;
  src: url("./fonts/mjx-tex-ss.woff2") format("woff2");
}

@font-face /* MJX-TEX-SSB */ {
  font-family: MJX-TEX-SSB;
  src: url("./fonts/mjx-tex-ssb.woff2") format("woff2");
}

@font-face /* MJX-TEX-SSI */ {
  font-family: MJX-TEX-SSI;
  src: url("./fonts/mjx-tex-ssi.woff2") format("woff2");
}

@font-face /* MJX-TEX-M */ {
  font-family: MJX-TEX-M;
  src: url("./fonts/mjx-tex-m.woff2") format("woff2");
}

@font-face /* MJX-TEX-SO */ {
  font-family: MJX-TEX-SO;
  src: url("./fonts/mjx-tex-so.woff2") format("woff2");
}

@font-face /* MJX-TEX-LO */ {
  font-family: MJX-TEX-LO;
  src: url("./fonts/mjx-tex-lo.woff2") format("woff2");
}

@font-face /* MJX-TEX-C */ {
  font-family: MJX-TEX-C;
  src: url("./fonts/mjx-tex-c.woff2") format("woff2");
}

@font-face /* MJX-TEX-CB */ {
  font-family: MJX-TEX-CB;
  src: url("./fonts/mjx-tex-cb.woff2") format("woff2");
}

@font-face /* MJX-TEX-OS */ {
  font-family: MJX-TEX-OS;
  src: url("./fonts/mjx-tex-os.woff2") format("woff2");
}

@font-face /* MJX-TEX-OB */ {
  font-family: MJX-TEX-OB;
  src: url("./fonts/mjx-tex-ob.woff2") format("woff2");
}

@font-face /* MJX-TEX-MI */ {
  font-family: MJX-TEX-MI;
  src: url("./fonts/mjx-tex-mi.woff2") format("woff2");
}

@font-face /* MJX-TEX-V */ {
  font-family: MJX-TEX-V;
  src: url("./fonts/mjx-tex-v.woff2") format("woff2");
}

@font-face /* MJX-TEX-S3 */ {
  font-family: MJX-TEX-S3;
  src: url("./fonts/mjx-tex-s3.woff2") format("woff2");
}

@font-face /* MJX-TEX-S4 */ {
  font-family: MJX-TEX-S4;
  src: url("./fonts/mjx-tex-s4.woff2") format("woff2");
}

mjx-stretchy-h.mjx-c2013 > mjx-ext > mjx-spacer {
  margin-left: -0.25em;
  letter-spacing: -0.071em;
}

mjx-stretchy-h.mjx-c2013 > mjx-ext {
  padding: 0.285em 0 0 0;
}

mjx-stretchy-v.mjx-c7C > mjx-ext > mjx-spacer {
  margin-top: 0.271em;
}

mjx-stretchy-v.mjx-c7C > mjx-ext {
  width: 0.333em;
  line-height: 0.572em;
}

mjx-c.mjx-c1D446 {
  padding: 0.705em 0.645em 0.022em 0;
}

mjx-c.mjx-c3D {
  padding: 0.367em 0.778em 0 0;
}

mjx-c.mjx-c32 {
  padding: 0.666em 0.5em 0 0;
}

mjx-c.mjx-c1D45B {
  padding: 0.442em 0.6em 0.011em 0;
}

mjx-c.mjx-c2265 {
  padding: 0.636em 0.778em 0.138em 0;
}

mjx-c.mjx-c33 {
  padding: 0.665em 0.5em 0.022em 0;
}

mjx-c.mjx-c31 {
  padding: 0.666em 0.5em 0 0;
}

mjx-c.mjx-c2F {
  padding: 0.75em 0.5em 0.25em 0;
}

mjx-c.mjx-c35 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c28 {
  padding: 0.75em 0.389em 0.25em 0;
}

mjx-c.mjx-c37 {
  padding: 0.676em 0.5em 0.022em 0;
}

mjx-c.mjx-c30 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c29 {
  padding: 0.75em 0.389em 0.25em 0;
}

mjx-c.mjx-c1D707 {
  padding: 0.442em 0.603em 0.216em 0;
}

mjx-c.mjx-c7B {
  padding: 0.75em 0.5em 0.25em 0;
}

mjx-c.mjx-c7C {
  padding: 0.75em 0.278em 0.249em 0;
}

mjx-c.mjx-c1D453 {
  padding: 0.705em 0.55em 0.205em 0;
}

mjx-c.mjx-c2264 {
  padding: 0.636em 0.778em 0.138em 0;
}

mjx-c.mjx-c7D {
  padding: 0.75em 0.5em 0.25em 0;
}

mjx-c.mjx-c1D45E {
  padding: 0.442em 0.46em 0.194em 0;
}

mjx-c.mjx-c3C {
  padding: 0.54em 0.778em 0.04em 0;
}

mjx-c.mjx-c1D704 {
  padding: 0.442em 0.354em 0.01em 0;
}

mjx-c.mjx-c1D450 {
  padding: 0.442em 0.433em 0.011em 0;
}

mjx-c.mjx-c3A {
  padding: 0.43em 0.278em 0 0;
}

mjx-c.mjx-c2192 {
  padding: 0.511em 1em 0.011em 0;
}

mjx-c.mjx-c2102 {
  padding: 0.702em 0.722em 0.019em 0;
}

mjx-c.mjx-c1D700 {
  padding: 0.452em 0.466em 0.022em 0;
}

mjx-c.mjx-c3E {
  padding: 0.54em 0.778em 0.04em 0;
}

mjx-c.mjx-c1D70C {
  padding: 0.442em 0.517em 0.216em 0;
}

mjx-c.mjx-c6E {
  padding: 0.442em 0.556em 0 0;
}

mjx-c.mjx-c61 {
  padding: 0.448em 0.5em 0.011em 0;
}

mjx-c.mjx-c74 {
  padding: 0.615em 0.389em 0.01em 0;
}

mjx-c.mjx-c44 {
  padding: 0.683em 0.764em 0 0;
}

mjx-c.mjx-c65 {
  padding: 0.448em 0.444em 0.011em 0;
}

mjx-c.mjx-c67 {
  padding: 0.453em 0.5em 0.206em 0;
}

mjx-c.mjx-c72 {
  padding: 0.442em 0.392em 0 0;
}

mjx-c.mjx-c2061 {
  padding: 0 0 0 0;
}

mjx-c.mjx-c2B {
  padding: 0.583em 0.778em 0.082em 0;
}

mjx-c.mjx-c2C {
  padding: 0.121em 0.278em 0.194em 0;
}

mjx-c.mjx-c43 {
  padding: 0.705em 0.722em 0.021em 0;
}

mjx-c.mjx-c73 {
  padding: 0.448em 0.394em 0.011em 0;
}

mjx-c.mjx-c68 {
  padding: 0.694em 0.556em 0 0;
}

mjx-c.mjx-c69 {
  padding: 0.669em 0.278em 0 0;
}

mjx-c.mjx-c66 {
  padding: 0.705em 0.372em 0 0;
}

mjx-c.mjx-c1D467 {
  padding: 0.442em 0.468em 0.011em 0;
}

mjx-c.mjx-c220F.TEX-SO {
  padding: 0.75em 0.944em 0.25em 0;
}

mjx-c.mjx-c1D456 {
  padding: 0.661em 0.345em 0.011em 0;
}

mjx-c.mjx-c2212 {
  padding: 0.583em 0.778em 0.082em 0;
}

mjx-c.mjx-c2208 {
  padding: 0.54em 0.667em 0.04em 0;
}

mjx-c.mjx-c1D53B {
  padding: 0.683em 0.722em 0.001em 0;
}

mjx-c.mjx-c1D438 {
  padding: 0.68em 0.764em 0 0;
}

mjx-c.mjx-c1D466 {
  padding: 0.442em 0.496em 0.205em 0;
}

mjx-c.mjx-c1D44E {
  padding: 0.441em 0.529em 0.01em 0;
}

mjx-c.mjx-c2D9 {
  padding: 0.669em 0.5em 0 0;
}

mjx-c.mjx-c2032 {
  padding: 0.56em 0.275em 0 0;
}

mjx-c.mjx-c1D461 {
  padding: 0.626em 0.361em 0.011em 0;
}

mjx-c.mjx-c1D45A {
  padding: 0.442em 0.878em 0.011em 0;
}

mjx-c.mjx-c1D44F {
  padding: 0.694em 0.429em 0.011em 0;
}

mjx-c.mjx-c1D451 {
  padding: 0.694em 0.523em 0.01em 0;
}

mjx-c.mjx-c1D463 {
  padding: 0.443em 0.485em 0.011em 0;
}

mjx-c.mjx-c6C {
  padding: 0.694em 0.278em 0 0;
}

mjx-c.mjx-c6F {
  padding: 0.448em 0.5em 0.01em 0;
}

mjx-c.mjx-c2211.TEX-SO {
  padding: 0.75em 1.056em 0.25em 0;
}

mjx-c.mjx-c1D457 {
  padding: 0.661em 0.412em 0.204em 0;
}

mjx-c.mjx-c1D445 {
  padding: 0.683em 0.759em 0.021em 0;
}

mjx-c.mjx-c221A {
  padding: 0.8em 0.853em 0.2em 0;
}

mjx-c.mjx-c1D452 {
  padding: 0.442em 0.466em 0.011em 0;
}

mjx-c.mjx-c1D464 {
  padding: 0.443em 0.716em 0.011em 0;
}

mjx-c.mjx-c28.TEX-LO {
  padding: 1.15em 0.597em 0.649em 0;
}

mjx-c.mjx-c29.TEX-LO {
  padding: 1.15em 0.597em 0.649em 0;
}

mjx-c.mjx-c1D6FD {
  padding: 0.705em 0.573em 0.194em 0;
}

mjx-c.mjx-c1D45F {
  padding: 0.442em 0.451em 0.011em 0;
}

mjx-c.mjx-c2260 {
  padding: 0.716em 0.778em 0.215em 0;
}

mjx-c.mjx-c1D443 {
  padding: 0.683em 0.751em 0 0;
}

mjx-c.mjx-c210E {
  padding: 0.694em 0.576em 0.011em 0;
}

mjx-c.mjx-c1D454 {
  padding: 0.442em 0.48em 0.205em 0;
}

mjx-c.mjx-c1D460 {
  padding: 0.442em 0.469em 0.01em 0;
}

mjx-c.mjx-c1D43F {
  padding: 0.683em 0.681em 0 0;
}

mjx-c.mjx-c39 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c1D70B {
  padding: 0.431em 0.573em 0.011em 0;
}

mjx-c.mjx-c1D701 {
  padding: 0.704em 0.471em 0.204em 0;
}

mjx-c.mjx-c5B {
  padding: 0.75em 0.278em 0.25em 0;
}

mjx-c.mjx-c5D {
  padding: 0.75em 0.278em 0.25em 0;
}

mjx-c.mjx-c1D45D {
  padding: 0.442em 0.503em 0.194em 0;
}

mjx-c.mjx-c34 {
  padding: 0.677em 0.5em 0 0;
}

mjx-c.mjx-c36 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c38 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c2E {
  padding: 0.12em 0.278em 0 0;
}

mjx-c.mjx-c1D458 {
  padding: 0.694em 0.521em 0.011em 0;
}

mjx-c.mjx-c2211.TEX-LO {
  padding: 0.95em 1.444em 0.45em 0;
}

mjx-c.mjx-c6D {
  padding: 0.442em 0.833em 0 0;
}

mjx-c.mjx-c1D436 {
  padding: 0.705em 0.76em 0.022em 0;
}

mjx-c.mjx-c1D465 {
  padding: 0.442em 0.572em 0.011em 0;
}

mjx-c.mjx-c41 {
  padding: 0.716em 0.75em 0 0;
}

mjx-c.mjx-c1D711 {
  padding: 0.442em 0.654em 0.218em 0;
}

mjx-c.mjx-cB1 {
  padding: 0.666em 0.778em 0 0;
}

mjx-c.mjx-cA0 {
  padding: 0 0.25em 0 0;
}

mjx-c.mjx-c1D437 {
  padding: 0.683em 0.828em 0 0;
}

mjx-c.mjx-c221A.TEX-LO {
  padding: 1.15em 1.02em 0.65em 0;
}

mjx-c.mjx-c63 {
  padding: 0.448em 0.444em 0.011em 0;
}

mjx-c.mjx-c64 {
  padding: 0.694em 0.556em 0.011em 0;
}

mjx-c.mjx-c1D706 {
  padding: 0.694em 0.583em 0.012em 0;
}

mjx-c.mjx-c221A.TEX-SO {
  padding: 0.85em 1.02em 0.35em 0;
}

mjx-c.mjx-c1D6FF {
  padding: 0.717em 0.451em 0.01em 0;
}

mjx-c.mjx-c230A {
  padding: 0.75em 0.444em 0.25em 0;
}

mjx-c.mjx-c230B {
  padding: 0.75em 0.444em 0.25em 0;
}

mjx-c.mjx-c70 {
  padding: 0.442em 0.556em 0.194em 0;
}

mjx-c.mjx-c1D435 {
  padding: 0.683em 0.759em 0 0;
}

mjx-c.mjx-c79 {
  padding: 0.431em 0.528em 0.204em 0;
}

mjx-c.mjx-c1D703 {
  padding: 0.705em 0.469em 0.01em 0;
}

mjx-c.mjx-c2229 {
  padding: 0.598em 0.667em 0.022em 0;
}

mjx-c.mjx-c2026 {
  padding: 0.12em 1.172em 0 0;
}

mjx-c.mjx-c1D70E {
  padding: 0.431em 0.572em 0.011em 0;
}

mjx-c.mjx-c3A3 {
  padding: 0.683em 0.722em 0 0;
}

mjx-c.mjx-c1D448 {
  padding: 0.683em 0.767em 0.022em 0;
}

mjx-c.mjx-c75 {
  padding: 0.442em 0.556em 0.011em 0;
}

mjx-c.mjx-c77 {
  padding: 0.431em 0.722em 0.011em 0;
}

mjx-c.mjx-c5B.TEX-LO {
  padding: 1.15em 0.472em 0.649em 0;
}

mjx-c.mjx-c5D.TEX-LO {
  padding: 1.15em 0.472em 0.649em 0;
}

mjx-c.mjx-c25FB {
  padding: 0.689em 0.778em 0 0;
}

mjx-c.mjx-c1D434 {
  padding: 0.716em 0.75em 0 0;
}

mjx-c.mjx-c1D459 {
  padding: 0.694em 0.298em 0.011em 0;
}

mjx-c.mjx-c222B.TEX-LO {
  padding: 1.36em 0.944em 0.862em 0;
}

mjx-c.mjx-c62 {
  padding: 0.694em 0.556em 0.011em 0;
}

mjx-c.mjx-c1D462 {
  padding: 0.442em 0.572em 0.011em 0;
}

mjx-c.mjx-c1D440 {
  padding: 0.683em 1.051em 0 0;
}

mjx-c.mjx-c2282 {
  padding: 0.54em 0.778em 0.04em 0;
}

mjx-c.mjx-c2113 {
  padding: 0.705em 0.417em 0.02em 0;
}

mjx-c.mjx-c1D44B {
  padding: 0.683em 0.852em 0 0;
}

mjx-c.mjx-c78 {
  padding: 0.431em 0.528em 0 0;
}

mjx-c.mjx-c21 {
  padding: 0.716em 0.278em 0 0;
}

mjx-c.mjx-c1D43E {
  padding: 0.683em 0.889em 0 0;
}

mjx-c.mjx-c46 {
  padding: 0.68em 0.653em 0 0;
}

mjx-c.mjx-c221A.TEX-S3 {
  padding: 1.45em 1.02em 0.95em 0;
}

mjx-c.mjx-c28.TEX-S4 {
  padding: 1.75em 0.792em 1.249em 0;
}

mjx-c.mjx-c29.TEX-S4 {
  padding: 1.75em 0.792em 1.249em 0;
}

mjx-c.mjx-c48.TEX-C {
  padding: 0.683em 0.845em 0.048em 0;
}

mjx-c.mjx-c1D715 {
  padding: 0.715em 0.566em 0.022em 0;
}

mjx-c.mjx-c1D447 {
  padding: 0.677em 0.717em 0 0;
}

mjx-c.mjx-c2217 {
  padding: 0.465em 0.5em 0 0;
}

mjx-c.mjx-c22C5 {
  padding: 0.31em 0.278em 0 0;
}

mjx-c.mjx-c1D705 {
  padding: 0.442em 0.576em 0.011em 0;
}

mjx-c.mjx-c1D70F {
  padding: 0.431em 0.517em 0.013em 0;
}

mjx-c.mjx-c1D71B {
  padding: 0.431em 0.828em 0.01em 0;
}

mjx-c.mjx-c393 {
  padding: 0.68em 0.625em 0 0;
}

mjx-c.mjx-c221E {
  padding: 0.442em 1em 0.011em 0;
}

mjx-c.mjx-c222B.TEX-SO {
  padding: 0.805em 0.61em 0.306em 0;
}

mjx-c.mjx-c1D45C {
  padding: 0.441em 0.485em 0.011em 0;
}

mjx-c.mjx-c1D6FC {
  padding: 0.442em 0.64em 0.011em 0;
}

mjx-c.mjx-c21A6 {
  padding: 0.511em 1em 0.011em 0;
}

mjx-c.mjx-c211C {
  padding: 0.686em 0.828em 0.026em 0;
}

mjx-c.mjx-c1D714 {
  padding: 0.443em 0.622em 0.011em 0;
}

mjx-c.mjx-c2033 {
  padding: 0.56em 0.55em 0 0;
}

mjx-c.mjx-c1D44D {
  padding: 0.683em 0.723em 0 0;
}

mjx-c.mjx-c1D709 {
  padding: 0.704em 0.443em 0.205em 0;
}

mjx-c.mjx-c1D442 {
  padding: 0.704em 0.763em 0.022em 0;
}

mjx-c.mjx-c2DC.TEX-SO {
  padding: 0.722em 0.556em 0 0;
}

mjx-c.mjx-c221A.TEX-S4 {
  padding: 1.75em 1.02em 1.25em 0;
}

mjx-c.mjx-c2197 {
  padding: 0.72em 1em 0.195em 0;
}

mjx-c.mjx-c220F.TEX-LO {
  padding: 0.95em 1.278em 0.45em 0;
}

mjx-c.mjx-c222A {
  padding: 0.598em 0.667em 0.022em 0;
}

mjx-c.mjx-c211D {
  padding: 0.683em 0.722em 0.001em 0;
}

mjx-c.mjx-c22EF {
  padding: 0.31em 1.172em 0 0;
}

mjx-c.mjx-c1D719 {
  padding: 0.694em 0.596em 0.205em 0;
}

mjx-c.mjx-c1D43B {
  padding: 0.683em 0.888em 0 0;
}

mjx-c.mjx-c28.TEX-S3 {
  padding: 1.45em 0.736em 0.949em 0;
}

mjx-c.mjx-c29.TEX-S3 {
  padding: 1.45em 0.736em 0.949em 0;
}

mjx-c.mjx-c1D702 {
  padding: 0.442em 0.503em 0.216em 0;
}

mjx-c.mjx-c1D441 {
  padding: 0.683em 0.888em 0 0;
}

mjx-c.mjx-c52 {
  padding: 0.683em 0.736em 0.022em 0;
}

mjx-c.mjx-c2013 {
  padding: 0.285em 0.5em 0 0;
}

mjx-c.mjx-c2DC.TEX-S4 {
  padding: 0.823em 1.889em 0 0;
}

mjx-c.mjx-c50 {
  padding: 0.683em 0.681em 0 0;
}

mjx-c.mjx-c1D43A {
  padding: 0.705em 0.786em 0.022em 0;
}

mjx-c.mjx-cAF {
  padding: 0.59em 0.5em 0 0;
}

mjx-c.mjx-c2191 {
  padding: 0.694em 0.5em 0.193em 0;
}

mjx-c.mjx-c23 {
  padding: 0.694em 0.833em 0.194em 0;
}

mjx-c.mjx-c1D708 {
  padding: 0.442em 0.53em 0.002em 0;
}

mjx-c.mjx-c27F9 {
  padding: 0.525em 1.638em 0.024em 0;
}

mjx-c.mjx-c3A6 {
  padding: 0.683em 0.722em 0 0;
}

mjx-c.mjx-c1D713 {
  padding: 0.694em 0.651em 0.205em 0;
}

mjx-c.mjx-c20 {
  padding: 0 0.25em 0 0;
}

mjx-c.mjx-c1D43C {
  padding: 0.683em 0.504em 0 0;
}

mjx-c.mjx-c2286 {
  padding: 0.636em 0.778em 0.138em 0;
}

mjx-c.mjx-c71 {
  padding: 0.442em 0.535em 0.194em 0;
}

mjx-c.mjx-c76 {
  padding: 0.431em 0.528em 0.011em 0;
}

mjx-c.mjx-c1D449 {
  padding: 0.683em 0.769em 0.022em 0;
}

mjx-c.mjx-c2207 {
  padding: 0.683em 0.833em 0.033em 0;
}

mjx-c.mjx-cD7 {
  padding: 0.491em 0.778em 0 0;
}

mjx-c.mjx-c1D6FE {
  padding: 0.441em 0.543em 0.216em 0;
}

mjx-c.mjx-c39B {
  padding: 0.716em 0.694em 0 0;
}

mjx-c.mjx-c6B {
  padding: 0.694em 0.528em 0 0;
}



.math[data-math-rendered] .mjx-s-008be05de4355f39 {height: 2.374em; vertical-align: -1.013em;}
.math[data-math-rendered] .mjx-s-012adc4cbdb7f454 {width: auto; min-width: 9.768em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-012d9726733c4305 {font-size: 113.1%; min-width: 13.602em; position: relative;}
.math[data-math-rendered] .mjx-s-01787e8c92f1ba50 {width: 1.14em;}
.math[data-math-rendered] .mjx-s-0268103cf78281ae {height: 2.305em; vertical-align: -0.904em;}
.math[data-math-rendered] .mjx-s-02ad721d8fb631cc {width: 0.807em;}
.math[data-math-rendered] .mjx-s-02dc5e9e5cd65840 {padding-bottom: 0.142em; padding-left: 0.058em;}
.math[data-math-rendered] .mjx-s-030e1395cd5c8cb1 {vertical-align: 0.413em; margin-left: 0.054em;}
.math[data-math-rendered] .mjx-s-049b0808421bb3ec {width: auto; min-width: 32.381em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-04da5fad1c7d8e68 {width: 0; margin-left: -0.945em;}
.math[data-math-rendered] .mjx-s-061bbbe14321c5e6 {width: 17.775em;}
.math[data-math-rendered] .mjx-s-076a6946914b31ed {padding-left: 0.358em;}
.math[data-math-rendered] .mjx-s-08eb4fca86a67ec1 {padding-top: 0.178em;}
.math[data-math-rendered] .mjx-s-0a08cda1d7073688 {height: 1em; vertical-align: -0.25em;}
.math[data-math-rendered] .mjx-s-0cb1d343a1ce8a28 {width: auto; min-width: 26.637em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-0f9124507830ac0c {padding-top: 0.455em;}
.math[data-math-rendered] .mjx-s-107ab86885657015 {min-width: 31.913em;}
.math[data-math-rendered] .mjx-s-10b60ac074b392cd {padding-bottom: 0.105em; padding-left: 0.979em; margin-bottom: -0.583em;}
.math[data-math-rendered] .mjx-s-11ebf7787027f017 {font-size: 113.1%; min-width: 13.087em; position: relative;}
.math[data-math-rendered] .mjx-s-131a39a532fa0174 {min-width: 20.779em;}
.math[data-math-rendered] .mjx-s-14a5068b48f060d7 {vertical-align: 0.289em;}
.math[data-math-rendered] .mjx-s-150d357c0892b0a3 {vertical-align: -0.284em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-15b226ad33038af9 {padding-top: 0.676em;}
.math[data-math-rendered] .mjx-s-15ef63b34c141c0f {font-size: 113.1%; min-width: 21.783em; position: relative;}
.math[data-math-rendered] .mjx-s-1658fb2260431fdf {font-size: 113.1%; min-width: 16.508em; position: relative;}
.math[data-math-rendered] .mjx-s-17058f33c4c5b622 {padding-top: 0.677em;}
.math[data-math-rendered] .mjx-s-186a7e1022d66aab {width: auto; min-width: 5.795em; margin: 0 1.778em;}
.math[data-math-rendered] .mjx-s-18988ed51d66610c {height: 2.936em;}
.math[data-math-rendered] .mjx-s-196502bf00f23750 {width: 18.675em;}
.math[data-math-rendered] .mjx-s-19a6470975038300 {padding-top: 0.666em;}
.math[data-math-rendered] .mjx-s-19f56f30349ddc39 {height: 1.86em;}
.math[data-math-rendered] .mjx-s-1aa11949430fad8b {vertical-align: 0.363em; margin-left: 0.052em;}
.math[data-math-rendered] .mjx-s-1aba6438f7d12428 {width: 13.087em;}
.math[data-math-rendered] .mjx-s-1acd1d770e05d980 {width: 7.27em;}
.math[data-math-rendered] .mjx-s-1b135d5c064728b5 {height: 2.278em;}
.math[data-math-rendered] .mjx-s-1c6a73670a219f0e {padding-left: 0.584em;}
.math[data-math-rendered] .mjx-s-1d1832354a9b0503 {width: auto; min-width: 15.18em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-1d5a290e466e465d {text-align: left; padding: 0.2em 0.5em 0.125em;}
.math[data-math-rendered] .mjx-s-1dab9a256d343432 {text-align: right; padding-right: 0; padding-bottom: 0.15em;}
.math[data-math-rendered] .mjx-s-1e344701cf31e577 {width: auto; min-width: 17.939em; margin: 0 1.778em;}
.math[data-math-rendered] .mjx-s-1ef3713d38237216 {vertical-align: -0.15em; margin-left: -0.133em;}
.math[data-math-rendered] .mjx-s-1efeaba3a7e38f36 {vertical-align: 0.363em; margin-left: 0.05em;}
.math[data-math-rendered] .mjx-s-1fc1f9182bc3155d {padding-top: 0.448em;}
.math[data-math-rendered] .mjx-s-2287ed633a562d44 {height: 2.992em; vertical-align: -1.223em;}
.math[data-math-rendered] .mjx-s-2384d3b661e0d24d {vertical-align: -0.15em; margin-left: -0.085em;}
.math[data-math-rendered] .mjx-s-23b7f895006ab67b {vertical-align: -0.341em; margin-left: -0.138em;}
.math[data-math-rendered] .mjx-s-248d61e453dcd06d {vertical-align: -0.288em; margin-left: -0.005em;}
.math[data-math-rendered] .mjx-s-2540e93a49f233d5 {padding-top: 0.232em;}
.math[data-math-rendered] .mjx-s-26b12a96c8c06fa5 {width: 20.779em;}
.math[data-math-rendered] .mjx-s-270883f9cccd80e8 {padding-bottom: 0.105em; padding-left: 0.414em; margin-bottom: -0.597em;}
.math[data-math-rendered] .mjx-s-272fd7b64bd2b77c {margin-top: 1.556em;}
.math[data-math-rendered] .mjx-s-2741390ab7eb4fe2 {vertical-align: -0.15em; margin-left: -0.025em;}
.math[data-math-rendered] .mjx-s-27f6488d4cf3297f {padding-top: 0.281em;}
.math[data-math-rendered] .mjx-s-27fb60761feeb3f1 {width: 26.918em;}
.math[data-math-rendered] .mjx-s-28261f5d51447636 {margin-top: 1.149em;}
.math[data-math-rendered] .mjx-s-2982bc62fc6417f6 {padding-top: 0.167em; padding-left: 0.041em;}
.math[data-math-rendered] .mjx-s-29e6c7768b29ac19 {height: 2.936em; vertical-align: -1.216em;}
.math[data-math-rendered] .mjx-s-29f7160e961576e1 {vertical-align: -0.15em; margin-left: -0.014em;}
.math[data-math-rendered] .mjx-s-2a1d0779566504f4 {height: 2.932em; vertical-align: -1.203em;}
.math[data-math-rendered] .mjx-s-2a8770b1b2ca41ab {padding-top: 0.167em; padding-left: 0.028em;}
.math[data-math-rendered] .mjx-s-2abcec9b1f961cd6 {padding-top: 0.203em;}
.math[data-math-rendered] .mjx-s-2adb5dcdac79579d {width: 32.11em;}
.math[data-math-rendered] .mjx-s-2b80bc37f26f0662 {height: 2.636em; vertical-align: -0.954em;}
.math[data-math-rendered] .mjx-s-2c28b0fb8b57df60 {min-width: 19.94em;}
.math[data-math-rendered] .mjx-s-2c4334d580002552 {padding-left: 0.034em;}
.math[data-math-rendered] .mjx-s-2df0fa83ca4f582c {padding-top: 0.234em;}
.math[data-math-rendered] .mjx-s-2e78b123c0941d6c {vertical-align: -0.15em; margin-left: -0.045em;}
.math[data-math-rendered] .mjx-s-2f023ba0bb4595f1 {vertical-align: -0.15em; margin-left: -0.04em;}
.math[data-math-rendered] .mjx-s-2f8cf05278a17119 {vertical-align: -0.294em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-31f89a48453fbb9f {font-size: 113.1%; min-width: 18.675em; position: relative;}
.math[data-math-rendered] .mjx-s-3384de41dfeb6eb9 {padding-top: 0.103em;}
.math[data-math-rendered] .mjx-s-33fb1b8833057272 {vertical-align: -0.25em; margin-left: -0.003em;}
.math[data-math-rendered] .mjx-s-34b5a972db1a86ee {right: 0;}
.math[data-math-rendered] .mjx-s-364f9c26f11ab623 {margin-top: 1.664em;}
.math[data-math-rendered] .mjx-s-36f2730cd6d820f7 {width: auto; min-width: 10.845em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-370d2603b3912cd0 {vertical-align: 0.363em; margin-left: 0.055em;}
.math[data-math-rendered] .mjx-s-37bda4802341dc0b {font-size: 113.1%; min-width: 26.918em; position: relative;}
.math[data-math-rendered] .mjx-s-3a4c75d3783d07c6 {padding-bottom: 0.192em; padding-left: 0.329em;}
.math[data-math-rendered] .mjx-s-3a63dc35d289944c {min-width: 13.401em;}
.math[data-math-rendered] .mjx-s-3bce94a7a29a5a96 {width: 0; margin-left: -0.278em;}
.math[data-math-rendered] .mjx-s-3d74cce1cb07c5e1 {font-size: 113.1%; min-width: 21.495em; position: relative;}
.math[data-math-rendered] .mjx-s-3d94402b56cce349 {padding-bottom: 0.192em; padding-left: 0.412em;}
.math[data-math-rendered] .mjx-s-3dd1a49410fdda60 {padding-top: 0.716em;}
.math[data-math-rendered] .mjx-s-3df1c7fdac1409ed {width: 2em;}
.math[data-math-rendered] .mjx-s-3e556cc7c0801b07 {height: 2.305em;}
.math[data-math-rendered] .mjx-s-411c2f9597fa29d6 {padding-top: 0.167em;}
.math[data-math-rendered] .mjx-s-4344a4579a3933f1 {width: auto; min-width: 22.612em; margin: 0 2.153em;}
.math[data-math-rendered] .mjx-s-44ab6a902560c440 {padding-top: 0.108em;}
.math[data-math-rendered] .mjx-s-454fe8a4dbf39335 {height: 2.09em; vertical-align: -0.743em;}
.math[data-math-rendered] .mjx-s-46ad05cb3ea18978 {min-width: 34.937em;}
.math[data-math-rendered] .mjx-s-481146eeacf96eab {vertical-align: -0.15em; margin-left: -0.084em;}
.math[data-math-rendered] .mjx-s-4834a34c218b3a7b {padding-top: 0.167em; padding-left: 0.003em;}
.math[data-math-rendered] .mjx-s-486af3c9d2f4d794 {font-size: 113.1%; min-width: 16.369em; position: relative;}
.math[data-math-rendered] .mjx-s-4894c2ded24c3922 {width: 21.783em;}
.math[data-math-rendered] .mjx-s-496ded2f5ac73dac {padding-top: 0.236em;}
.math[data-math-rendered] .mjx-s-4994b2bc01876d8a {vertical-align: -0.15em; margin-left: -0.006em;}
.math[data-math-rendered] .mjx-s-4c78a75a17036d0c {padding-top: 0.167em; padding-left: 0.576em;}
.math[data-math-rendered] .mjx-s-4e9bf756b1e6bff9 {min-width: 16.388em;}
.math[data-math-rendered] .mjx-s-4f361b9b467c2dd4 {vertical-align: -0.312em;}
.math[data-math-rendered] .mjx-s-4fabe3e4688a6416 {height: 1em;}
.math[data-math-rendered] .mjx-s-4ff16f99d4210674 {min-width: 18.401em;}
.math[data-math-rendered] .mjx-s-50b19945a53636eb {min-width: 29.375em;}
.math[data-math-rendered] .mjx-s-516a057dd92bf8a5 {vertical-align: -0.15em; margin-left: -0.033em;}
.math[data-math-rendered] .mjx-s-51c2f2c7a8cd083f {min-width: 26.918em;}
.math[data-math-rendered] .mjx-s-51d72ec7bf12ddda {height: 2.255em; vertical-align: -1.305em;}
.math[data-math-rendered] .mjx-s-53faadc4910c226d {margin-top: 0.186em;}
.math[data-math-rendered] .mjx-s-54409a2f99eb9157 {width: auto; min-width: 20.483em; margin: 0 1.778em;}
.math[data-math-rendered] .mjx-s-5525278ce820bf39 {width: 14.611em;}
.math[data-math-rendered] .mjx-s-55ed736cb322bb99 {font-size: 113.1%; min-width: 29.375em; position: relative;}
.math[data-math-rendered] .mjx-s-56980e2c2408c543 {padding-bottom: 0.111em; padding-left: 0.108em;}
.math[data-math-rendered] .mjx-s-56c366001682a013 {padding-top: 0.155em;}
.math[data-math-rendered] .mjx-s-57551a32adb2341d {margin-top: 0.192em;}
.math[data-math-rendered] .mjx-s-577c6132a814e5c9 {padding-top: 0.167em; padding-left: 0.148em;}
.math[data-math-rendered] .mjx-s-57ac71874f83799d {width: auto; min-width: 13.952em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-57f87bb816427d49 {width: auto; min-width: 19.151em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-581ee809f8750910 {height: 3.053em;}
.math[data-math-rendered] .mjx-s-583d8f17e0e54540 {height: 3.359em; vertical-align: -1.366em;}
.math[data-math-rendered] .mjx-s-59fef37a25792f15 {padding-top: 0.181em;}
.math[data-math-rendered] .mjx-s-5a8631b9ae71d0ea {margin-top: 0.264em;}
.math[data-math-rendered] .mjx-s-5af2a75e5d24df0f {width: 34.937em;}
.math[data-math-rendered] .mjx-s-5e935480c45facb2 {min-width: 24.039em;}
.math[data-math-rendered] .mjx-s-5ebb20d2be0d6461 {vertical-align: -0.15em; margin-left: -0.06em;}
.math[data-math-rendered] .mjx-s-5edf0425b5e3340d {vertical-align: -0.15em; margin-left: -0.001em;}
.math[data-math-rendered] .mjx-s-5f8c041810a3e4e4 {height: 1.4em;}
.math[data-math-rendered] .mjx-s-5fc400ea7021d900 {font-size: 113.1%; min-width: 24.039em; position: relative;}
.math[data-math-rendered] .mjx-s-60633dd6623cbd1e {vertical-align: 0.877em;}
.math[data-math-rendered] .mjx-s-61311fc3f622643f {width: 12.437em;}
.math[data-math-rendered] .mjx-s-614b92b40a2fd58b {vertical-align: -0.285em;}
.math[data-math-rendered] .mjx-s-615768f0127a1506 {width: 18.259em;}
.math[data-math-rendered] .mjx-s-61a9ae1b816e0b65 {height: 2.43em;}
.math[data-math-rendered] .mjx-s-6212b6e61541df3e {padding-bottom: 0.2em; padding-left: 0.462em;}
.math[data-math-rendered] .mjx-s-62921694ecfe5899 {vertical-align: -0.317em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-65e09dca8921ff9e {margin-top: 0.297em;}
.math[data-math-rendered] .mjx-s-663ef3a50639201f {width: auto; min-width: 26.819em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-66c12f0df10ad59c {padding-top: 0.167em; padding-left: 0.083em;}
.math[data-math-rendered] .mjx-s-68cacf5f85314189 {min-width: 16.508em;}
.math[data-math-rendered] .mjx-s-68ef98ca0e5e48c6 {min-width: 14.611em;}
.math[data-math-rendered] .mjx-s-69062491e2905e90 {padding-left: 1.003em;}
.math[data-math-rendered] .mjx-s-6a7e8a99de020494 {vertical-align: 0.363em; margin-left: 0.057em;}
.math[data-math-rendered] .mjx-s-6bef7470301d8554 {width: 29.193em;}
.math[data-math-rendered] .mjx-s-6c576990d7b4b5f4 {width: 0.167em;}
.math[data-math-rendered] .mjx-s-6f10195703ad0085 {vertical-align: -0.332em;}
.math[data-math-rendered] .mjx-s-6f89e2625e2606fa {width: auto; min-width: 12.257em; margin: 0 2.056em;}
.math[data-math-rendered] .mjx-s-70762ccc71688653 {width: 31.913em;}
.math[data-math-rendered] .mjx-s-707bf918c4e9c738 {width: 0.76em;}
.math[data-math-rendered] .mjx-s-715b8322ff150309 {vertical-align: 0.363em; margin-left: 0.051em;}
.math[data-math-rendered] .mjx-s-71e92cf17d51e4a2 {padding-top: 0.087em;}
.math[data-math-rendered] .mjx-s-723055506981acc0 {height: 2.067em;}
.math[data-math-rendered] .mjx-s-723b61fac7b77789 {height: NaNem;}
.math[data-math-rendered] .mjx-s-724829254e263aa4 {min-width: 12.437em;}
.math[data-math-rendered] .mjx-s-734e696f5114d9f7 {padding-top: 0.167em; padding-left: 0.136em;}
.math[data-math-rendered] .mjx-s-740c3042c5c508f4 {margin-top: 0.216em;}
.math[data-math-rendered] .mjx-s-74cca035df1418fb {min-width: 13.087em;}
.math[data-math-rendered] .mjx-s-7504b9b90f628616 {width: 0; margin-left: -0.25em;}
.math[data-math-rendered] .mjx-s-750ac9dee9ff272a {padding-top: 0.222em;}
.math[data-math-rendered] .mjx-s-755d980eecf3fc76 {padding-top: 0.167em; padding-left: 0.124em;}
.math[data-math-rendered] .mjx-s-766e711722aecf5f {width: 16.508em;}
.math[data-math-rendered] .mjx-s-78163ec028120598 {font-size: 113.1%; min-width: 12.324em; position: relative;}
.math[data-math-rendered] .mjx-s-796b06039c4f3a95 {padding-top: 0.133em;}
.math[data-math-rendered] .mjx-s-7b6d7ba8f0fc0af7 {vertical-align: 0.413em; margin-left: 0.05em;}
.math[data-math-rendered] .mjx-s-7bc382d752049560 {vertical-align: -0.269em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-7bedc65e644bc144 {vertical-align: -0.15em; margin-left: -0.032em;}
.math[data-math-rendered] .mjx-s-7c8ec33a3889213a {margin-top: 0.202em;}
.math[data-math-rendered] .mjx-s-7d6a47defd39d171 {padding-bottom: 0.192em; padding-left: 0.538em;}
.math[data-math-rendered] .mjx-s-7d6f089ab2c9e459 {height: 2.215em;}
.math[data-math-rendered] .mjx-s-7e5496626561549b {vertical-align: -0.247em; margin-left: -0.003em;}
.math[data-math-rendered] .mjx-s-7e90d69eb6cfbf8e {height: 2.999em; vertical-align: -1.25em;}
.math[data-math-rendered] .mjx-s-7fce11f93b72c7be {width: 16.388em;}
.math[data-math-rendered] .mjx-s-800a568de2061c39 {min-width: 18.259em;}
.math[data-math-rendered] .mjx-s-8075073b2805230a {width: auto; min-width: 17.384em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-822f18941dfda022 {padding-top: 0.167em; padding-left: 0.086em;}
.math[data-math-rendered] .mjx-s-82b4061417005eeb {text-align: left; padding-left: 0; padding-bottom: 0.15em;}
.math[data-math-rendered] .mjx-s-83b19ddd3be740ce {height: 2.43em; vertical-align: -0.97em;}
.math[data-math-rendered] .mjx-s-840044bc2c17b19e {padding-top: 0.286em;}
.math[data-math-rendered] .mjx-s-865bb3c7618ed7e7 {padding-top: 0.705em;}
.math[data-math-rendered] .mjx-s-872546bb620c969d {padding-bottom: 0.105em; padding-left: 0.337em; margin-bottom: -0.549em;}
.math[data-math-rendered] .mjx-s-8728abadf02f0ccf {height: 3.073em;}
.math[data-math-rendered] .mjx-s-879048f9ed9e4b4f {vertical-align: 0.289em; margin-left: 0.053em;}
.math[data-math-rendered] .mjx-s-88dad5708156d31f {vertical-align: -0.15em; margin-left: -0.003em;}
.math[data-math-rendered] .mjx-s-8aa45809216d02ee {min-width: 18.675em;}
.math[data-math-rendered] .mjx-s-8b013e62211440ee {margin-top: 1.513em;}
.math[data-math-rendered] .mjx-s-8ca2b7744c8aae23 {text-align: right; padding-right: 0; padding-top: 0.15em;}
.math[data-math-rendered] .mjx-s-8ecfdc7c20788013 {vertical-align: -0.25em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-90bf9fe9d417e69f {vertical-align: -0.15em; margin-left: -0.109em;}
.math[data-math-rendered] .mjx-s-92465d684c363887 {min-width: 13.602em;}
.math[data-math-rendered] .mjx-s-92cbc50c06f29db4 {min-width: 17.775em;}
.math[data-math-rendered] .mjx-s-92e40a1c21d60cb9 {width: 0.884em;}
.math[data-math-rendered] .mjx-s-9561742b60faf9f3 {vertical-align: -0.247em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-958fc556795d4de0 {vertical-align: -0.291em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-95d828162b1eabd1 {height: 1.2em; vertical-align: -0.35em;}
.math[data-math-rendered] .mjx-s-965b0243761b94c6 {text-align: right; padding: 0.2em 0.5em 0.125em;}
.math[data-math-rendered] .mjx-s-969fca1c6b85e241 {height: 2.215em; vertical-align: -0.697em;}
.math[data-math-rendered] .mjx-s-96b58fa3539de424 {font-size: 113.1%; min-width: 32.11em; position: relative;}
.math[data-math-rendered] .mjx-s-9913b80fe0293f7c {font-size: 113.1%; min-width: 17.775em; position: relative;}
.math[data-math-rendered] .mjx-s-9983da8735ccf1f6 {height: 2.999em;}
.math[data-math-rendered] .mjx-s-9a61021988d388ef {width: auto; min-width: 14.703em; margin: 0 1.778em;}
.math[data-math-rendered] .mjx-s-9d43d106bf3b426d {width: auto; min-width: 18.223em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-9d6020bf1adf4bd8 {font-size: 113.1%; min-width: 14.611em; position: relative;}
.math[data-math-rendered] .mjx-s-9dbf841b72d110a5 {height: 2.636em;}
.math[data-math-rendered] .mjx-s-9dc79c9228bfca48 {height: 1.146em;}
.math[data-math-rendered] .mjx-s-9f905eb47089a5dd {min-width: 32.11em;}
.math[data-math-rendered] .mjx-s-9fc4af9838e4ec4a {width: auto; min-width: 29.554em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-9fe52d3540d59133 {font-size: 113.1%; position: relative;}
.math[data-math-rendered] .mjx-s-a088fc5a41302dc0 {vertical-align: -0.15em; margin-left: -0.005em;}
.math[data-math-rendered] .mjx-s-a15f899b05aeb996 {height: 1.146em; vertical-align: -0.263em;}
.math[data-math-rendered] .mjx-s-a1869a89593b3fa3 {height: 2.09em;}
.math[data-math-rendered] .mjx-s-a30becfc5a026a78 {width: 12.324em;}
.math[data-math-rendered] .mjx-s-a32e3cd739de1249 {height: 2.255em;}
.math[data-math-rendered] .mjx-s-a43dd2805738ac91 {vertical-align: 0.413em; margin-left: 0.053em;}
.math[data-math-rendered] .mjx-s-a4da56c56009cab9 {text-align: left; padding-left: 0; padding-top: 0.15em;}
.math[data-math-rendered] .mjx-s-a5178442a6fe08aa {margin-left: 0.276em;}
.math[data-math-rendered] .mjx-s-a6e0e8b62ff00248 {padding-bottom: 0.18em; margin-bottom: -0.248em;}
.math[data-math-rendered] .mjx-s-a72323dc43a336e1 {vertical-align: 1.477em;}
.math[data-math-rendered] .mjx-s-a7b43c9e59abea9a {margin-top: 1.506em;}
.math[data-math-rendered] .mjx-s-a7dc424e754f88e9 {width: auto; min-width: 28.357em; margin: 0 1.778em;}
.math[data-math-rendered] .mjx-s-a88f37cfa9734725 {padding-left: 0.025em;}
.math[data-math-rendered] .mjx-s-a8b1f7bd84c12d20 {width: 21.495em;}
.math[data-math-rendered] .mjx-s-a96637395fa04b83 {height: 2.374em;}
.math[data-math-rendered] .mjx-s-a98fb00f129972f3 {min-width: 21.783em;}
.math[data-math-rendered] .mjx-s-a992c46c64f653c1 {vertical-align: 0.413em;}
.math[data-math-rendered] .mjx-s-a997f7ee6c950646 {vertical-align: -0.15em; margin-left: -0.081em;}
.math[data-math-rendered] .mjx-s-aa11a8df21efdf85 {padding-top: 0.683em;}
.math[data-math-rendered] .mjx-s-ace49b482528ee11 {height: 3.073em; vertical-align: -1.332em;}
.math[data-math-rendered] .mjx-s-ad94072bdde809e4 {text-align: left; padding: 0.125em 0.5em 0.2em;}
.math[data-math-rendered] .mjx-s-add5cc0a98b7be0d {width: auto; min-width: 10.046em; margin: 0 1.778em;}
.math[data-math-rendered] .mjx-s-aec1845eb27a2d33 {height: 2.067em; vertical-align: -0.697em;}
.math[data-math-rendered] .mjx-s-af43e79b98780dcf {width: auto; min-width: 13.663em; margin: 0 2.056em;}
.math[data-math-rendered] .mjx-s-b0b1cd34ea99a8ce {min-width: 17.736em;}
.math[data-math-rendered] .mjx-s-b0d046997ec6751b {font-size: 113.1%; min-width: 20.779em; position: relative;}
.math[data-math-rendered] .mjx-s-b231c849e2f3caee {width: 1.448em;}
.math[data-math-rendered] .mjx-s-b286c66b8dfd30ac {width: 19.94em;}
.math[data-math-rendered] .mjx-s-b4ca2e60bc5952f5 {vertical-align: -0.15em; margin-left: -0.08em;}
.math[data-math-rendered] .mjx-s-b553a5ce6ce1b582 {width: 16.369em;}
.math[data-math-rendered] .mjx-s-b5f2a3f22e3863fe {width: 24.039em;}
.math[data-math-rendered] .mjx-s-b60f14f9eb908b91 {margin-top: 0.18em;}
.math[data-math-rendered] .mjx-s-b6cbfc12ff634614 {vertical-align: 0.413em; margin-left: 0.055em;}
.math[data-math-rendered] .mjx-s-b8b4e479b4e94851 {padding-top: 0.167em; padding-left: 0.6em;}
.math[data-math-rendered] .mjx-s-baef6f22b8215cd6 {height: 3.359em;}
.math[data-math-rendered] .mjx-s-bb79991432d9b06b {margin-left: 0.078em;}
.math[data-math-rendered] .mjx-s-bba065dae3c87ed4 {min-width: 21.707em;}
.math[data-math-rendered] .mjx-s-bbf3eafe63e6763e {vertical-align: 0.363em;}
.math[data-math-rendered] .mjx-s-bcfb0ebe856fdedd {font-size: 113.1%; min-width: 18.259em; position: relative;}
.math[data-math-rendered] .mjx-s-bde689f174ac8aa1 {text-align: right; padding: 0.125em 0.5em 0.2em;}
.math[data-math-rendered] .mjx-s-bec807ffe44f57ef {margin-top: 0.207em;}
.math[data-math-rendered] .mjx-s-bed175af63bf687a {width: 2.176em;}
.math[data-math-rendered] .mjx-s-bfee57d28323ee16 {height: 0.9em;}
.math[data-math-rendered] .mjx-s-c04caa36f8e0b5f4 {padding-top: 0.694em;}
.math[data-math-rendered] .mjx-s-c0dfb3eba8d82be0 {height: 2.702em; vertical-align: -1.192em;}
.math[data-math-rendered] .mjx-s-c0f54c9c781d3211 {vertical-align: 0.393em;}
.math[data-math-rendered] .mjx-s-c1bea0ba130beb76 {vertical-align: 0.421em;}
.math[data-math-rendered] .mjx-s-c2df3ce0ebc8da22 {width: 21.707em;}
.math[data-math-rendered] .mjx-s-c304f45e0fd5153b {min-width: 12.324em;}
.math[data-math-rendered] .mjx-s-c5a08b70e433a0a4 {width: auto; min-width: 16.477em; margin: 0 2.653em;}
.math[data-math-rendered] .mjx-s-c5a545bdecc6f7ca {font-size: 113.1%; min-width: 19.94em; position: relative;}
.math[data-math-rendered] .mjx-s-c5c781966bbca6e7 {font-size: 113.1%; min-width: 9.351em; position: relative;}
.math[data-math-rendered] .mjx-s-c604a74cb8d53099 {padding-left: 0.326em;}
.math[data-math-rendered] .mjx-s-c8c0a10ae672ab56 {vertical-align: -0.15em;}
.math[data-math-rendered] .mjx-s-c8d7e330fd224522 {padding-bottom: 0.105em; padding-left: 0.311em; margin-bottom: -0.544em;}
.math[data-math-rendered] .mjx-s-cafeff88979cddbd {font-size: 113.1%; min-width: 31.913em; position: relative;}
.math[data-math-rendered] .mjx-s-cbe4675915caf839 {height: 1.134em; vertical-align: -0.25em;}
.math[data-math-rendered] .mjx-s-ccc47b02660687b9 {vertical-align: -0.15em; margin-left: -0.057em;}
.math[data-math-rendered] .mjx-s-cd9c720eeb444a03 {min-width: 21.495em;}
.math[data-math-rendered] .mjx-s-cf0680cc97ca3ff6 {height: 3.053em; vertical-align: -1.332em;}
.math[data-math-rendered] .mjx-s-cf183641b4905399 {font-size: 113.1%; min-width: 34.937em; position: relative;}
.math[data-math-rendered] .mjx-s-cf93c4c11c93a417 {font-size: 113.1%; min-width: 29.193em; position: relative;}
.math[data-math-rendered] .mjx-s-d074b630f3b59e08 {margin-top: 0.25em;}
.math[data-math-rendered] .mjx-s-d145fec87b5c959e {height: 2.932em;}
.math[data-math-rendered] .mjx-s-d15d896ff1203fba {font-size: 113.1%; min-width: 21.707em; position: relative;}
.math[data-math-rendered] .mjx-s-d1c57f4e161c57c5 {width: 9.351em;}
.math[data-math-rendered] .mjx-s-d1d84d425c8c1a02 {min-width: 9.351em;}
.math[data-math-rendered] .mjx-s-d2d290631847d97c {padding-top: 0.464em;}
.math[data-math-rendered] .mjx-s-d34d0cb7f087d73e {margin-left: 0.075em;}
.math[data-math-rendered] .mjx-s-d37a0cd683e1a522 {vertical-align: 0.289em; margin-left: 0.05em;}
.math[data-math-rendered] .mjx-s-d3bb571ccf3232bd {font-size: 113.1%; min-width: 16.388em; position: relative;}
.math[data-math-rendered] .mjx-s-d47e6a9f11e286d2 {min-width: 26.964em;}
.math[data-math-rendered] .mjx-s-d6b18c62bb25363d {margin-right: -0.167em;}
.math[data-math-rendered] .mjx-s-d80b3691bf7b30ac {min-width: 16.369em;}
.math[data-math-rendered] .mjx-s-d9ddc5dcffff0156 {margin-left: 0.647em;}
.math[data-math-rendered] .mjx-s-daa2c7eff38e4ff5 {width: auto; min-width: 13.832em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-db42fb0811b73e57 {width: 1.053em;}
.math[data-math-rendered] .mjx-s-db5a81551dc405ee {height: 1.134em;}
.math[data-math-rendered] .mjx-s-dd8843125c139bef {margin-top: 0.193em;}
.math[data-math-rendered] .mjx-s-deb7080b08e79022 {width: auto; min-width: 7.781em; margin: 0 2.653em;}
.math[data-math-rendered] .mjx-s-df0821bf7a74eb1d {height: 1.86em; vertical-align: -0.535em;}
.math[data-math-rendered] .mjx-s-df9b22c57b82e095 {vertical-align: 0.363em; margin-left: 0.053em;}
.math[data-math-rendered] .mjx-s-e0b23846a44cef3b {min-width: 29.193em;}
.math[data-math-rendered] .mjx-s-e0d983ef289e23ce {width: auto; min-width: 12.055em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-e1d6e72b81a28c14 {padding-top: 0.144em;}
.math[data-math-rendered] .mjx-s-e3574c318fd772ba {width: auto; min-width: 16.119em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-e48ed687aae15c6e {padding-top: 0.157em;}
.math[data-math-rendered] .mjx-s-e4b7f5bf4201d5c9 {width: 13.401em;}
.math[data-math-rendered] .mjx-s-e5da7f922f727d65 {width: 29.375em;}
.math[data-math-rendered] .mjx-s-ebc10428efbc2769 {width: auto; min-width: 9.881em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-ec661490ef80ae27 {vertical-align: -0.685em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-edde00d4c2cdf743 {height: 2.702em;}
.math[data-math-rendered] .mjx-s-ee761622e2edc775 {padding-left: 0.757em;}
.math[data-math-rendered] .mjx-s-ef8009e0fb9d5432 {vertical-align: 1.177em;}
.math[data-math-rendered] .mjx-s-f09411b6d069c05c {vertical-align: 0.577em;}
.math[data-math-rendered] .mjx-s-f14a11e545638bfe {text-align: right; padding: 0.2em 0.5em;}
.math[data-math-rendered] .mjx-s-f1580cdd2fac91ab {margin-top: 0.402em;}
.math[data-math-rendered] .mjx-s-f20a09a28dbf02f1 {height: 2.992em;}
.math[data-math-rendered] .mjx-s-f2cc02ecb16466f4 {width: 13.602em;}
.math[data-math-rendered] .mjx-s-f30266dfae8ad570 {padding-bottom: 0.142em;}
.math[data-math-rendered] .mjx-s-f330d08860e60519 {vertical-align: -0.294em; margin-left: -0.003em;}
.math[data-math-rendered] .mjx-s-f40efecd0164220b {padding-top: 0.163em;}
.math[data-math-rendered] .mjx-s-f41758190e83ab51 {height: 1.4em; vertical-align: -0.45em;}
.math[data-math-rendered] .mjx-s-f470ba554dc4abad {padding-top: 0.436em;}
.math[data-math-rendered] .mjx-s-f4bb9f98ce18acb0 {font-size: 113.1%; min-width: 13.401em; position: relative;}
.math[data-math-rendered] .mjx-s-f5116cb9fa8ea1d1 {margin-top: 0.284em;}
.math[data-math-rendered] .mjx-s-f5fa9832bf87390a {padding-top: 0.158em;}
.math[data-math-rendered] .mjx-s-f720818c78ec3983 {vertical-align: -0.15em; margin-left: -0.026em;}
.math[data-math-rendered] .mjx-s-f7708527c693f8ae {width: 1em;}
.math[data-math-rendered] .mjx-s-f8ce69dc0e4409ab {padding-bottom: 0.2em; padding-left: 0.545em;}
.math[data-math-rendered] .mjx-s-f92d0273257ba75f {font-size: 113.1%; min-width: 17.736em; position: relative;}
.math[data-math-rendered] .mjx-s-f996ae17a7b497b9 {text-align: left; padding: 0.2em 0.5em;}
.math[data-math-rendered] .mjx-s-fafeb0178802cead {vertical-align: -0.896em; margin-left: -0.388em;}
.math[data-math-rendered] .mjx-s-fb6f712257cbf0b8 {margin-top: 0.276em;}
.math[data-math-rendered] .mjx-s-fc38af31877b6ca5 {vertical-align: 0.413em; margin-left: 0.052em;}
.math[data-math-rendered] .mjx-s-fc3bfcf88cea5c3f {font-size: 113.1%; min-width: 12.437em; position: relative;}
.math[data-math-rendered] .mjx-s-fc5b35fd79ca3516 {padding-top: 0.167em; padding-left: 0.165em;}
.math[data-math-rendered] .mjx-s-fc86463588186d59 {width: 17.736em;}
.math[data-math-rendered] .mjx-s-fca40032a9ef84e1 {padding-top: 0.669em;}
.math[data-math-rendered] .mjx-s-fd633a9726b6ee8d {height: 2.278em; vertical-align: -0.768em;}
.math[data-math-rendered] .mjx-s-fe6ec2bb4a38f064 {vertical-align: -0.285em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-fe79d259515b09e9 {padding-top: 0.453em;}
.math[data-math-rendered] .mjx-s-fef0d447d65ca90b {padding-top: 0.174em;}
.math[data-math-rendered] .mjx-s-ff17bb812c6bf01e {padding-top: 0.167em; padding-left: 0.455em;}