
mjx-container[overflow="scroll"][display] {
  overflow: auto clip;
  min-width: initial !important;
}

mjx-container[overflow="truncate"][display] {
  overflow: hidden clip;
  min-width: initial !important;
}

mjx-container[display] {
  display: block;
  text-align: center;
  justify-content: center;
  margin: .7em 0;
  padding: .3em 2px;
}

mjx-container[display][width="full"] {
  display: flex;
}

mjx-container[justify="left"] {
  text-align: left;
  justify-content: left;
}

mjx-container[justify="right"] {
  text-align: right;
  justify-content: right;
}

mjx-container[jax="CHTML"] {
  white-space: nowrap;
}

mjx-mo > mjx-c, mjx-mi > mjx-c, mjx-mn > mjx-c, mjx-ms > mjx-c, mjx-mtext > mjx-c {
  clip-path: padding-box polygon(-1em -2px, calc(100% + 1em) -2px, calc(100% + 1em) calc(100% + 2px), -1em calc(100% + 2px));
}

mjx-stretchy-h {
  clip-path: padding-box polygon(0 -2px, 100% -2px, 100% calc(100% + 2px), 0 calc(100% + 2px));
  display: inline-block;
}

mjx-stretchy-v {
  clip-path: padding-box polygon(-2px 0, calc(100% + 2px) 0, calc(100% + 2px) 100%, -2px 100%);
  display: inline-block;
  text-align: center;
}

mjx-container [space="1"] {
  margin-left: .111em;
}

mjx-container [space="2"] {
  margin-left: .167em;
}

mjx-container [space="3"] {
  margin-left: .222em;
}

mjx-container [space="4"] {
  margin-left: .278em;
}

mjx-container [space="5"] {
  margin-left: .333em;
}

mjx-container [rspace="1"] {
  margin-right: .111em;
}

mjx-container [rspace="2"] {
  margin-right: .167em;
}

mjx-container [rspace="3"] {
  margin-right: .222em;
}

mjx-container [rspace="4"] {
  margin-right: .278em;
}

mjx-container [rspace="5"] {
  margin-right: .333em;
}

mjx-container [size="s"] {
  font-size: 70.7%;
}

mjx-container [size="ss"] {
  font-size: 50%;
}

mjx-container [size="Tn"] {
  font-size: 60%;
}

mjx-container [size="sm"] {
  font-size: 85%;
}

mjx-container [size="lg"] {
  font-size: 120%;
}

mjx-container [size="Lg"] {
  font-size: 144%;
}

mjx-container [size="LG"] {
  font-size: 173%;
}

mjx-container [size="hg"] {
  font-size: 207%;
}

mjx-container [size="HG"] {
  font-size: 249%;
}

mjx-container [width="full"] {
  width: 100%;
}

mjx-box {
  display: inline-block;
}

mjx-block {
  display: block;
}

mjx-itable {
  display: inline-table;
}

mjx-row {
  display: table-row;
}

mjx-row > mjx-cell, mjx-row > mjx-base, mjx-row > mjx-under, mjx-row > mjx-over, mjx-row > mjx-den {
  display: table-cell;
}

mjx-container [inline-breaks] {
  display: inline;
}

mjx-container .mjx-selected {
  outline: 2px solid black;
}

@media (prefers-color-scheme: dark) {
  mjx-container .mjx-selected {
    outline: 2px solid #C8C8C8;
  }
}

mjx-mtext {
  display: inline-block;
}

mjx-mstyle {
  display: inline-block;
}

mjx-merror {
  display: inline-block;
  color: red;
  background-color: yellow;
}

mjx-mphantom {
  visibility: hidden;
}

mjx-assistive-mml {
  position: absolute !important;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 1px, 1px 1px, 1px 0);
  padding: 1px 0px 0px 0px !important;
  border: 0px !important;
  display: block !important;
  width: auto !important;
  overflow: hidden !important;
  text-indent: 0px ! important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mjx-assistive-mml[display="block"] {
  width: 100% !important;
}

mjx-math {
  display: inline-block;
  text-align: left;
  line-height: 0;
  text-indent: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  font-size-adjust: none;
  letter-spacing: normal;
  word-wrap: normal;
  word-spacing: normal;
  direction: ltr;
  padding: 1px 0;
}

mjx-container[jax="CHTML"][display="true"] mjx-math {
  padding: 0;
}

mjx-math[breakable] {
  display: inline;
}

mjx-container[jax="CHTML"] mjx-break {
  white-space: normal;
  line-height: 0;
  clip-path: rect(0 0 0 0);
  font-family: MJX-BRK !important;
}

mjx-break[size="0"] {
  letter-spacing: -0.999em;
}

mjx-break[size="1"] {
  letter-spacing: -0.889em;
}

mjx-break[size="2"] {
  letter-spacing: -0.833em;
}

mjx-break[size="3"] {
  letter-spacing: -0.778em;
}

mjx-break[size="4"] {
  letter-spacing: -0.722em;
}

mjx-break[size="5"] {
  letter-spacing: -0.667em;
}

mjx-mi {
  display: inline-block;
  text-align: left;
}

mjx-c {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-utext {
  display: inline-block;
  padding: .75em 0 .2em 0;
}

mjx-mo {
  display: inline-block;
  text-align: left;
}

mjx-stretchy-h > mjx-beg, mjx-stretchy-h > mjx-ext, mjx-stretchy-h > mjx-end, mjx-stretchy-h > mjx-mid {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-stretchy-h > mjx-ext {
  clip-path: padding-box polygon(0 -1em, 100% -1em, 100% calc(100% + 1em), 0 calc(100% + 1em));
  width: 100%;
  border: 0px solid transparent;
  box-sizing: border-box;
  text-align: left;
}

mjx-stretchy-v > mjx-beg, mjx-stretchy-v > mjx-ext, mjx-stretchy-v > mjx-end, mjx-stretchy-v > mjx-mid {
  display: block;
  height: 0;
  margin: 0 auto;
}

mjx-stretchy-v > mjx-ext > mjx-spacer {
  display: block;
}

mjx-stretchy-v > mjx-ext {
  clip-path: padding-box polygon(-1em 0, calc(100% + 1em) 0, calc(100% + 1em) 100%, -1em 100%);
  height: 100%;
  border: 0.1px solid transparent;
  box-sizing: border-box;
  white-space: pre;
}

mjx-mark {
  display: inline-block;
  height: 0;
}

mjx-munder {
  display: inline-block;
  text-align: left;
}

mjx-over {
  text-align: left;
}

mjx-munder:not([limits="false"]) {
  display: inline-table;
}

mjx-munder > mjx-row {
  text-align: left;
}

mjx-under {
  padding-bottom: .1em;
}

mjx-msubsup {
  display: inline-block;
  text-align: left;
}

mjx-script {
  display: inline-block;
  padding-right: .05em;
  padding-left: .033em;
}

mjx-script > mjx-spacer {
  display: block;
}

mjx-TeXAtom {
  display: inline-block;
  text-align: left;
}

mjx-mn {
  display: inline-block;
  text-align: left;
}

mjx-mfrac {
  display: inline-block;
  text-align: left;
}

mjx-frac {
  display: inline-block;
  vertical-align: 0.17em;
  padding: 0 .22em;
}

mjx-frac[type="d"] {
  vertical-align: .04em;
}

mjx-frac[delims] {
  padding: 0 .1em;
}

mjx-frac[atop] {
  padding: 0 .12em;
}

mjx-frac[atop][delims] {
  padding: 0;
}

mjx-dtable {
  display: inline-table;
  width: 100%;
}

mjx-dtable > mjx-line, mjx-dtable > mjx-row {
  font-size: 2000%;
}

mjx-dbox {
  display: block;
  font-size: 5%;
}

mjx-num {
  display: block;
  text-align: center;
}

mjx-den {
  display: block;
  text-align: center;
}

mjx-mfrac[bevelled] > mjx-num {
  display: inline-block;
}

mjx-mfrac[bevelled] > mjx-den {
  display: inline-block;
}

mjx-den[align="right"], mjx-num[align="right"] {
  text-align: right;
}

mjx-den[align="left"], mjx-num[align="left"] {
  text-align: left;
}

mjx-nstrut {
  display: inline-block;
  height: .054em;
  width: 0;
  vertical-align: -.054em;
}

mjx-nstrut[type="d"] {
  height: .217em;
  vertical-align: -.217em;
}

mjx-dstrut {
  display: inline-block;
  height: .505em;
  width: 0;
}

mjx-dstrut[type="d"] {
  height: .726em;
}

mjx-line {
  display: block;
  box-sizing: border-box;
  min-height: 1px;
  height: .06em;
  border-top: .075em solid;
  margin: .06em -.1em;
  overflow: hidden;
}

mjx-line[type="d"] {
  margin: .18em -.1em;
}

mjx-mrow {
  display: inline-block;
  text-align: left;
}

mjx-linestack, mjx-mrow[break-top] {
  display: inline-table;
  width: 100%;
}

mjx-linestack[break-align="bottom"], mjx-mrow[break-top][break-align="bottom"] {
  display: inline-block;
}

mjx-linestack[break-align="middle"], mjx-mrow[break-top][break-align="middle"] {
  vertical-align: middle;
}

mjx-linestack[break-align="center"], mjx-mrow[break-top][break-align="center"] {
  vertical-align: middle;
}

mjx-linestack[breakable] {
  display: inline;
}

mjx-linestack[breakable] > mjx-linebox {
  display: inline;
}

mjx-linestack[breakable] > mjx-linebox::before {
  white-space: pre;
  content: "\A";
}

mjx-linestack[breakable] > mjx-linebox::after {
  white-space: normal;
  content: " ";
  letter-spacing: -.999em;
  font-family: MJX-BRK;
}

mjx-linestack[breakable] > mjx-linebox:first-of-type::before {
  display: none;
}

mjx-linestack[breakable] > mjx-linebox:last-of-type::after {
  display: none;
}

mjx-linebox {
  display: block;
}

mjx-linebox[align="left"] {
  text-align: left;
}

mjx-linebox[align="center"] {
  text-align: center;
}

mjx-linebox[align="right"] {
  text-align: right;
}

mjx-linestrut {
  display: inline-block;
  height: 1em;
  vertical-align: -.25em;
}

mjx-msup {
  display: inline-block;
  text-align: left;
}

mjx-msub {
  display: inline-block;
  text-align: left;
}

mjx-mspace {
  display: inline-block;
  text-align: left;
}

mjx-container[jax="CHTML"] > mjx-math.TEX-N[breakable] > * {
  font-family: MJX-TEX-ZERO, MJX-TEX-N;
}

.TEX-N {
  font-family: MJX-TEX-ZERO, MJX-TEX-N;
}

.TEX-B {
  font-family: MJX-TEX-ZERO, MJX-TEX-B;
}

.TEX-I {
  font-family: MJX-TEX-ZERO, MJX-TEX-I;
}

.TEX-BI {
  font-family: MJX-TEX-ZERO, MJX-TEX-BI;
}

.TEX-F {
  font-family: MJX-TEX-ZERO, MJX-TEX-F;
}

.TEX-FB {
  font-family: MJX-TEX-ZERO, MJX-TEX-FB;
}

.TEX-SS {
  font-family: MJX-TEX-ZERO, MJX-TEX-SS;
}

.TEX-SSB {
  font-family: MJX-TEX-ZERO, MJX-TEX-SSB;
}

.TEX-SSI {
  font-family: MJX-TEX-ZERO, MJX-TEX-SSI;
}

.TEX-M {
  font-family: MJX-TEX-ZERO, MJX-TEX-M;
}

.TEX-SO {
  font-family: MJX-TEX-ZERO, MJX-TEX-SO;
}

.TEX-LO {
  font-family: MJX-TEX-ZERO, MJX-TEX-LO;
}

.TEX-C {
  font-family: MJX-TEX-ZERO, MJX-TEX-C;
}

.TEX-CB {
  font-family: MJX-TEX-ZERO, MJX-TEX-CB;
}

.TEX-OS {
  font-family: MJX-TEX-ZERO, MJX-TEX-OS;
}

.TEX-OB {
  font-family: MJX-TEX-ZERO, MJX-TEX-OB;
}

.TEX-MI {
  font-family: MJX-TEX-ZERO, MJX-TEX-MI;
}

.TEX-V {
  font-family: MJX-TEX-ZERO, MJX-TEX-V;
}

.TEX-S3 {
  font-family: MJX-TEX-ZERO, MJX-TEX-S3;
}

.TEX-S4 {
  font-family: MJX-TEX-ZERO, MJX-TEX-S4;
}

@font-face /* MJX-TEX-ZERO */ {
  font-family: MJX-TEX-ZERO;
  src: url("./fonts/mjx-tex-zero.woff2") format("woff2");
}

@font-face /* MJX-BRK */ {
  font-family: MJX-BRK;
  src: url("./fonts/mjx-tex-brk.woff2") format("woff2");
}

@font-face /* MJX-TEX-N */ {
  font-family: MJX-TEX-N;
  src: url("./fonts/mjx-tex-n.woff2") format("woff2");
}

@font-face /* MJX-TEX-B */ {
  font-family: MJX-TEX-B;
  src: url("./fonts/mjx-tex-b.woff2") format("woff2");
}

@font-face /* MJX-TEX-I */ {
  font-family: MJX-TEX-I;
  src: url("./fonts/mjx-tex-i.woff2") format("woff2");
}

@font-face /* MJX-TEX-BI */ {
  font-family: MJX-TEX-BI;
  src: url("./fonts/mjx-tex-bi.woff2") format("woff2");
}

@font-face /* MJX-TEX-F */ {
  font-family: MJX-TEX-F;
  src: url("./fonts/mjx-tex-f.woff2") format("woff2");
}

@font-face /* MJX-TEX-FB */ {
  font-family: MJX-TEX-FB;
  src: url("./fonts/mjx-tex-fb.woff2") format("woff2");
}

@font-face /* MJX-TEX-SS */ {
  font-family: MJX-TEX-SS;
  src: url("./fonts/mjx-tex-ss.woff2") format("woff2");
}

@font-face /* MJX-TEX-SSB */ {
  font-family: MJX-TEX-SSB;
  src: url("./fonts/mjx-tex-ssb.woff2") format("woff2");
}

@font-face /* MJX-TEX-SSI */ {
  font-family: MJX-TEX-SSI;
  src: url("./fonts/mjx-tex-ssi.woff2") format("woff2");
}

@font-face /* MJX-TEX-M */ {
  font-family: MJX-TEX-M;
  src: url("./fonts/mjx-tex-m.woff2") format("woff2");
}

@font-face /* MJX-TEX-SO */ {
  font-family: MJX-TEX-SO;
  src: url("./fonts/mjx-tex-so.woff2") format("woff2");
}

@font-face /* MJX-TEX-LO */ {
  font-family: MJX-TEX-LO;
  src: url("./fonts/mjx-tex-lo.woff2") format("woff2");
}

@font-face /* MJX-TEX-C */ {
  font-family: MJX-TEX-C;
  src: url("./fonts/mjx-tex-c.woff2") format("woff2");
}

@font-face /* MJX-TEX-CB */ {
  font-family: MJX-TEX-CB;
  src: url("./fonts/mjx-tex-cb.woff2") format("woff2");
}

@font-face /* MJX-TEX-OS */ {
  font-family: MJX-TEX-OS;
  src: url("./fonts/mjx-tex-os.woff2") format("woff2");
}

@font-face /* MJX-TEX-OB */ {
  font-family: MJX-TEX-OB;
  src: url("./fonts/mjx-tex-ob.woff2") format("woff2");
}

@font-face /* MJX-TEX-MI */ {
  font-family: MJX-TEX-MI;
  src: url("./fonts/mjx-tex-mi.woff2") format("woff2");
}

@font-face /* MJX-TEX-V */ {
  font-family: MJX-TEX-V;
  src: url("./fonts/mjx-tex-v.woff2") format("woff2");
}

@font-face /* MJX-TEX-S3 */ {
  font-family: MJX-TEX-S3;
  src: url("./fonts/mjx-tex-s3.woff2") format("woff2");
}

@font-face /* MJX-TEX-S4 */ {
  font-family: MJX-TEX-S4;
  src: url("./fonts/mjx-tex-s4.woff2") format("woff2");
}

mjx-c.mjx-c1D446 {
  padding: 0.705em 0.645em 0.022em 0;
}

mjx-c.mjx-c3D {
  padding: 0.367em 0.778em 0 0;
}

mjx-c.mjx-c2211.TEX-LO {
  padding: 0.95em 1.444em 0.45em 0;
}

mjx-c.mjx-c1D45B {
  padding: 0.442em 0.6em 0.011em 0;
}

mjx-c.mjx-c2265 {
  padding: 0.636em 0.778em 0.138em 0;
}

mjx-c.mjx-c31 {
  padding: 0.666em 0.5em 0 0;
}

mjx-c.mjx-c1D711 {
  padding: 0.442em 0.654em 0.218em 0;
}

mjx-c.mjx-c28 {
  padding: 0.75em 0.389em 0.25em 0;
}

mjx-c.mjx-c29 {
  padding: 0.75em 0.389em 0.25em 0;
}

mjx-c.mjx-c32 {
  padding: 0.666em 0.5em 0 0;
}

mjx-c.mjx-c1D43B {
  padding: 0.683em 0.888em 0 0;
}

mjx-c.mjx-c1D461 {
  padding: 0.626em 0.361em 0.011em 0;
}

mjx-c.mjx-c6C {
  padding: 0.694em 0.278em 0 0;
}

mjx-c.mjx-c63 {
  padding: 0.448em 0.444em 0.011em 0;
}

mjx-c.mjx-c6D {
  padding: 0.442em 0.833em 0 0;
}

mjx-c.mjx-c2061 {
  padding: 0 0 0 0;
}

mjx-c.mjx-c2C {
  padding: 0.121em 0.278em 0.194em 0;
}

mjx-c.mjx-c2026 {
  padding: 0.12em 1.172em 0 0;
}

mjx-c.mjx-c43 {
  padding: 0.705em 0.722em 0.021em 0;
}

mjx-c.mjx-c65 {
  padding: 0.448em 0.444em 0.011em 0;
}

mjx-c.mjx-c72 {
  padding: 0.442em 0.392em 0 0;
}

mjx-c.mjx-c74 {
  padding: 0.615em 0.389em 0.01em 0;
}

mjx-c.mjx-c2200 {
  padding: 0.694em 0.556em 0.022em 0;
}

mjx-c.mjx-c2264 {
  padding: 0.636em 0.778em 0.138em 0;
}

mjx-c.mjx-c38 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c2E {
  padding: 0.12em 0.278em 0 0;
}

mjx-c.mjx-c1D447 {
  padding: 0.677em 0.717em 0 0;
}

mjx-c.mjx-c2203 {
  padding: 0.694em 0.556em 0 0;
}

mjx-c.mjx-c3E {
  padding: 0.54em 0.778em 0.04em 0;
}

mjx-c.mjx-c33 {
  padding: 0.665em 0.5em 0.022em 0;
}



.math[data-math-rendered] .mjx-s-14a5068b48f060d7 {vertical-align: 0.289em;}
.math[data-math-rendered] .mjx-s-19a6470975038300 {padding-top: 0.666em;}
.math[data-math-rendered] .mjx-s-704be4b2905b0775 {padding-top: 0.167em; padding-left: 0.058em;}
.math[data-math-rendered] .mjx-s-865bb3c7618ed7e7 {padding-top: 0.705em;}
.math[data-math-rendered] .mjx-s-9fe52d3540d59133 {font-size: 113.1%; position: relative;}
.math[data-math-rendered] .mjx-s-c04caa36f8e0b5f4 {padding-top: 0.694em;}
.math[data-math-rendered] .mjx-s-ccc47b02660687b9 {vertical-align: -0.15em; margin-left: -0.057em;}
.math[data-math-rendered] .mjx-s-f7708527c693f8ae {width: 1em;}