
mjx-container[overflow="scroll"][display] {
  overflow: auto clip;
  min-width: initial !important;
}

mjx-container[overflow="truncate"][display] {
  overflow: hidden clip;
  min-width: initial !important;
}

mjx-container[display] {
  display: block;
  text-align: center;
  justify-content: center;
  margin: .7em 0;
  padding: .3em 2px;
}

mjx-container[display][width="full"] {
  display: flex;
}

mjx-container[justify="left"] {
  text-align: left;
  justify-content: left;
}

mjx-container[justify="right"] {
  text-align: right;
  justify-content: right;
}

mjx-container[jax="CHTML"] {
  white-space: nowrap;
}

mjx-mo > mjx-c, mjx-mi > mjx-c, mjx-mn > mjx-c, mjx-ms > mjx-c, mjx-mtext > mjx-c {
  clip-path: padding-box polygon(-1em -2px, calc(100% + 1em) -2px, calc(100% + 1em) calc(100% + 2px), -1em calc(100% + 2px));
}

mjx-stretchy-h {
  clip-path: padding-box polygon(0 -2px, 100% -2px, 100% calc(100% + 2px), 0 calc(100% + 2px));
  display: inline-block;
}

mjx-stretchy-v {
  clip-path: padding-box polygon(-2px 0, calc(100% + 2px) 0, calc(100% + 2px) 100%, -2px 100%);
  display: inline-block;
  text-align: center;
}

mjx-container [space="1"] {
  margin-left: .111em;
}

mjx-container [space="2"] {
  margin-left: .167em;
}

mjx-container [space="3"] {
  margin-left: .222em;
}

mjx-container [space="4"] {
  margin-left: .278em;
}

mjx-container [space="5"] {
  margin-left: .333em;
}

mjx-container [rspace="1"] {
  margin-right: .111em;
}

mjx-container [rspace="2"] {
  margin-right: .167em;
}

mjx-container [rspace="3"] {
  margin-right: .222em;
}

mjx-container [rspace="4"] {
  margin-right: .278em;
}

mjx-container [rspace="5"] {
  margin-right: .333em;
}

mjx-container [size="s"] {
  font-size: 70.7%;
}

mjx-container [size="ss"] {
  font-size: 50%;
}

mjx-container [size="Tn"] {
  font-size: 60%;
}

mjx-container [size="sm"] {
  font-size: 85%;
}

mjx-container [size="lg"] {
  font-size: 120%;
}

mjx-container [size="Lg"] {
  font-size: 144%;
}

mjx-container [size="LG"] {
  font-size: 173%;
}

mjx-container [size="hg"] {
  font-size: 207%;
}

mjx-container [size="HG"] {
  font-size: 249%;
}

mjx-container [width="full"] {
  width: 100%;
}

mjx-box {
  display: inline-block;
}

mjx-block {
  display: block;
}

mjx-itable {
  display: inline-table;
}

mjx-row {
  display: table-row;
}

mjx-row > mjx-cell, mjx-row > mjx-base, mjx-row > mjx-under, mjx-row > mjx-over, mjx-row > mjx-den {
  display: table-cell;
}

mjx-container [inline-breaks] {
  display: inline;
}

mjx-container .mjx-selected {
  outline: 2px solid black;
}

@media (prefers-color-scheme: dark) {
  mjx-container .mjx-selected {
    outline: 2px solid #C8C8C8;
  }
}

mjx-mtext {
  display: inline-block;
}

mjx-mstyle {
  display: inline-block;
}

mjx-merror {
  display: inline-block;
  color: red;
  background-color: yellow;
}

mjx-mphantom {
  visibility: hidden;
}

mjx-assistive-mml {
  position: absolute !important;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 1px, 1px 1px, 1px 0);
  padding: 1px 0px 0px 0px !important;
  border: 0px !important;
  display: block !important;
  width: auto !important;
  overflow: hidden !important;
  text-indent: 0px ! important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mjx-assistive-mml[display="block"] {
  width: 100% !important;
}

mjx-math {
  display: inline-block;
  text-align: left;
  line-height: 0;
  text-indent: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  font-size-adjust: none;
  letter-spacing: normal;
  word-wrap: normal;
  word-spacing: normal;
  direction: ltr;
  padding: 1px 0;
}

mjx-container[jax="CHTML"][display="true"] mjx-math {
  padding: 0;
}

mjx-math[breakable] {
  display: inline;
}

mjx-container[jax="CHTML"] mjx-break {
  white-space: normal;
  line-height: 0;
  clip-path: rect(0 0 0 0);
  font-family: MJX-BRK !important;
}

mjx-break[size="0"] {
  letter-spacing: -0.999em;
}

mjx-break[size="1"] {
  letter-spacing: -0.889em;
}

mjx-break[size="2"] {
  letter-spacing: -0.833em;
}

mjx-break[size="3"] {
  letter-spacing: -0.778em;
}

mjx-break[size="4"] {
  letter-spacing: -0.722em;
}

mjx-break[size="5"] {
  letter-spacing: -0.667em;
}

mjx-mn {
  display: inline-block;
  text-align: left;
}

mjx-c {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-utext {
  display: inline-block;
  padding: .75em 0 .2em 0;
}

mjx-mo {
  display: inline-block;
  text-align: left;
}

mjx-stretchy-h > mjx-beg, mjx-stretchy-h > mjx-ext, mjx-stretchy-h > mjx-end, mjx-stretchy-h > mjx-mid {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-stretchy-h > mjx-ext {
  clip-path: padding-box polygon(0 -1em, 100% -1em, 100% calc(100% + 1em), 0 calc(100% + 1em));
  width: 100%;
  border: 0px solid transparent;
  box-sizing: border-box;
  text-align: left;
}

mjx-stretchy-v > mjx-beg, mjx-stretchy-v > mjx-ext, mjx-stretchy-v > mjx-end, mjx-stretchy-v > mjx-mid {
  display: block;
  height: 0;
  margin: 0 auto;
}

mjx-stretchy-v > mjx-ext > mjx-spacer {
  display: block;
}

mjx-stretchy-v > mjx-ext {
  clip-path: padding-box polygon(-1em 0, calc(100% + 1em) 0, calc(100% + 1em) 100%, -1em 100%);
  height: 100%;
  border: 0.1px solid transparent;
  box-sizing: border-box;
  white-space: pre;
}

mjx-mark {
  display: inline-block;
  height: 0;
}

mjx-container[jax="CHTML"] > mjx-math.STX-N[breakable] > * {
  font-family: MJX-STX-ZERO, MJX-STX-N;
}

.STX-N {
  font-family: MJX-STX-ZERO, MJX-STX-N;
}

.STX-B {
  font-family: MJX-STX-ZERO, MJX-STX-B;
}

.STX-I {
  font-family: MJX-STX-ZERO, MJX-STX-I;
}

.STX-BI {
  font-family: MJX-STX-ZERO, MJX-STX-BI;
}

.STX-MI {
  font-family: MJX-STX-ZERO, MJX-STX-MI;
}

.STX-DS {
  font-family: MJX-STX-ZERO, MJX-STX-DS;
}

.STX-F {
  font-family: MJX-STX-ZERO, MJX-STX-F;
}

.STX-FB {
  font-family: MJX-STX-ZERO, MJX-STX-FB;
}

.STX-S {
  font-family: MJX-STX-ZERO, MJX-STX-S;
}

.STX-SB {
  font-family: MJX-STX-ZERO, MJX-STX-SB;
}

.STX-M {
  font-family: MJX-STX-ZERO, MJX-STX-M;
}

.STX-SSB {
  font-family: MJX-STX-ZERO, MJX-STX-SSB;
}

.STX-SSBI {
  font-family: MJX-STX-ZERO, MJX-STX-SSBI;
}

.STX-SS {
  font-family: MJX-STX-ZERO, MJX-STX-SS;
}

.STX-SSI {
  font-family: MJX-STX-ZERO, MJX-STX-SSI;
}

.STX-DSI {
  font-family: MJX-STX-ZERO, MJX-STX-DSI;
}

.STX-C {
  font-family: MJX-STX-ZERO, MJX-STX-C;
}

.STX-CB {
  font-family: MJX-STX-ZERO, MJX-STX-CB;
}

.STX-OS {
  font-family: MJX-STX-ZERO, MJX-STX-OS;
}

.STX-OB {
  font-family: MJX-STX-ZERO, MJX-STX-OB;
}

.STX-SO {
  font-family: MJX-STX-ZERO, MJX-STX-SO;
}

.STX-LO {
  font-family: MJX-STX-ZERO, MJX-STX-LO;
}

.STX-S3 {
  font-family: MJX-STX-ZERO, MJX-STX-S3;
}

.STX-S4 {
  font-family: MJX-STX-ZERO, MJX-STX-S4;
}

.STX-S5 {
  font-family: MJX-STX-ZERO, MJX-STX-S5;
}

.STX-S6 {
  font-family: MJX-STX-ZERO, MJX-STX-S6;
}

.STX-S7 {
  font-family: MJX-STX-ZERO, MJX-STX-S7;
}

.STX-S8 {
  font-family: MJX-STX-ZERO, MJX-STX-S8;
}

.STX-S9 {
  font-family: MJX-STX-ZERO, MJX-STX-S9;
}

.STX-S10 {
  font-family: MJX-STX-ZERO, MJX-STX-S10;
}

.STX-S11 {
  font-family: MJX-STX-ZERO, MJX-STX-S11;
}

.STX-S12 {
  font-family: MJX-STX-ZERO, MJX-STX-S12;
}

.STX-V {
  font-family: MJX-STX-ZERO, MJX-STX-V;
}

.STX-E {
  font-family: MJX-STX-ZERO, MJX-STX-E;
}

.STX-U {
  font-family: MJX-STX-ZERO, MJX-STX-U;
}

.STX-UD {
  font-family: MJX-STX-ZERO, MJX-STX-UD;
}

@font-face /* MJX-STX-ZERO */ {
  font-family: MJX-STX-ZERO;
  src: url("./fonts/mjx-stx-zero.woff2") format("woff2");
}

@font-face /* MJX-BRK */ {
  font-family: MJX-BRK;
  src: url("./fonts/mjx-stx-brk.woff2") format("woff2");
}

@font-face /* MJX-STX-N */ {
  font-family: MJX-STX-N;
  src: url("./fonts/mjx-stx-n.woff2") format("woff2");
}

@font-face /* MJX-STX-B */ {
  font-family: MJX-STX-B;
  src: url("./fonts/mjx-stx-b.woff2") format("woff2");
}

@font-face /* MJX-STX-I */ {
  font-family: MJX-STX-I;
  src: url("./fonts/mjx-stx-i.woff2") format("woff2");
}

@font-face /* MJX-STX-BI */ {
  font-family: MJX-STX-BI;
  src: url("./fonts/mjx-stx-bi.woff2") format("woff2");
}

@font-face /* MJX-STX-MI */ {
  font-family: MJX-STX-MI;
  src: url("./fonts/mjx-stx-mi.woff2") format("woff2");
}

@font-face /* MJX-STX-DS */ {
  font-family: MJX-STX-DS;
  src: url("./fonts/mjx-stx-ds.woff2") format("woff2");
}

@font-face /* MJX-STX-F */ {
  font-family: MJX-STX-F;
  src: url("./fonts/mjx-stx-f.woff2") format("woff2");
}

@font-face /* MJX-STX-FB */ {
  font-family: MJX-STX-FB;
  src: url("./fonts/mjx-stx-fb.woff2") format("woff2");
}

@font-face /* MJX-STX-S */ {
  font-family: MJX-STX-S;
  src: url("./fonts/mjx-stx-s.woff2") format("woff2");
}

@font-face /* MJX-STX-SB */ {
  font-family: MJX-STX-SB;
  src: url("./fonts/mjx-stx-sb.woff2") format("woff2");
}

@font-face /* MJX-STX-M */ {
  font-family: MJX-STX-M;
  src: url("./fonts/mjx-stx-m.woff2") format("woff2");
}

@font-face /* MJX-STX-SSB */ {
  font-family: MJX-STX-SSB;
  src: url("./fonts/mjx-stx-ssb.woff2") format("woff2");
}

@font-face /* MJX-STX-SSBI */ {
  font-family: MJX-STX-SSBI;
  src: url("./fonts/mjx-stx-ssbi.woff2") format("woff2");
}

@font-face /* MJX-STX-SS */ {
  font-family: MJX-STX-SS;
  src: url("./fonts/mjx-stx-ss.woff2") format("woff2");
}

@font-face /* MJX-STX-SSI */ {
  font-family: MJX-STX-SSI;
  src: url("./fonts/mjx-stx-ssi.woff2") format("woff2");
}

@font-face /* MJX-STX-DSI */ {
  font-family: MJX-STX-DSI;
  src: url("./fonts/mjx-stx-dsi.woff2") format("woff2");
}

@font-face /* MJX-STX-C */ {
  font-family: MJX-STX-C;
  src: url("./fonts/mjx-stx-c.woff2") format("woff2");
}

@font-face /* MJX-STX-CB */ {
  font-family: MJX-STX-CB;
  src: url("./fonts/mjx-stx-cb.woff2") format("woff2");
}

@font-face /* MJX-STX-OS */ {
  font-family: MJX-STX-OS;
  src: url("./fonts/mjx-stx-os.woff2") format("woff2");
}

@font-face /* MJX-STX-OB */ {
  font-family: MJX-STX-OB;
  src: url("./fonts/mjx-stx-ob.woff2") format("woff2");
}

@font-face /* MJX-STX-SO */ {
  font-family: MJX-STX-SO;
  src: url("./fonts/mjx-stx-so.woff2") format("woff2");
}

@font-face /* MJX-STX-LO */ {
  font-family: MJX-STX-LO;
  src: url("./fonts/mjx-stx-lo.woff2") format("woff2");
}

@font-face /* MJX-STX-S3 */ {
  font-family: MJX-STX-S3;
  src: url("./fonts/mjx-stx-s3.woff2") format("woff2");
}

@font-face /* MJX-STX-S4 */ {
  font-family: MJX-STX-S4;
  src: url("./fonts/mjx-stx-s4.woff2") format("woff2");
}

@font-face /* MJX-STX-S5 */ {
  font-family: MJX-STX-S5;
  src: url("./fonts/mjx-stx-s5.woff2") format("woff2");
}

@font-face /* MJX-STX-S6 */ {
  font-family: MJX-STX-S6;
  src: url("./fonts/mjx-stx-s6.woff2") format("woff2");
}

@font-face /* MJX-STX-S7 */ {
  font-family: MJX-STX-S7;
  src: url("./fonts/mjx-stx-s7.woff2") format("woff2");
}

@font-face /* MJX-STX-S8 */ {
  font-family: MJX-STX-S8;
  src: url("./fonts/mjx-stx-s8.woff2") format("woff2");
}

@font-face /* MJX-STX-S9 */ {
  font-family: MJX-STX-S9;
  src: url("./fonts/mjx-stx-s9.woff2") format("woff2");
}

@font-face /* MJX-STX-S10 */ {
  font-family: MJX-STX-S10;
  src: url("./fonts/mjx-stx-s10.woff2") format("woff2");
}

@font-face /* MJX-STX-S11 */ {
  font-family: MJX-STX-S11;
  src: url("./fonts/mjx-stx-s11.woff2") format("woff2");
}

@font-face /* MJX-STX-S12 */ {
  font-family: MJX-STX-S12;
  src: url("./fonts/mjx-stx-s12.woff2") format("woff2");
}

@font-face /* MJX-STX-V */ {
  font-family: MJX-STX-V;
  src: url("./fonts/mjx-stx-v.woff2") format("woff2");
}

@font-face /* MJX-STX-E */ {
  font-family: MJX-STX-E;
  src: url("./fonts/mjx-stx-e.woff2") format("woff2");
}

@font-face /* MJX-STX-U */ {
  font-family: MJX-STX-U;
  src: url("./fonts/mjx-stx-u.woff2") format("woff2");
}

@font-face /* MJX-STX-UD */ {
  font-family: MJX-STX-UD;
  src: url("./fonts/mjx-stx-ud.woff2") format("woff2");
}

mjx-c.mjx-c33 {
  padding: 0.644em 0.495em 0.013em 0;
}

mjx-c.mjx-c31 {
  padding: 0.639em 0.495em 0 0;
}

mjx-c.mjx-c2F {
  padding: 0.709em 0.386em 0.089em 0;
}

mjx-c.mjx-c34 {
  padding: 0.645em 0.495em 0 0;
}

mjx-c.mjx-c32 {
  padding: 0.644em 0.495em 0 0;
}



.math[data-math-rendered] .mjx-s-2eee1a5a67edef6b {padding-top: 0.644em;}
.math[data-math-rendered] .mjx-s-4fa00029d5b13baa {position: relative;}