
mjx-container[overflow="scroll"][display] {
  overflow: auto clip;
  min-width: initial !important;
}

mjx-container[overflow="truncate"][display] {
  overflow: hidden clip;
  min-width: initial !important;
}

mjx-container[display] {
  display: block;
  text-align: center;
  justify-content: center;
  margin: .7em 0;
  padding: .3em 2px;
}

mjx-container[display][width="full"] {
  display: flex;
}

mjx-container[justify="left"] {
  text-align: left;
  justify-content: left;
}

mjx-container[justify="right"] {
  text-align: right;
  justify-content: right;
}

mjx-container[jax="CHTML"] {
  white-space: nowrap;
}

mjx-mo > mjx-c, mjx-mi > mjx-c, mjx-mn > mjx-c, mjx-ms > mjx-c, mjx-mtext > mjx-c {
  clip-path: padding-box polygon(-1em -2px, calc(100% + 1em) -2px, calc(100% + 1em) calc(100% + 2px), -1em calc(100% + 2px));
}

mjx-stretchy-h {
  clip-path: padding-box polygon(0 -2px, 100% -2px, 100% calc(100% + 2px), 0 calc(100% + 2px));
  display: inline-block;
}

mjx-stretchy-v {
  clip-path: padding-box polygon(-2px 0, calc(100% + 2px) 0, calc(100% + 2px) 100%, -2px 100%);
  display: inline-block;
  text-align: center;
}

mjx-container [space="1"] {
  margin-left: .111em;
}

mjx-container [space="2"] {
  margin-left: .167em;
}

mjx-container [space="3"] {
  margin-left: .222em;
}

mjx-container [space="4"] {
  margin-left: .278em;
}

mjx-container [space="5"] {
  margin-left: .333em;
}

mjx-container [rspace="1"] {
  margin-right: .111em;
}

mjx-container [rspace="2"] {
  margin-right: .167em;
}

mjx-container [rspace="3"] {
  margin-right: .222em;
}

mjx-container [rspace="4"] {
  margin-right: .278em;
}

mjx-container [rspace="5"] {
  margin-right: .333em;
}

mjx-container [size="s"] {
  font-size: 70.7%;
}

mjx-container [size="ss"] {
  font-size: 50%;
}

mjx-container [size="Tn"] {
  font-size: 60%;
}

mjx-container [size="sm"] {
  font-size: 85%;
}

mjx-container [size="lg"] {
  font-size: 120%;
}

mjx-container [size="Lg"] {
  font-size: 144%;
}

mjx-container [size="LG"] {
  font-size: 173%;
}

mjx-container [size="hg"] {
  font-size: 207%;
}

mjx-container [size="HG"] {
  font-size: 249%;
}

mjx-container [width="full"] {
  width: 100%;
}

mjx-box {
  display: inline-block;
}

mjx-block {
  display: block;
}

mjx-itable {
  display: inline-table;
}

mjx-row {
  display: table-row;
}

mjx-row > mjx-cell, mjx-row > mjx-base, mjx-row > mjx-under, mjx-row > mjx-over, mjx-row > mjx-den {
  display: table-cell;
}

mjx-container [inline-breaks] {
  display: inline;
}

mjx-container .mjx-selected {
  outline: 2px solid black;
}

@media (prefers-color-scheme: dark) {
  mjx-container .mjx-selected {
    outline: 2px solid #C8C8C8;
  }
}

mjx-mtext {
  display: inline-block;
  text-align: left;
}

mjx-mstyle {
  display: inline-block;
}

mjx-merror {
  display: inline-block;
  color: red;
  background-color: yellow;
}

mjx-mphantom {
  visibility: hidden;
}

mjx-assistive-mml {
  position: absolute !important;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 1px, 1px 1px, 1px 0);
  padding: 1px 0px 0px 0px !important;
  border: 0px !important;
  display: block !important;
  width: auto !important;
  overflow: hidden !important;
  text-indent: 0px ! important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mjx-assistive-mml[display="block"] {
  width: 100% !important;
}

mjx-math {
  display: inline-block;
  text-align: left;
  line-height: 0;
  text-indent: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  font-size-adjust: none;
  letter-spacing: normal;
  word-wrap: normal;
  word-spacing: normal;
  direction: ltr;
  padding: 1px 0;
}

mjx-container[jax="CHTML"][display="true"] mjx-math {
  padding: 0;
}

mjx-math[breakable] {
  display: inline;
}

mjx-container[jax="CHTML"] mjx-break {
  white-space: normal;
  line-height: 0;
  clip-path: rect(0 0 0 0);
  font-family: MJX-BRK !important;
}

mjx-break[size="0"] {
  letter-spacing: -0.999em;
}

mjx-break[size="1"] {
  letter-spacing: -0.889em;
}

mjx-break[size="2"] {
  letter-spacing: -0.833em;
}

mjx-break[size="3"] {
  letter-spacing: -0.778em;
}

mjx-break[size="4"] {
  letter-spacing: -0.722em;
}

mjx-break[size="5"] {
  letter-spacing: -0.667em;
}

mjx-mi {
  display: inline-block;
  text-align: left;
}

mjx-c {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-utext {
  display: inline-block;
  padding: .75em 0 .2em 0;
}

mjx-mo {
  display: inline-block;
  text-align: left;
}

mjx-stretchy-h > mjx-beg, mjx-stretchy-h > mjx-ext, mjx-stretchy-h > mjx-end, mjx-stretchy-h > mjx-mid {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-stretchy-h > mjx-ext {
  clip-path: padding-box polygon(0 -1em, 100% -1em, 100% calc(100% + 1em), 0 calc(100% + 1em));
  width: 100%;
  border: 0px solid transparent;
  box-sizing: border-box;
  text-align: left;
}

mjx-stretchy-v > mjx-beg, mjx-stretchy-v > mjx-ext, mjx-stretchy-v > mjx-end, mjx-stretchy-v > mjx-mid {
  display: block;
  height: 0;
  margin: 0 auto;
}

mjx-stretchy-v > mjx-ext > mjx-spacer {
  display: block;
}

mjx-stretchy-v > mjx-ext {
  clip-path: padding-box polygon(-1em 0, calc(100% + 1em) 0, calc(100% + 1em) 100%, -1em 100%);
  height: 100%;
  border: 0.1px solid transparent;
  box-sizing: border-box;
  white-space: pre;
}

mjx-mark {
  display: inline-block;
  height: 0;
}

mjx-munder {
  display: inline-block;
  text-align: left;
}

mjx-over {
  text-align: left;
}

mjx-munder:not([limits="false"]) {
  display: inline-table;
}

mjx-munder > mjx-row {
  text-align: left;
}

mjx-under {
  padding-bottom: .1em;
}

mjx-msubsup {
  display: inline-block;
  text-align: left;
}

mjx-script {
  display: inline-block;
  padding-right: .05em;
  padding-left: .033em;
}

mjx-script > mjx-spacer {
  display: block;
}

mjx-TeXAtom {
  display: inline-block;
  text-align: left;
}

mjx-msup {
  display: inline-block;
  text-align: left;
}

mjx-msub {
  display: inline-block;
  text-align: left;
}

mjx-mn {
  display: inline-block;
  text-align: left;
}

mjx-mfrac {
  display: inline-block;
  text-align: left;
}

mjx-frac {
  display: inline-block;
  vertical-align: 0.17em;
  padding: 0 .22em;
}

mjx-frac[type="d"] {
  vertical-align: .04em;
}

mjx-frac[delims] {
  padding: 0 .1em;
}

mjx-frac[atop] {
  padding: 0 .12em;
}

mjx-frac[atop][delims] {
  padding: 0;
}

mjx-dtable {
  display: inline-table;
  width: 100%;
}

mjx-dtable > mjx-line, mjx-dtable > mjx-row {
  font-size: 2000%;
}

mjx-dbox {
  display: block;
  font-size: 5%;
}

mjx-num {
  display: block;
  text-align: center;
}

mjx-den {
  display: block;
  text-align: center;
}

mjx-mfrac[bevelled] > mjx-num {
  display: inline-block;
}

mjx-mfrac[bevelled] > mjx-den {
  display: inline-block;
}

mjx-den[align="right"], mjx-num[align="right"] {
  text-align: right;
}

mjx-den[align="left"], mjx-num[align="left"] {
  text-align: left;
}

mjx-nstrut {
  display: inline-block;
  height: .054em;
  width: 0;
  vertical-align: -.054em;
}

mjx-nstrut[type="d"] {
  height: .217em;
  vertical-align: -.217em;
}

mjx-dstrut {
  display: inline-block;
  height: .505em;
  width: 0;
}

mjx-dstrut[type="d"] {
  height: .726em;
}

mjx-line {
  display: block;
  box-sizing: border-box;
  min-height: 1px;
  height: .06em;
  border-top: .075em solid;
  margin: .06em -.1em;
  overflow: hidden;
}

mjx-line[type="d"] {
  margin: .18em -.1em;
}

mjx-mrow {
  display: inline-block;
  text-align: left;
}

mjx-linestack, mjx-mrow[break-top] {
  display: inline-table;
  width: 100%;
}

mjx-linestack[break-align="bottom"], mjx-mrow[break-top][break-align="bottom"] {
  display: inline-block;
}

mjx-linestack[break-align="middle"], mjx-mrow[break-top][break-align="middle"] {
  vertical-align: middle;
}

mjx-linestack[break-align="center"], mjx-mrow[break-top][break-align="center"] {
  vertical-align: middle;
}

mjx-linestack[breakable] {
  display: inline;
}

mjx-linestack[breakable] > mjx-linebox {
  display: inline;
}

mjx-linestack[breakable] > mjx-linebox::before {
  white-space: pre;
  content: "\A";
}

mjx-linestack[breakable] > mjx-linebox::after {
  white-space: normal;
  content: " ";
  letter-spacing: -.999em;
  font-family: MJX-BRK;
}

mjx-linestack[breakable] > mjx-linebox:first-of-type::before {
  display: none;
}

mjx-linestack[breakable] > mjx-linebox:last-of-type::after {
  display: none;
}

mjx-linebox {
  display: block;
}

mjx-linebox[align="left"] {
  text-align: left;
}

mjx-linebox[align="center"] {
  text-align: center;
}

mjx-linebox[align="right"] {
  text-align: right;
}

mjx-linestrut {
  display: inline-block;
  height: 1em;
  vertical-align: -.25em;
}

mjx-mtable {
  display: inline-block;
  text-align: center;
  vertical-align: .25em;
  position: relative;
  box-sizing: border-box;
  border-spacing: 0;
  border-collapse: collapse;
}

mjx-mstyle[size="s"] mjx-mtable {
  vertical-align: .354em;
}

mjx-labels {
  position: absolute;
  left: 0;
  top: 0;
}

mjx-table {
  display: inline-block;
  vertical-align: -.5ex;
  box-sizing: border-box;
}

mjx-table > mjx-itable {
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
}

mjx-labels > mjx-itable {
  position: absolute;
  top: 0;
}

mjx-mtable[justify="left"] {
  text-align: left;
}

mjx-mtable[justify="right"] {
  text-align: right;
}

mjx-mtable[justify="left"][side="left"] {
  padding-right: 0 ! important;
}

mjx-mtable[justify="left"][side="right"] {
  padding-left: 0 ! important;
}

mjx-mtable[justify="right"][side="left"] {
  padding-right: 0 ! important;
}

mjx-mtable[justify="right"][side="right"] {
  padding-left: 0 ! important;
}

mjx-mtable[align] {
  vertical-align: baseline;
}

mjx-mtable[align="top"] > mjx-table {
  vertical-align: top;
}

mjx-mtable[align="bottom"] > mjx-table {
  vertical-align: bottom;
}

mjx-mtable[side="right"] mjx-labels {
  min-width: 100%;
}

mjx-mlabeledtr {
  display: table-row;
  text-align: left;
}

mjx-mlabeledtr[rowalign="top"] > mjx-mtd {
  vertical-align: top;
}

mjx-mlabeledtr[rowalign="center"] > mjx-mtd {
  vertical-align: middle;
}

mjx-mlabeledtr[rowalign="bottom"] > mjx-mtd {
  vertical-align: bottom;
}

mjx-mlabeledtr[rowalign="baseline"] > mjx-mtd {
  vertical-align: baseline;
}

mjx-mlabeledtr[rowalign="axis"] > mjx-mtd {
  vertical-align: .25em;
}

mjx-mtr {
  display: table-row;
  text-align: left;
}

mjx-mtr[rowalign="top"] > mjx-mtd {
  vertical-align: top;
}

mjx-mtr[rowalign="center"] > mjx-mtd {
  vertical-align: middle;
}

mjx-mtr[rowalign="bottom"] > mjx-mtd {
  vertical-align: bottom;
}

mjx-mtr[rowalign="baseline"] > mjx-mtd {
  vertical-align: baseline;
}

mjx-mtr[rowalign="axis"] > mjx-mtd {
  vertical-align: .25em;
}

mjx-mtd {
  display: table-cell;
  text-align: center;
  padding: .215em .4em;
}

mjx-mtd:first-child {
  padding-left: 0;
}

mjx-mtd:last-child {
  padding-right: 0;
}

mjx-mtable > * > mjx-itable > *:first-child > mjx-mtd {
  padding-top: 0;
}

mjx-mtable > * > mjx-itable > *:last-child > mjx-mtd {
  padding-bottom: 0;
}

mjx-tstrut {
  display: inline-block;
  height: 1em;
  vertical-align: -.25em;
}

mjx-labels[align="left"] > mjx-mtr > mjx-mtd {
  text-align: left;
}

mjx-labels[align="right"] > mjx-mtr > mjx-mtd {
  text-align: right;
}

mjx-mtd[extra] {
  padding: 0;
}

mjx-mtd[rowalign="top"] {
  vertical-align: top;
}

mjx-mtd[rowalign="center"] {
  vertical-align: middle;
}

mjx-mtd[rowalign="bottom"] {
  vertical-align: bottom;
}

mjx-mtd[rowalign="baseline"] {
  vertical-align: baseline;
}

mjx-mtd[rowalign="axis"] {
  vertical-align: .25em;
}

mjx-mspace {
  display: inline-block;
  text-align: left;
}

mjx-munderover {
  display: inline-block;
  text-align: left;
}

mjx-munderover:not([limits="false"]) {
  padding-top: .1em;
}

mjx-munderover:not([limits="false"]) > mjx-over, mjx-munderover:not([limits="false"]) > mjx-box {
  display: block;
}

mjx-msqrt {
  display: inline-block;
  text-align: left;
}

mjx-root {
  display: inline-block;
  white-space: nowrap;
}

mjx-surd {
  display: inline-block;
  vertical-align: top;
}

mjx-sqrt {
  display: inline-block;
  padding-top: .075em;
}

mjx-sqrt > mjx-box {
  border-top: .075em solid;
  padding-left: .03em;
  margin-left: -.03em;
}

mjx-sqrt.mjx-tall > mjx-box {
  padding-left: .3em;
  margin-left: -.3em;
}

mjx-menclose {
  display: inline-block;
  text-align: left;
  position: relative;
}

mjx-menclose > mjx-dstrike {
  display: inline-block;
  left: 0;
  top: 0;
  position: absolute;
  border-top: 0.067em solid;
  transform-origin: top left;
}

mjx-menclose > mjx-ustrike {
  display: inline-block;
  left: 0;
  bottom: 0;
  position: absolute;
  border-top: 0.067em solid;
  transform-origin: bottom left;
}

mjx-menclose > mjx-hstrike {
  border-top: 0.067em solid;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  transform: translateY(0.034em);
}

mjx-menclose > mjx-vstrike {
  border-left: 0.067em solid;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  transform: translateX(0.034em);
}

mjx-menclose > mjx-rbox {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 0.067em solid;
  border-radius: 0.267em;
}

mjx-menclose > mjx-cbox {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 0.067em solid;
  border-radius: 50%;
}

mjx-menclose > mjx-arrow {
  position: absolute;
  left: 0;
  bottom: 50%;
  height: 0;
  width: 0;
}

mjx-menclose > mjx-arrow > mjx-aline {
  display: block;
  position: absolute;
  box-sizing: border-box;
  transform-origin: bottom;
  left: 0;
  top: -0.034em;
  right: 0.201em;
  height: 0;
  border-top: 0.067em solid;
  border-left: 0;
  border-right: 0;
}

mjx-menclose > mjx-arrow[double] > mjx-aline {
  display: block;
  position: absolute;
  box-sizing: border-box;
  transform-origin: bottom;
  left: 0.201em;
  height: 0;
  border-left: 0.268em solid;
  border-right: 0;
}

mjx-menclose > mjx-arrow > mjx-rthead {
  display: block;
  position: absolute;
  box-sizing: border-box;
  transform-origin: bottom;
  transform: skewX(0.464rad);
  right: 0;
  bottom: -1px;
  border-left: 0.268em solid;
  border-right: 0;
  border-bottom: 1px solid transparent;
  border-top: 0.134em solid transparent;
}

mjx-menclose > mjx-arrow > mjx-rbhead {
  display: block;
  position: absolute;
  box-sizing: border-box;
  transform: skewX(-0.464rad);
  transform-origin: top;
  right: 0;
  top: -1px;
  border-left: 0.268em solid;
  border-right: 0;
  border-top: 1px solid transparent;
  border-bottom: 0.134em solid transparent;
}

mjx-menclose > mjx-arrow > mjx-lthead {
  display: block;
  position: absolute;
  box-sizing: border-box;
  transform: skewX(-0.464rad);
  transform-origin: bottom;
  left: 0;
  bottom: -1px;
  border-left: 0;
  border-right: 0.268em solid;
  border-bottom: 1px solid transparent;
  border-top: 0.134em solid transparent;
}

mjx-menclose > mjx-arrow > mjx-lbhead {
  display: block;
  position: absolute;
  box-sizing: border-box;
  transform: skewX(0.464rad);
  transform-origin: top;
  left: 0;
  top: -1px;
  border-left: 0;
  border-right: 0.268em solid;
  border-top: 1px solid transparent;
  border-bottom: 0.134em solid transparent;
}

mjx-menclose > mjx-dbox-top {
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  width: 0.3em;
  border-width: 0.067em;
  border-style: solid solid none none;
  border-radius: 0 100% 0 0;
  box-sizing: border-box;
}

mjx-menclose > mjx-dbox-bot {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  width: 0.3em;
  border-width: 0.067em;
  border-style: none solid solid none;
  border-radius: 0 0 100% 0;
  box-sizing: border-box;
}

mjx-container[jax="CHTML"] > mjx-math.STX-N[breakable] > * {
  font-family: MJX-STX-ZERO, MJX-STX-N;
}

.STX-N {
  font-family: MJX-STX-ZERO, MJX-STX-N;
}

.STX-B {
  font-family: MJX-STX-ZERO, MJX-STX-B;
}

.STX-I {
  font-family: MJX-STX-ZERO, MJX-STX-I;
}

.STX-BI {
  font-family: MJX-STX-ZERO, MJX-STX-BI;
}

.STX-MI {
  font-family: MJX-STX-ZERO, MJX-STX-MI;
}

.STX-DS {
  font-family: MJX-STX-ZERO, MJX-STX-DS;
}

.STX-F {
  font-family: MJX-STX-ZERO, MJX-STX-F;
}

.STX-FB {
  font-family: MJX-STX-ZERO, MJX-STX-FB;
}

.STX-S {
  font-family: MJX-STX-ZERO, MJX-STX-S;
}

.STX-SB {
  font-family: MJX-STX-ZERO, MJX-STX-SB;
}

.STX-M {
  font-family: MJX-STX-ZERO, MJX-STX-M;
}

.STX-SSB {
  font-family: MJX-STX-ZERO, MJX-STX-SSB;
}

.STX-SSBI {
  font-family: MJX-STX-ZERO, MJX-STX-SSBI;
}

.STX-SS {
  font-family: MJX-STX-ZERO, MJX-STX-SS;
}

.STX-SSI {
  font-family: MJX-STX-ZERO, MJX-STX-SSI;
}

.STX-DSI {
  font-family: MJX-STX-ZERO, MJX-STX-DSI;
}

.STX-C {
  font-family: MJX-STX-ZERO, MJX-STX-C;
}

.STX-CB {
  font-family: MJX-STX-ZERO, MJX-STX-CB;
}

.STX-OS {
  font-family: MJX-STX-ZERO, MJX-STX-OS;
}

.STX-OB {
  font-family: MJX-STX-ZERO, MJX-STX-OB;
}

.STX-SO {
  font-family: MJX-STX-ZERO, MJX-STX-SO;
}

.STX-LO {
  font-family: MJX-STX-ZERO, MJX-STX-LO;
}

.STX-S3 {
  font-family: MJX-STX-ZERO, MJX-STX-S3;
}

.STX-S4 {
  font-family: MJX-STX-ZERO, MJX-STX-S4;
}

.STX-S5 {
  font-family: MJX-STX-ZERO, MJX-STX-S5;
}

.STX-S6 {
  font-family: MJX-STX-ZERO, MJX-STX-S6;
}

.STX-S7 {
  font-family: MJX-STX-ZERO, MJX-STX-S7;
}

.STX-S8 {
  font-family: MJX-STX-ZERO, MJX-STX-S8;
}

.STX-S9 {
  font-family: MJX-STX-ZERO, MJX-STX-S9;
}

.STX-S10 {
  font-family: MJX-STX-ZERO, MJX-STX-S10;
}

.STX-S11 {
  font-family: MJX-STX-ZERO, MJX-STX-S11;
}

.STX-S12 {
  font-family: MJX-STX-ZERO, MJX-STX-S12;
}

.STX-V {
  font-family: MJX-STX-ZERO, MJX-STX-V;
}

.STX-E {
  font-family: MJX-STX-ZERO, MJX-STX-E;
}

.STX-U {
  font-family: MJX-STX-ZERO, MJX-STX-U;
}

.STX-UD {
  font-family: MJX-STX-ZERO, MJX-STX-UD;
}

@font-face /* MJX-STX-ZERO */ {
  font-family: MJX-STX-ZERO;
  src: url("./fonts/mjx-stx-zero.woff2") format("woff2");
}

@font-face /* MJX-BRK */ {
  font-family: MJX-BRK;
  src: url("./fonts/mjx-stx-brk.woff2") format("woff2");
}

@font-face /* MJX-STX-N */ {
  font-family: MJX-STX-N;
  src: url("./fonts/mjx-stx-n.woff2") format("woff2");
}

@font-face /* MJX-STX-B */ {
  font-family: MJX-STX-B;
  src: url("./fonts/mjx-stx-b.woff2") format("woff2");
}

@font-face /* MJX-STX-I */ {
  font-family: MJX-STX-I;
  src: url("./fonts/mjx-stx-i.woff2") format("woff2");
}

@font-face /* MJX-STX-BI */ {
  font-family: MJX-STX-BI;
  src: url("./fonts/mjx-stx-bi.woff2") format("woff2");
}

@font-face /* MJX-STX-MI */ {
  font-family: MJX-STX-MI;
  src: url("./fonts/mjx-stx-mi.woff2") format("woff2");
}

@font-face /* MJX-STX-DS */ {
  font-family: MJX-STX-DS;
  src: url("./fonts/mjx-stx-ds.woff2") format("woff2");
}

@font-face /* MJX-STX-F */ {
  font-family: MJX-STX-F;
  src: url("./fonts/mjx-stx-f.woff2") format("woff2");
}

@font-face /* MJX-STX-FB */ {
  font-family: MJX-STX-FB;
  src: url("./fonts/mjx-stx-fb.woff2") format("woff2");
}

@font-face /* MJX-STX-S */ {
  font-family: MJX-STX-S;
  src: url("./fonts/mjx-stx-s.woff2") format("woff2");
}

@font-face /* MJX-STX-SB */ {
  font-family: MJX-STX-SB;
  src: url("./fonts/mjx-stx-sb.woff2") format("woff2");
}

@font-face /* MJX-STX-M */ {
  font-family: MJX-STX-M;
  src: url("./fonts/mjx-stx-m.woff2") format("woff2");
}

@font-face /* MJX-STX-SSB */ {
  font-family: MJX-STX-SSB;
  src: url("./fonts/mjx-stx-ssb.woff2") format("woff2");
}

@font-face /* MJX-STX-SSBI */ {
  font-family: MJX-STX-SSBI;
  src: url("./fonts/mjx-stx-ssbi.woff2") format("woff2");
}

@font-face /* MJX-STX-SS */ {
  font-family: MJX-STX-SS;
  src: url("./fonts/mjx-stx-ss.woff2") format("woff2");
}

@font-face /* MJX-STX-SSI */ {
  font-family: MJX-STX-SSI;
  src: url("./fonts/mjx-stx-ssi.woff2") format("woff2");
}

@font-face /* MJX-STX-DSI */ {
  font-family: MJX-STX-DSI;
  src: url("./fonts/mjx-stx-dsi.woff2") format("woff2");
}

@font-face /* MJX-STX-C */ {
  font-family: MJX-STX-C;
  src: url("./fonts/mjx-stx-c.woff2") format("woff2");
}

@font-face /* MJX-STX-CB */ {
  font-family: MJX-STX-CB;
  src: url("./fonts/mjx-stx-cb.woff2") format("woff2");
}

@font-face /* MJX-STX-OS */ {
  font-family: MJX-STX-OS;
  src: url("./fonts/mjx-stx-os.woff2") format("woff2");
}

@font-face /* MJX-STX-OB */ {
  font-family: MJX-STX-OB;
  src: url("./fonts/mjx-stx-ob.woff2") format("woff2");
}

@font-face /* MJX-STX-SO */ {
  font-family: MJX-STX-SO;
  src: url("./fonts/mjx-stx-so.woff2") format("woff2");
}

@font-face /* MJX-STX-LO */ {
  font-family: MJX-STX-LO;
  src: url("./fonts/mjx-stx-lo.woff2") format("woff2");
}

@font-face /* MJX-STX-S3 */ {
  font-family: MJX-STX-S3;
  src: url("./fonts/mjx-stx-s3.woff2") format("woff2");
}

@font-face /* MJX-STX-S4 */ {
  font-family: MJX-STX-S4;
  src: url("./fonts/mjx-stx-s4.woff2") format("woff2");
}

@font-face /* MJX-STX-S5 */ {
  font-family: MJX-STX-S5;
  src: url("./fonts/mjx-stx-s5.woff2") format("woff2");
}

@font-face /* MJX-STX-S6 */ {
  font-family: MJX-STX-S6;
  src: url("./fonts/mjx-stx-s6.woff2") format("woff2");
}

@font-face /* MJX-STX-S7 */ {
  font-family: MJX-STX-S7;
  src: url("./fonts/mjx-stx-s7.woff2") format("woff2");
}

@font-face /* MJX-STX-S8 */ {
  font-family: MJX-STX-S8;
  src: url("./fonts/mjx-stx-s8.woff2") format("woff2");
}

@font-face /* MJX-STX-S9 */ {
  font-family: MJX-STX-S9;
  src: url("./fonts/mjx-stx-s9.woff2") format("woff2");
}

@font-face /* MJX-STX-S10 */ {
  font-family: MJX-STX-S10;
  src: url("./fonts/mjx-stx-s10.woff2") format("woff2");
}

@font-face /* MJX-STX-S11 */ {
  font-family: MJX-STX-S11;
  src: url("./fonts/mjx-stx-s11.woff2") format("woff2");
}

@font-face /* MJX-STX-S12 */ {
  font-family: MJX-STX-S12;
  src: url("./fonts/mjx-stx-s12.woff2") format("woff2");
}

@font-face /* MJX-STX-V */ {
  font-family: MJX-STX-V;
  src: url("./fonts/mjx-stx-v.woff2") format("woff2");
}

@font-face /* MJX-STX-E */ {
  font-family: MJX-STX-E;
  src: url("./fonts/mjx-stx-e.woff2") format("woff2");
}

@font-face /* MJX-STX-U */ {
  font-family: MJX-STX-U;
  src: url("./fonts/mjx-stx-u.woff2") format("woff2");
}

@font-face /* MJX-STX-UD */ {
  font-family: MJX-STX-UD;
  src: url("./fonts/mjx-stx-ud.woff2") format("woff2");
}

mjx-c.mjx-c210E {
  padding: 0.706em 0.569em 0.01em 0;
}

mjx-c.mjx-c28 {
  padding: 0.736em 0.357em 0.196em 0;
}

mjx-c.mjx-c1D44E {
  padding: 0.479em 0.555em 0.012em 0;
}

mjx-c.mjx-c29 {
  padding: 0.736em 0.357em 0.196em 0;
}

mjx-c.mjx-c3D {
  padding: 0.395em 0.72em 0 0;
}

mjx-c.mjx-c220F {
  padding: 0.782em 1.135em 0.248em 0;
}

mjx-c.mjx-c1D45D {
  padding: 0.479em 0.598em 0.22em 0;
}

mjx-c.mjx-c2208 {
  padding: 0.543em 0.72em 0.026em 0;
}

mjx-c.mjx-c1D443 {
  padding: 0.657em 0.581em 0 0;
}

mjx-c.mjx-c1D463 {
  padding: 0.479em 0.504em 0.009em 0;
}

mjx-c.mjx-c2211 {
  padding: 0.782em 0.936em 0.248em 0;
}

mjx-c.mjx-c1D434 {
  padding: 0.661em 0.681em 0 0;
}

mjx-c.mjx-c2F {
  padding: 0.709em 0.386em 0.089em 0;
}

mjx-c.mjx-c32 {
  padding: 0.644em 0.495em 0 0;
}

mjx-c.mjx-c2212 {
  padding: 0.558em 0.72em 0.04em 0;
}

mjx-c.mjx-c31 {
  padding: 0.639em 0.495em 0 0;
}

mjx-c.mjx-c1D44F {
  padding: 0.705em 0.518em 0.012em 0;
}

mjx-c.mjx-c2265 {
  padding: 0.623em 0.72em 0.106em 0;
}

mjx-c.mjx-c2286 {
  padding: 0.621em 0.72em 0.106em 0;
}

mjx-c.mjx-c2115.STX-DS {
  padding: 0.657em 0.692em 0 0;
}

mjx-c.mjx-c3E {
  padding: 0.547em 0.72em 0.025em 0;
}

mjx-c.mjx-c30 {
  padding: 0.642em 0.495em 0.011em 0;
}

mjx-c.mjx-c1D44B {
  padding: 0.657em 0.717em 0 0;
}

mjx-c.mjx-c2211.STX-LO {
  padding: 0.919em 1.112em 0.406em 0;
}

mjx-c.mjx-c2E {
  padding: 0.114em 0.245em 0.008em 0;
}

mjx-c.mjx-c2264 {
  padding: 0.623em 0.72em 0.106em 0;
}

mjx-c.mjx-c1D44A {
  padding: 0.657em 1.01em 0.006em 0;
}

mjx-c.mjx-c2C {
  padding: 0.121em 0.245em 0.132em 0;
}

mjx-c.mjx-c3A {
  padding: 0.478em 0.245em 0.008em 0;
}

mjx-c.mjx-c3C {
  padding: 0.547em 0.72em 0.025em 0;
}

mjx-c.mjx-c221E {
  padding: 0.44em 0.953em 0 0;
}

mjx-c.mjx-c57 {
  padding: 0.657em 0.944em 0.006em 0;
}

mjx-c.mjx-c22C6 {
  padding: 0.611em 0.716em 0.015em 0;
}

mjx-c.mjx-c1D6FC {
  padding: 0.479em 0.585em 0.014em 0;
}

mjx-c.mjx-c1D461 {
  padding: 0.593em 0.338em 0.009em 0;
}

mjx-c.mjx-c1D45B {
  padding: 0.479em 0.565em 0.01em 0;
}

mjx-c.mjx-c1D441 {
  padding: 0.657em 0.783em 0.008em 0;
}

mjx-c.mjx-c44 {
  padding: 0.657em 0.73em 0 0;
}

mjx-c.mjx-c394 {
  padding: 0.662em 0.667em 0 0;
}

mjx-c.mjx-c6D {
  padding: 0.485em 0.852em 0 0;
}

mjx-c.mjx-c6F {
  padding: 0.485em 0.514em 0.01em 0;
}

mjx-c.mjx-c64 {
  padding: 0.706em 0.539em 0.008em 0;
}

mjx-c.mjx-c1D43D {
  padding: 0.657em 0.461em 0.012em 0;
}

mjx-c.mjx-c2124.STX-DS {
  padding: 0.657em 0.648em 0 0;
}

mjx-c.mjx-c3B {
  padding: 0.478em 0.245em 0.132em 0;
}

mjx-c.mjx-c1D465 {
  padding: 0.479em 0.559em 0.01em 0;
}

mjx-c.mjx-c230A {
  padding: 0.736em 0.349em 0.19em 0;
}

mjx-c.mjx-c230B {
  padding: 0.736em 0.349em 0.19em 0;
}

mjx-c.mjx-c1D457 {
  padding: 0.665em 0.431em 0.225em 0;
}

mjx-c.mjx-c1D45E {
  padding: 0.479em 0.517em 0.22em 0;
}

mjx-c.mjx-c1D462 {
  padding: 0.477em 0.565em 0.01em 0;
}

mjx-c.mjx-c33 {
  padding: 0.644em 0.495em 0.013em 0;
}

mjx-c.mjx-cA0 {
  padding: 0 0.235em 0 0;
}

mjx-c.mjx-c70 {
  padding: 0.485em 0.537em 0.22em 0;
}

mjx-c.mjx-c77 {
  padding: 0.473em 0.762em 0.006em 0;
}

mjx-c.mjx-c65 {
  padding: 0.485em 0.464em 0.01em 0;
}

mjx-c.mjx-c72 {
  padding: 0.488em 0.38em 0 0;
}

mjx-c.mjx-c66 {
  padding: 0.713em 0.379em 0 0;
}

mjx-c.mjx-c75 {
  padding: 0.478em 0.57em 0.01em 0;
}

mjx-c.mjx-c6C {
  padding: 0.706em 0.283em 0 0;
}

mjx-c.mjx-c1D701 {
  padding: 0.75em 0.478em 0.221em 0;
}

mjx-c.mjx-c1D456 {
  padding: 0.665em 0.274em 0.009em 0;
}

mjx-c.mjx-c1D438 {
  padding: 0.657em 0.63em 0 0;
}

mjx-c.mjx-c1D460 {
  padding: 0.479em 0.386em 0.011em 0;
}

mjx-c.mjx-c1D45C {
  padding: 0.479em 0.486em 0.01em 0;
}

mjx-c.mjx-c67 {
  padding: 0.485em 0.484em 0.235em 0;
}

mjx-c.mjx-c2061 {
  padding: 0 0 0 0;
}

mjx-c.mjx-c1D450 {
  padding: 0.479em 0.414em 0.012em 0;
}

mjx-c.mjx-c23 {
  padding: 0.657em 0.702em 0.023em 0;
}

mjx-c.mjx-c7B {
  padding: 0.736em 0.327em 0.197em 0;
}

mjx-c.mjx-c2223 {
  padding: 0.706em 0.272em 0.194em 0;
}

mjx-c.mjx-c7D {
  padding: 0.736em 0.327em 0.197em 0;
}

mjx-c.mjx-c1D70F {
  padding: 0.473em 0.465em 0.008em 0;
}

mjx-c.mjx-c1D464 {
  padding: 0.479em 0.727em 0.009em 0;
}

mjx-c.mjx-c1D451 {
  padding: 0.705em 0.556em 0.012em 0;
}

mjx-c.mjx-c1D447 {
  padding: 0.657em 0.658em 0 0;
}

mjx-c.mjx-c1D444 {
  padding: 0.669em 0.707em 0.173em 0;
}

mjx-c.mjx-c1D454 {
  padding: 0.479em 0.503em 0.225em 0;
}

mjx-c.mjx-c1D440 {
  padding: 0.657em 0.914em 0 0;
}

mjx-c.mjx-c69 {
  padding: 0.673em 0.285em 0 0;
}

mjx-c.mjx-c2192 {
  padding: 0.459em 0.948em 0 0;
}

mjx-c.mjx-c1D45A {
  padding: 0.479em 0.83em 0.01em 0;
}

mjx-c.mjx-c34 {
  padding: 0.645em 0.495em 0 0;
}

mjx-c.mjx-c36 {
  padding: 0.646em 0.495em 0.012em 0;
}

mjx-c.mjx-c2B {
  padding: 0.558em 0.72em 0.04em 0;
}

mjx-c.mjx-c22C5 {
  padding: 0.32em 0.293em 0 0;
}

mjx-c.mjx-c39 {
  padding: 0.646em 0.495em 0.013em 0;
}

mjx-c.mjx-c1D45F {
  padding: 0.479em 0.412em 0 0;
}

mjx-c.mjx-c63 {
  padding: 0.485em 0.446em 0.01em 0;
}

mjx-c.mjx-c2026 {
  padding: 0.114em 0.887em 0.008em 0;
}

mjx-c.mjx-c27F6 {
  padding: 0.46em 1.612em 0 0;
}

mjx-c.mjx-c35 {
  padding: 0.63em 0.495em 0.013em 0;
}

mjx-c.mjx-c1D44C {
  padding: 0.657em 0.715em 0 0;
}

mjx-c.mjx-c37 {
  padding: 0.63em 0.495em 0.008em 0;
}

mjx-c.mjx-c1D700 {
  padding: 0.481em 0.394em 0.014em 0;
}

mjx-c.mjx-c1D439 {
  padding: 0.657em 0.634em 0 0;
}

mjx-c.mjx-c1D43F {
  padding: 0.657em 0.569em 0 0;
}

mjx-c.mjx-c2217 {
  padding: 0.482em 0.536em 0 0;
}

mjx-c.mjx-c61 {
  padding: 0.485em 0.48em 0.007em 0;
}

mjx-c.mjx-c78 {
  padding: 0.473em 0.482em 0 0;
}

mjx-c.mjx-c7C {
  padding: 0.706em 0.267em 0.22em 0;
}

mjx-c.mjx-c1D43B {
  padding: 0.657em 0.805em 0 0;
}

mjx-c.mjx-c220F.STX-LO {
  padding: 0.919em 1.417em 0.411em 0;
}

mjx-c.mjx-c1D43A {
  padding: 0.67em 0.697em 0.011em 0;
}

mjx-c.mjx-c230A.STX-S5 {
  padding: 1.342em 0.449em 0.799em 0;
}

mjx-c.mjx-c230B.STX-S5 {
  padding: 1.342em 0.449em 0.799em 0;
}

mjx-c.mjx-c1D7CF {
  padding: 0.639em 0.494em 0 0;
}

mjx-c.mjx-c38 {
  padding: 0.647em 0.495em 0.012em 0;
}

mjx-c.mjx-c1D442 {
  padding: 0.669em 0.707em 0.012em 0;
}

mjx-c.mjx-c224D {
  padding: 0.516em 0.72em 0 0;
}

mjx-c.mjx-c1D458 {
  padding: 0.705em 0.533em 0.01em 0;
}

mjx-c.mjx-c1D445 {
  padding: 0.657em 0.62em 0 0;
}

mjx-c.mjx-c28.STX-LO {
  padding: 0.983em 0.404em 0.443em 0;
}

mjx-c.mjx-c29.STX-LO {
  padding: 0.983em 0.404em 0.443em 0;
}

mjx-c.mjx-c1D467 {
  padding: 0.467em 0.493em 0 0;
}

mjx-c.mjx-c6E {
  padding: 0.485em 0.576em 0 0;
}

mjx-c.mjx-c2113.STX-S {
  padding: 0.67em 0.529em 0.01em 0;
}

mjx-c.mjx-c1D435 {
  padding: 0.657em 0.593em 0 0;
}

mjx-c.mjx-c1D49F.STX-S {
  padding: 0.703em 0.926em 0.016em 0;
}

mjx-c.mjx-c53 {
  padding: 0.669em 0.504em 0.015em 0;
}

mjx-c.mjx-c5B {
  padding: 0.736em 0.349em 0.196em 0;
}

mjx-c.mjx-c5D {
  padding: 0.736em 0.349em 0.196em 0;
}

mjx-c.mjx-c1D453 {
  padding: 0.711em 0.577em 0.225em 0;
}

mjx-c.mjx-c1D436 {
  padding: 0.67em 0.674em 0.011em 0;
}

mjx-c.mjx-c56 {
  padding: 0.657em 0.687em 0.005em 0;
}

mjx-c.mjx-c22C3 {
  padding: 0.786em 0.946em 0.271em 0;
}

mjx-c.mjx-c1D448 {
  padding: 0.657em 0.802em 0.012em 0;
}

mjx-c.mjx-c1D449 {
  padding: 0.657em 0.739em 0.005em 0;
}

mjx-c.mjx-c1D43E {
  padding: 0.657em 0.717em 0 0;
}

mjx-c.mjx-c1D446 {
  padding: 0.667em 0.539em 0.015em 0;
}

mjx-c.mjx-c2032.STX-V {
  padding: 0.578em 0.348em 0 0;
}

mjx-c.mjx-c1D702 {
  padding: 0.481em 0.509em 0.217em 0;
}

mjx-c.mjx-c1D53C.STX-DS {
  padding: 0.657em 0.603em 0 0;
}

mjx-c.mjx-c2205.STX-V {
  padding: 0.746em 0.535em 0.076em 0;
}

mjx-c.mjx-c3A8 {
  padding: 0.657em 0.72em 0 0;
}

mjx-c.mjx-c1D452 {
  padding: 0.479em 0.424em 0.012em 0;
}

mjx-c.mjx-c1D44D {
  padding: 0.657em 0.639em 0 0;
}

mjx-c.mjx-c222A {
  padding: 0.549em 0.636em 0.032em 0;
}

mjx-c.mjx-c1D70C {
  padding: 0.481em 0.547em 0.216em 0;
}

mjx-c.mjx-c1D705 {
  padding: 0.479em 0.51em 0.011em 0;
}

mjx-c.mjx-c1D703 {
  padding: 0.717em 0.514em 0.014em 0;
}

mjx-c.mjx-c50.STX-C {
  padding: 0.697em 0.703em 0.009em 0;
}

mjx-c.mjx-c1D714 {
  padding: 0.477em 0.66em 0.011em 0;
}

mjx-c.mjx-c1D437 {
  padding: 0.657em 0.702em 0 0;
}

mjx-c.mjx-c3A6 {
  padding: 0.657em 0.718em 0 0;
}

mjx-c.mjx-c2224 {
  padding: 0.706em 0.413em 0.194em 0;
}

mjx-c.mjx-c1D711 {
  padding: 0.49em 0.607em 0.217em 0;
}

mjx-c.mjx-cB1 {
  padding: 0.576em 0.72em 0.031em 0;
}

mjx-c.mjx-c1D707 {
  padding: 0.473em 0.588em 0.217em 0;
}

mjx-c.mjx-c2006 {
  padding: 0 0.167em 0 0;
}

mjx-c.mjx-c73 {
  padding: 0.485em 0.395em 0.011em 0;
}

mjx-c.mjx-c1D6FD {
  padding: 0.717em 0.55em 0.216em 0;
}

mjx-c.mjx-c1D6FE {
  padding: 0.475em 0.5em 0.214em 0;
}

mjx-c.mjx-c2229 {
  padding: 0.549em 0.636em 0.032em 0;
}

mjx-c.mjx-c2260 {
  padding: 0.678em 0.72em 0.16em 0;
}

mjx-c.mjx-c43 {
  padding: 0.669em 0.67em 0.011em 0;
}

mjx-c.mjx-c76 {
  padding: 0.473em 0.498em 0.006em 0;
}

mjx-c.mjx-c20 {
  padding: 0 0.235em 0 0;
}

mjx-c.mjx-c41.STX-C {
  padding: 0.673em 0.778em 0.012em 0;
}

mjx-c.mjx-c7B.STX-S7 {
  padding: 1.582em 0.48em 1.043em 0;
}

mjx-c.mjx-c7D.STX-S7 {
  padding: 1.582em 0.48em 1.043em 0;
}

mjx-c.mjx-c1D706 {
  padding: 0.705em 0.525em 0.012em 0;
}

mjx-c.mjx-c2200 {
  padding: 0.678em 0.573em 0 0;
}

mjx-c.mjx-c2203 {
  padding: 0.678em 0.573em 0 0;
}

mjx-c.mjx-c221A {
  padding: 0.922em 0.829em 0.265em 0;
}

mjx-c.mjx-c2209 {
  padding: 0.678em 0.72em 0.161em 0;
}

mjx-c.mjx-c1D6FF {
  padding: 0.71em 0.519em 0.014em 0;
}

mjx-c.mjx-c2308 {
  padding: 0.736em 0.349em 0.19em 0;
}

mjx-c.mjx-c2309 {
  padding: 0.736em 0.349em 0.19em 0;
}

mjx-c.mjx-c211A.STX-DS {
  padding: 0.669em 0.751em 0.065em 0;
}

mjx-c.mjx-c46.STX-C {
  padding: 0.684em 0.782em 0.016em 0;
}

mjx-c.mjx-c47 {
  padding: 0.669em 0.72em 0.011em 0;
}

mjx-c.mjx-c79 {
  padding: 0.473em 0.493em 0.235em 0;
}

mjx-c.mjx-c52 {
  padding: 0.657em 0.664em 0 0;
}

mjx-c.mjx-c3F {
  padding: 0.669em 0.411em 0.008em 0;
}

mjx-c.mjx-c7B.STX-S10 {
  padding: 1.94em 0.545em 1.401em 0;
}

mjx-c.mjx-c74 {
  padding: 0.61em 0.315em 0.01em 0;
}

mjx-c.mjx-c68 {
  padding: 0.706em 0.577em 0 0;
}

mjx-c.mjx-c2261 {
  padding: 0.489em 0.72em 0 0;
}

mjx-c.mjx-c1D466 {
  padding: 0.482em 0.51em 0.22em 0;
}

mjx-c.mjx-c7B.STX-S5 {
  padding: 1.342em 0.437em 0.803em 0;
}



.math[data-math-rendered] .mjx-s-00360db46923e363 {height: 0.493em;}
.math[data-math-rendered] .mjx-s-008637330bb6a741 {text-align: left; padding-right: 0.5em; padding-bottom: 0.1em;}
.math[data-math-rendered] .mjx-s-03563f647ac241e1 {width: 12.813em;}
.math[data-math-rendered] .mjx-s-04b4ae50c2ef8166 {padding-top: 0.645em;}
.math[data-math-rendered] .mjx-s-04d074431a6f9ce6 {vertical-align: -0.275em; margin-left: -0.048em;}
.math[data-math-rendered] .mjx-s-08d4a965d3ea90b5 {text-align: left; padding-left: 0.5em; padding-bottom: 0.1em;}
.math[data-math-rendered] .mjx-s-0a3ec7de7237f9e4 {vertical-align: 0.433em;}
.math[data-math-rendered] .mjx-s-0c0e77440e5ab419 {padding-top: 0.646em;}
.math[data-math-rendered] .mjx-s-0d520f87f1fd953b {vertical-align: -0.15em; margin-left: -0.062em;}
.math[data-math-rendered] .mjx-s-0d561ccb8d84c5da {text-align: left; padding-left: 0.5em; padding-top: 0.1em;}
.math[data-math-rendered] .mjx-s-0df9cf6740c68079 {width: 0.444em;}
.math[data-math-rendered] .mjx-s-0e8f965f6f20e8ab {width: 35.364em;}
.math[data-math-rendered] .mjx-s-0ff5ad7ba5db8dc6 {height: 1.078em; vertical-align: -0.25em;}
.math[data-math-rendered] .mjx-s-1036a5d7b08c4895 {padding-top: 0.269em; border-top-width: 0.085em;}
.math[data-math-rendered] .mjx-s-1166b0527708a397 {vertical-align: -0.004em;}
.math[data-math-rendered] .mjx-s-119e9942e3e98e1b {height: 2.109em;}
.math[data-math-rendered] .mjx-s-12bd67bd432c8618 {vertical-align: -0.023em;}
.math[data-math-rendered] .mjx-s-147995de5fb1a1e6 {padding-left: 0.67em;}
.math[data-math-rendered] .mjx-s-14a5068b48f060d7 {vertical-align: 0.289em;}
.math[data-math-rendered] .mjx-s-1505f38b970d4204 {min-width: 16.166em;}
.math[data-math-rendered] .mjx-s-15e168aff71f2080 {padding-top: 0.28em; border-top-width: 0.085em;}
.math[data-math-rendered] .mjx-s-16aaa92de20b164f {padding-left: 0.148em;}
.math[data-math-rendered] .mjx-s-175537d71b716efd {height: 0.687em;}
.math[data-math-rendered] .mjx-s-1764aeb83442eae6 {vertical-align: -0.154em;}
.math[data-math-rendered] .mjx-s-17d6d2f67ee5133d {padding-left: 0.3em;}
.math[data-math-rendered] .mjx-s-1a4bae6f18762d72 {vertical-align: -0.006em;}
.math[data-math-rendered] .mjx-s-1aa11949430fad8b {vertical-align: 0.363em; margin-left: 0.052em;}
.math[data-math-rendered] .mjx-s-1c3d3ef40419943c {padding-top: 0.321em; border-top-width: 0.085em;}
.math[data-math-rendered] .mjx-s-1cb498fc1d18ed0a {height: 0.933em;}
.math[data-math-rendered] .mjx-s-1d3ecf3728b07df1 {width: 16.572em;}
.math[data-math-rendered] .mjx-s-1dab9a256d343432 {text-align: right; padding-right: 0; padding-bottom: 0.15em;}
.math[data-math-rendered] .mjx-s-1ec1bc850dd13c65 {width: 24.266em;}
.math[data-math-rendered] .mjx-s-1f8ac6ebf91fffd9 {min-width: 14.648em; position: relative;}
.math[data-math-rendered] .mjx-s-2605edbf6ac601d7 {min-width: 9.957em; position: relative;}
.math[data-math-rendered] .mjx-s-27e7105bce29ce2f {height: 2.703em;}
.math[data-math-rendered] .mjx-s-2841ea35cc563928 {height: 2.729em;}
.math[data-math-rendered] .mjx-s-286f8711569c6592 {width: auto; min-width: 28.627em; margin: 0 1.704em;}
.math[data-math-rendered] .mjx-s-28b761e46797fae7 {padding-top: 0.673em;}
.math[data-math-rendered] .mjx-s-2af1e510955cacc7 {height: 2.326em; vertical-align: -0.906em;}
.math[data-math-rendered] .mjx-s-2b798c99a4b96578 {width: auto; min-width: 20.637em; margin: 0 1.209em;}
.math[data-math-rendered] .mjx-s-2e78b123c0941d6c {vertical-align: -0.15em; margin-left: -0.045em;}
.math[data-math-rendered] .mjx-s-2e7dd675ed9d80df {height: 0.763em;}
.math[data-math-rendered] .mjx-s-2eee1a5a67edef6b {padding-top: 0.644em;}
.math[data-math-rendered] .mjx-s-2fe7625bc82f47a3 {height: 2.326em;}
.math[data-math-rendered] .mjx-s-2ff35ffb4fa35b22 {vertical-align: -0.15em; margin-left: -0.063em;}
.math[data-math-rendered] .mjx-s-3186855b07ab2351 {width: auto; min-width: 16.772em; margin: 0 1.209em;}
.math[data-math-rendered] .mjx-s-31f39d4bbad91ce3 {width: auto; min-width: 12.572em; margin: 0 1.209em;}
.math[data-math-rendered] .mjx-s-32f20ed2ddce218a {height: 0.805em;}
.math[data-math-rendered] .mjx-s-3375a7de405b3414 {min-width: 21.404em;}
.math[data-math-rendered] .mjx-s-34b5a972db1a86ee {right: 0;}
.math[data-math-rendered] .mjx-s-34e1e86bd559cd5f {height: 2.815em; vertical-align: -1.138em;}
.math[data-math-rendered] .mjx-s-35373c9b9c58da6c {width: auto; min-width: 21.848em; margin: 0 1.209em;}
.math[data-math-rendered] .mjx-s-3733d1e882bef923 {height: 0.682em;}
.math[data-math-rendered] .mjx-s-37542700fc467905 {height: 0.698em;}
.math[data-math-rendered] .mjx-s-37fec3d916d12820 {vertical-align: -0.15em; margin-left: 0.054em;}
.math[data-math-rendered] .mjx-s-3c17698e3282bc07 {padding-top: 0.15em;}
.math[data-math-rendered] .mjx-s-3d9fc16c369ac59c {width: 19.19em;}
.math[data-math-rendered] .mjx-s-3da5bc7425abacff {min-width: 31.439em;}
.math[data-math-rendered] .mjx-s-3df1c7fdac1409ed {width: 2em;}
.math[data-math-rendered] .mjx-s-3e556cc7c0801b07 {height: 2.305em;}
.math[data-math-rendered] .mjx-s-3fd39b6ddb496864 {padding-left: 0.372em;}
.math[data-math-rendered] .mjx-s-411c2f9597fa29d6 {padding-top: 0.167em;}
.math[data-math-rendered] .mjx-s-43483e76aeb23311 {min-width: 12.304em; position: relative;}
.math[data-math-rendered] .mjx-s-4518569ba83e3dc9 {vertical-align: -0.285em; margin-left: -0.048em;}
.math[data-math-rendered] .mjx-s-45a340a126c4fea0 {height: 1.468em;}
.math[data-math-rendered] .mjx-s-45befc012d22d007 {padding-left: 0.136em;}
.math[data-math-rendered] .mjx-s-460a66a0276238dc {padding-top: 0.167em; padding-left: 0.274em;}
.math[data-math-rendered] .mjx-s-47942b4c2dda4f93 {min-width: 19.19em; position: relative;}
.math[data-math-rendered] .mjx-s-48b3ee6548d68a88 {vertical-align: 0.148em;}
.math[data-math-rendered] .mjx-s-497bf91a2bbbcd27 {height: 2.815em;}
.math[data-math-rendered] .mjx-s-4a12a22fb8ff0d13 {height: 3.395em;}
.math[data-math-rendered] .mjx-s-4a75e45fc2dc5956 {min-width: 4.594em;}
.math[data-math-rendered] .mjx-s-4b34eef2714ce5d5 {padding-top: 0.639em;}
.math[data-math-rendered] .mjx-s-4be2a21ffa805f90 {padding-left: 0.457em;}
.math[data-math-rendered] .mjx-s-4dec972b7741419b {vertical-align: -0.15em; margin-left: -0.051em;}
.math[data-math-rendered] .mjx-s-4f3d162b2f1ee4fb {padding-top: 0.253em; border-top-width: 0.085em;}
.math[data-math-rendered] .mjx-s-4fa00029d5b13baa {position: relative;}
.math[data-math-rendered] .mjx-s-525d9bb45b1e050e {padding-left: 0.342em;}
.math[data-math-rendered] .mjx-s-52bef32c64c4b480 {padding-left: 0.216em;}
.math[data-math-rendered] .mjx-s-52cefe5b6c73963e {width: auto; min-width: 9.886em; margin: 0 1.209em;}
.math[data-math-rendered] .mjx-s-539371fdf11fda9d {min-width: 11.944em;}
.math[data-math-rendered] .mjx-s-53edfa0366f0a08e {padding-top: 0.642em;}
.math[data-math-rendered] .mjx-s-5527babf4dc5dd79 {min-width: 23.055em; position: relative;}
.math[data-math-rendered] .mjx-s-552b21227d21ccd8 {padding-top: 0.706em;}
.math[data-math-rendered] .mjx-s-56693994276f970e {vertical-align: -0.319em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-5723af3e92763763 {width: auto; min-width: 7.169em; margin: 0 1.394em;}
.math[data-math-rendered] .mjx-s-580bc7b73128bfdb {width: 37.265em;}
.math[data-math-rendered] .mjx-s-59346988eaa34290 {vertical-align: -0.3em;}
.math[data-math-rendered] .mjx-s-5d3f1a5d5a8428ff {width: 9.957em;}
.math[data-math-rendered] .mjx-s-5fbb40cf0f4ca2ad {margin-top: 0.294em;}
.math[data-math-rendered] .mjx-s-60d9c9d9f5606f4d {padding-bottom: 0.05em;}
.math[data-math-rendered] .mjx-s-610d847f5c5d4711 {min-width: 31.439em; position: relative;}
.math[data-math-rendered] .mjx-s-61207fc7ef84597b {height: 2.626em;}
.math[data-math-rendered] .mjx-s-615c38b67bc92bb3 {min-width: 19.19em;}
.math[data-math-rendered] .mjx-s-63bb7021b4c7d663 {height: 1.468em; vertical-align: -0.483em;}
.math[data-math-rendered] .mjx-s-63e83c29e178d7d7 {min-width: 16.572em; position: relative;}
.math[data-math-rendered] .mjx-s-64048afaaa1823be {min-width: 29.068em;}
.math[data-math-rendered] .mjx-s-6549ba77a8d22cf4 {height: 0.717em;}
.math[data-math-rendered] .mjx-s-65b32d3568f5021f {padding-left: 0.167em;}
.math[data-math-rendered] .mjx-s-66bb6881308ec8ed {padding-top: 0.167em; padding-left: 0.037em;}
.math[data-math-rendered] .mjx-s-66bb998564d1996a {width: auto; min-width: 9.024em; margin: 0 1.658em;}
.math[data-math-rendered] .mjx-s-68d3ebef411d6e10 {width: auto; min-width: 28.031em; margin: 0 1.704em;}
.math[data-math-rendered] .mjx-s-69e6a23d343339f3 {vertical-align: 0.012em;}
.math[data-math-rendered] .mjx-s-6a435e4567b8c311 {width: auto; min-width: 12.23em; margin: 0 1.209em;}
.math[data-math-rendered] .mjx-s-6a664580de78aed8 {text-align: left; padding-left: 0.5em; padding-top: 0.1em; padding-bottom: 0.1em;}
.math[data-math-rendered] .mjx-s-6c576990d7b4b5f4 {width: 0.167em;}
.math[data-math-rendered] .mjx-s-6cb82228e57aa0b8 {width: auto; min-width: 9.526em; margin: 0 1.209em;}
.math[data-math-rendered] .mjx-s-6d49f81678d9ec43 {vertical-align: -0.15em; margin-left: -0.018em;}
.math[data-math-rendered] .mjx-s-6d4a0f3f1bd8fbb8 {height: 2.585em;}
.math[data-math-rendered] .mjx-s-715b8322ff150309 {vertical-align: 0.363em; margin-left: 0.051em;}
.math[data-math-rendered] .mjx-s-7175b9f12891a7ad {height: 2.939em; vertical-align: -1.309em;}
.math[data-math-rendered] .mjx-s-723b61fac7b77789 {height: NaNem;}
.math[data-math-rendered] .mjx-s-7259694501f649b0 {padding-bottom: 0.2em; padding-left: 0.47em;}
.math[data-math-rendered] .mjx-s-739e6846dfcf46f9 {height: 0.814em;}
.math[data-math-rendered] .mjx-s-73a724be7ff0fe11 {min-width: 14.648em;}
.math[data-math-rendered] .mjx-s-749566c37b1b4a6c {height: 1.078em;}
.math[data-math-rendered] .mjx-s-752c5a5f15211e13 {height: 3.111em; vertical-align: -1.309em;}
.math[data-math-rendered] .mjx-s-75420ed3bad04c25 {padding-left: 0.175em;}
.math[data-math-rendered] .mjx-s-76960ec465082870 {min-width: 10.837em;}
.math[data-math-rendered] .mjx-s-776aa932b8c6e8e2 {padding-top: 0.273em; border-top-width: 0.085em;}
.math[data-math-rendered] .mjx-s-777973f78499ad64 {height: 1.031em;}
.math[data-math-rendered] .mjx-s-790f7917fecd5498 {height: 3.111em;}
.math[data-math-rendered] .mjx-s-79c26f12f8f074e6 {padding-top: 0.15em; padding-bottom: 0.15em;}
.math[data-math-rendered] .mjx-s-7ad1a2df1205b065 {height: 0.745em;}
.math[data-math-rendered] .mjx-s-7b4e13829d0d792a {padding-top: 0.358em; border-top-width: 0.085em;}
.math[data-math-rendered] .mjx-s-7c5ca05aad8b2cd4 {vertical-align: -0.008em;}
.math[data-math-rendered] .mjx-s-7ee281d2e8be81ce {vertical-align: -0.255em;}
.math[data-math-rendered] .mjx-s-7efe249275af63c3 {height: 0.777em;}
.math[data-math-rendered] .mjx-s-7fa066b6dfcfd5c4 {height: 1.058em;}
.math[data-math-rendered] .mjx-s-82b4061417005eeb {text-align: left; padding-left: 0; padding-bottom: 0.15em;}
.math[data-math-rendered] .mjx-s-82e6b45b32da46ea {padding-top: 0.485em;}
.math[data-math-rendered] .mjx-s-82eb765d1077eb57 {height: 1.334em;}
.math[data-math-rendered] .mjx-s-84e249507070f2ca {padding-bottom: 0.172em;}
.math[data-math-rendered] .mjx-s-8601988b95f2cbf5 {vertical-align: -0.15em; margin-left: -0.069em;}
.math[data-math-rendered] .mjx-s-86c941c9d7413063 {width: 14.648em;}
.math[data-math-rendered] .mjx-s-8773d60657f0dad2 {vertical-align: -0.017em;}
.math[data-math-rendered] .mjx-s-8936da5d75c486ad {padding-bottom: 0.2em; padding-left: 0.244em;}
.math[data-math-rendered] .mjx-s-8acb2a445fbf63b7 {width: 12.34em;}
.math[data-math-rendered] .mjx-s-8b795b856b9afeab {width: 12.304em;}
.math[data-math-rendered] .mjx-s-8ca2b7744c8aae23 {text-align: right; padding-right: 0; padding-top: 0.15em;}
.math[data-math-rendered] .mjx-s-8dcc9478b006a77a {width: 31.439em;}
.math[data-math-rendered] .mjx-s-94b3ce6ef62d55f8 {vertical-align: -0.15em; margin-left: -0.099em;}
.math[data-math-rendered] .mjx-s-953a2190604d3cde {height: 2.703em; vertical-align: -1.165em;}
.math[data-math-rendered] .mjx-s-9561742b60faf9f3 {vertical-align: -0.247em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-958fc556795d4de0 {vertical-align: -0.291em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-96f244e953bf98d6 {width: 23.055em;}
.math[data-math-rendered] .mjx-s-98c6120f50aac975 {padding-top: 0.167em; padding-left: 0.198em;}
.math[data-math-rendered] .mjx-s-99521fff5d3bb946 {width: 11.944em;}
.math[data-math-rendered] .mjx-s-997e15e5e8747e56 {margin-top: 0.341em;}
.math[data-math-rendered] .mjx-s-9a262274664e8e27 {vertical-align: -0.3em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-9acaf78aad153e2a {padding-left: 0.536em;}
.math[data-math-rendered] .mjx-s-9c5a56c1ae81f08f {min-width: 2.058em;}
.math[data-math-rendered] .mjx-s-9c7a84ff253c44af {min-width: 11.944em; position: relative;}
.math[data-math-rendered] .mjx-s-9ec49e2bd46a2f9b {height: 1.128em; vertical-align: -0.25em;}
.math[data-math-rendered] .mjx-s-9ecfb73e7740591d {margin-right: 0.12em; vertical-align: 0.25em;}
.math[data-math-rendered] .mjx-s-9f6af5e741e59389 {padding-top: 0.05em;}
.math[data-math-rendered] .mjx-s-a088fc5a41302dc0 {vertical-align: -0.15em; margin-left: -0.005em;}
.math[data-math-rendered] .mjx-s-a0a0ed0e05d756f2 {width: 16.166em;}
.math[data-math-rendered] .mjx-s-a2275afa927caace {min-width: 12.304em;}
.math[data-math-rendered] .mjx-s-a2c1ec1c99ad594d {vertical-align: -0.15em; margin-left: -0.048em;}
.math[data-math-rendered] .mjx-s-a3809b13f547cfec {border: 0.067em solid; padding: 0.2em;}
.math[data-math-rendered] .mjx-s-a453b80eeadcf4c4 {height: 3.016em;}
.math[data-math-rendered] .mjx-s-a47e4be61538a0f6 {vertical-align: -0.019em;}
.math[data-math-rendered] .mjx-s-a4da56c56009cab9 {text-align: left; padding-left: 0; padding-top: 0.15em;}
.math[data-math-rendered] .mjx-s-a500c406b6e97026 {padding-left: 0.019em;}
.math[data-math-rendered] .mjx-s-a596fae847ee190a {margin-left: 0.142em;}
.math[data-math-rendered] .mjx-s-a6363acb96f908e5 {padding-top: 0.362em; border-top-width: 0.085em;}
.math[data-math-rendered] .mjx-s-a6b23cc45fffff58 {min-width: 37.265em;}
.math[data-math-rendered] .mjx-s-a727bccd17bcf532 {min-width: 12.34em;}
.math[data-math-rendered] .mjx-s-a78b21c4b24f757e {min-width: 12.813em;}
.math[data-math-rendered] .mjx-s-a94a4d3a7a8e7894 {margin-top: 0.208em;}
.math[data-math-rendered] .mjx-s-a992c46c64f653c1 {vertical-align: 0.413em;}
.math[data-math-rendered] .mjx-s-aafad79e08afe8d4 {min-width: 1.99em;}
.math[data-math-rendered] .mjx-s-ad343c1d9fbdf509 {padding-left: 1.068em;}
.math[data-math-rendered] .mjx-s-aea0ccf1f334f770 {min-width: 7.902em;}
.math[data-math-rendered] .mjx-s-affbb95caddb019c {min-width: 35.364em;}
.math[data-math-rendered] .mjx-s-b08a6c2321aaf245 {min-width: 16.166em; position: relative;}
.math[data-math-rendered] .mjx-s-b1151a051593ca1f {min-width: 9.957em;}
.math[data-math-rendered] .mjx-s-b40e276b4a602834 {padding-left: 0.014em;}
.math[data-math-rendered] .mjx-s-b4ca2e60bc5952f5 {vertical-align: -0.15em; margin-left: -0.08em;}
.math[data-math-rendered] .mjx-s-b58a6b4c6b6a1e82 {height: 0.856em;}
.math[data-math-rendered] .mjx-s-b82c99f54e7b36ef {width: auto; min-width: 14.154em; margin: 0 1.209em;}
.math[data-math-rendered] .mjx-s-b85227a0b9b308a2 {height: 3.395em; vertical-align: -1.718em;}
.math[data-math-rendered] .mjx-s-b8806b1675b9638f {padding-left: 0.07em;}
.math[data-math-rendered] .mjx-s-b8b4e479b4e94851 {padding-top: 0.167em; padding-left: 0.6em;}
.math[data-math-rendered] .mjx-s-ba894e74902e5029 {height: 0.068em; border-top: 0.085em solid; margin: 0.204em -.1em;}
.math[data-math-rendered] .mjx-s-bae311caaf3f97e7 {min-width: 12.34em; position: relative;}
.math[data-math-rendered] .mjx-s-bb34b3b6bb5c218c {width: auto; min-width: 10.377em; margin: 0 1.218em;}
.math[data-math-rendered] .mjx-s-bbf3eafe63e6763e {vertical-align: 0.363em;}
.math[data-math-rendered] .mjx-s-be41b6ed4a16c367 {height: 0.068em; border-top: 0.085em solid; margin: 0.068em -.1em;}
.math[data-math-rendered] .mjx-s-c1bea0ba130beb76 {vertical-align: 0.421em;}
.math[data-math-rendered] .mjx-s-c262ee122f170d72 {width: 32.035em;}
.math[data-math-rendered] .mjx-s-c271c50d966e4f11 {min-width: 2.724em;}
.math[data-math-rendered] .mjx-s-c54ca5723e0ee2ea {height: 2.939em;}
.math[data-math-rendered] .mjx-s-c804c3ced6d6769d {height: 2.626em; vertical-align: -1.206em;}
.math[data-math-rendered] .mjx-s-c8c0a10ae672ab56 {vertical-align: -0.15em;}
.math[data-math-rendered] .mjx-s-c8cd5d720d87a342 {padding-left: 0.073em;}
.math[data-math-rendered] .mjx-s-c92d6e4172052aa5 {min-width: 12.813em; position: relative;}
.math[data-math-rendered] .mjx-s-cb3d72a5bd0862d1 {padding-top: 0.167em; padding-left: 0.404em;}
.math[data-math-rendered] .mjx-s-cc872fcba0b2a07c {height: 0.716em;}
.math[data-math-rendered] .mjx-s-cde2f7df906a2192 {min-width: 37.265em; position: relative;}
.math[data-math-rendered] .mjx-s-cdeefbb125f5541d {height: 0.188em; vertical-align: -0.188em;}
.math[data-math-rendered] .mjx-s-cdf4ff7f6da077fb {padding-top: 0.325em; border-top-width: 0.085em;}
.math[data-math-rendered] .mjx-s-cee59a7e1a02440f {vertical-align: -0.15em; margin-left: -0.071em;}
.math[data-math-rendered] .mjx-s-cfc28673cb3e214c {text-align: left; padding-right: 0.5em; padding-top: 0.1em;}
.math[data-math-rendered] .mjx-s-cffe60632a7cce29 {height: 1.128em;}
.math[data-math-rendered] .mjx-s-d0d4351a4dbde560 {height: 2.883em;}
.math[data-math-rendered] .mjx-s-d2559b59109fdb82 {padding-bottom: 0.111em;}
.math[data-math-rendered] .mjx-s-d2c2981716e01b95 {height: 2.305em; vertical-align: -0.92em;}
.math[data-math-rendered] .mjx-s-d4847a985f55a0aa {min-width: 23.055em;}
.math[data-math-rendered] .mjx-s-d59f49e95cd9b1b4 {width: auto; min-width: 12.758em; margin: 0 1.704em;}
.math[data-math-rendered] .mjx-s-d5ce3bd7090a37c8 {min-width: 16.572em;}
.math[data-math-rendered] .mjx-s-d60782fe9daa3c18 {padding-top: 0.167em; padding-left: 0.064em;}
.math[data-math-rendered] .mjx-s-d60f43109120f36e {width: 0.333em;}
.math[data-math-rendered] .mjx-s-d6772aae42aa4de8 {vertical-align: -0.27em;}
.math[data-math-rendered] .mjx-s-d704b086dee893d9 {margin-top: 0.204em;}
.math[data-math-rendered] .mjx-s-da37d693024191c6 {height: 3.016em; vertical-align: -1.339em;}
.math[data-math-rendered] .mjx-s-daff9210c10c85d5 {vertical-align: -0.15em; margin-left: -0.012em;}
.math[data-math-rendered] .mjx-s-dbc54d16e36bb7b6 {min-width: 14.99em;}
.math[data-math-rendered] .mjx-s-ddcb0fa132a38d9a {height: 2.109em; vertical-align: -1.196em;}
.math[data-math-rendered] .mjx-s-ddda25523b39921c {text-align: left; padding-right: 0.5em; padding-top: 0.1em; padding-bottom: 0.1em;}
.math[data-math-rendered] .mjx-s-de9f7671fe15fa51 {min-width: 14.99em; position: relative;}
.math[data-math-rendered] .mjx-s-dec41a742c95633c {min-width: 32.035em; position: relative;}
.math[data-math-rendered] .mjx-s-df7123549406028f {min-width: 24.266em;}
.math[data-math-rendered] .mjx-s-e0404813ab9abcae {width: auto; min-width: 32.476em; margin: 0 1.444em;}
.math[data-math-rendered] .mjx-s-e19fb0044e4620e1 {width: auto; min-width: 34.847em; margin: 0 1.209em;}
.math[data-math-rendered] .mjx-s-e1d8aa93f9bbf92c {padding-left: 0.172em;}
.math[data-math-rendered] .mjx-s-e220f90d230bcb5f {padding-bottom: 0.2em; padding-left: 0.411em;}
.math[data-math-rendered] .mjx-s-e2f304eb2f896851 {vertical-align: -0.314em;}
.math[data-math-rendered] .mjx-s-e31d17caa392c72f {width: 14.99em;}
.math[data-math-rendered] .mjx-s-e68b88d6e5ad347a {min-width: 32.035em;}
.math[data-math-rendered] .mjx-s-e926b69711aa3b35 {padding-top: 0.713em;}
.math[data-math-rendered] .mjx-s-eb088997e3f71949 {padding-bottom: 0.2em; padding-left: 0.49em;}
.math[data-math-rendered] .mjx-s-eb37456aec902868 {vertical-align: -0.15em; margin-left: -0.097em;}
.math[data-math-rendered] .mjx-s-eceafbae70b158e3 {vertical-align: 0.338em;}
.math[data-math-rendered] .mjx-s-ed36a632528056c9 {padding-bottom: 0.2em; padding-left: 0.323em;}
.math[data-math-rendered] .mjx-s-edb07fd686358935 {height: 2.585em; vertical-align: -1.165em;}
.math[data-math-rendered] .mjx-s-eefc97052b07d86d {min-width: 24.266em; position: relative;}
.math[data-math-rendered] .mjx-s-ef26e8b259d74c7f {vertical-align: -0.022em;}
.math[data-math-rendered] .mjx-s-f0f31f51e9c5e561 {vertical-align: 0.007em;}
.math[data-math-rendered] .mjx-s-f1c7727f25342d7a {vertical-align: -0.273em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-f3fc021305196823 {padding-bottom: 0.15em;}
.math[data-math-rendered] .mjx-s-f5799f6dc6a49d41 {vertical-align: -0.02em;}
.math[data-math-rendered] .mjx-s-f7164b1a8a5c3f97 {height: 0.042em; vertical-align: -0.042em;}
.math[data-math-rendered] .mjx-s-f7708527c693f8ae {width: 1em;}
.math[data-math-rendered] .mjx-s-f7cd04a8735aabe7 {padding-left: 0.026em;}
.math[data-math-rendered] .mjx-s-f80dd637e267d6c9 {min-width: 35.364em; position: relative;}
.math[data-math-rendered] .mjx-s-f8a79e9d25506ee1 {padding-left: 0.407em;}
.math[data-math-rendered] .mjx-s-f901b3b772425865 {height: 0.837em;}
.math[data-math-rendered] .mjx-s-fca40032a9ef84e1 {padding-top: 0.669em;}
.math[data-math-rendered] .mjx-s-fd91a61031bf4588 {padding-top: 0.167em; padding-left: 0.007em;}