
mjx-container[overflow="scroll"][display] {
  overflow: auto clip;
  min-width: initial !important;
}

mjx-container[overflow="truncate"][display] {
  overflow: hidden clip;
  min-width: initial !important;
}

mjx-container[display] {
  display: block;
  text-align: center;
  justify-content: center;
  margin: .7em 0;
  padding: .3em 2px;
}

mjx-container[display][width="full"] {
  display: flex;
}

mjx-container[justify="left"] {
  text-align: left;
  justify-content: left;
}

mjx-container[justify="right"] {
  text-align: right;
  justify-content: right;
}

mjx-container[jax="CHTML"] {
  white-space: nowrap;
}

mjx-mo > mjx-c, mjx-mi > mjx-c, mjx-mn > mjx-c, mjx-ms > mjx-c, mjx-mtext > mjx-c {
  clip-path: padding-box polygon(-1em -2px, calc(100% + 1em) -2px, calc(100% + 1em) calc(100% + 2px), -1em calc(100% + 2px));
}

mjx-stretchy-h {
  clip-path: padding-box polygon(0 -2px, 100% -2px, 100% calc(100% + 2px), 0 calc(100% + 2px));
  display: inline-block;
}

mjx-stretchy-v {
  clip-path: padding-box polygon(-2px 0, calc(100% + 2px) 0, calc(100% + 2px) 100%, -2px 100%);
  display: inline-block;
  text-align: center;
}

mjx-container [space="1"] {
  margin-left: .111em;
}

mjx-container [space="2"] {
  margin-left: .167em;
}

mjx-container [space="3"] {
  margin-left: .222em;
}

mjx-container [space="4"] {
  margin-left: .278em;
}

mjx-container [space="5"] {
  margin-left: .333em;
}

mjx-container [rspace="1"] {
  margin-right: .111em;
}

mjx-container [rspace="2"] {
  margin-right: .167em;
}

mjx-container [rspace="3"] {
  margin-right: .222em;
}

mjx-container [rspace="4"] {
  margin-right: .278em;
}

mjx-container [rspace="5"] {
  margin-right: .333em;
}

mjx-container [size="s"] {
  font-size: 70.7%;
}

mjx-container [size="ss"] {
  font-size: 50%;
}

mjx-container [size="Tn"] {
  font-size: 60%;
}

mjx-container [size="sm"] {
  font-size: 85%;
}

mjx-container [size="lg"] {
  font-size: 120%;
}

mjx-container [size="Lg"] {
  font-size: 144%;
}

mjx-container [size="LG"] {
  font-size: 173%;
}

mjx-container [size="hg"] {
  font-size: 207%;
}

mjx-container [size="HG"] {
  font-size: 249%;
}

mjx-container [width="full"] {
  width: 100%;
}

mjx-box {
  display: inline-block;
}

mjx-block {
  display: block;
}

mjx-itable {
  display: inline-table;
}

mjx-row {
  display: table-row;
}

mjx-row > mjx-cell, mjx-row > mjx-base, mjx-row > mjx-under, mjx-row > mjx-over, mjx-row > mjx-den {
  display: table-cell;
}

mjx-container [inline-breaks] {
  display: inline;
}

mjx-container .mjx-selected {
  outline: 2px solid black;
}

@media (prefers-color-scheme: dark) {
  mjx-container .mjx-selected {
    outline: 2px solid #C8C8C8;
  }
}

mjx-mtext {
  display: inline-block;
  text-align: left;
}

mjx-mstyle {
  display: inline-block;
}

mjx-merror {
  display: inline-block;
  color: red;
  background-color: yellow;
}

mjx-mphantom {
  visibility: hidden;
}

mjx-assistive-mml {
  position: absolute !important;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 1px, 1px 1px, 1px 0);
  padding: 1px 0px 0px 0px !important;
  border: 0px !important;
  display: block !important;
  width: auto !important;
  overflow: hidden !important;
  text-indent: 0px ! important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mjx-assistive-mml[display="block"] {
  width: 100% !important;
}

mjx-math {
  display: inline-block;
  text-align: left;
  line-height: 0;
  text-indent: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  font-size-adjust: none;
  letter-spacing: normal;
  word-wrap: normal;
  word-spacing: normal;
  direction: ltr;
  padding: 1px 0;
}

mjx-container[jax="CHTML"][display="true"] mjx-math {
  padding: 0;
}

mjx-math[breakable] {
  display: inline;
}

mjx-container[jax="CHTML"] mjx-break {
  white-space: normal;
  line-height: 0;
  clip-path: rect(0 0 0 0);
  font-family: MJX-BRK !important;
}

mjx-break[size="0"] {
  letter-spacing: -0.999em;
}

mjx-break[size="1"] {
  letter-spacing: -0.889em;
}

mjx-break[size="2"] {
  letter-spacing: -0.833em;
}

mjx-break[size="3"] {
  letter-spacing: -0.778em;
}

mjx-break[size="4"] {
  letter-spacing: -0.722em;
}

mjx-break[size="5"] {
  letter-spacing: -0.667em;
}

mjx-msub {
  display: inline-block;
  text-align: left;
}

mjx-msubsup {
  display: inline-block;
  text-align: left;
}

mjx-script {
  display: inline-block;
  padding-right: .05em;
  padding-left: .033em;
}

mjx-script > mjx-spacer {
  display: block;
}

mjx-mi {
  display: inline-block;
  text-align: left;
}

mjx-c {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-utext {
  display: inline-block;
  padding: .75em 0 .2em 0;
}

mjx-mn {
  display: inline-block;
  text-align: left;
}

mjx-mo {
  display: inline-block;
  text-align: left;
}

mjx-stretchy-h > mjx-beg, mjx-stretchy-h > mjx-ext, mjx-stretchy-h > mjx-end, mjx-stretchy-h > mjx-mid {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-stretchy-h > mjx-ext {
  clip-path: padding-box polygon(0 -1em, 100% -1em, 100% calc(100% + 1em), 0 calc(100% + 1em));
  width: 100%;
  border: 0px solid transparent;
  box-sizing: border-box;
  text-align: left;
}

mjx-stretchy-v > mjx-beg, mjx-stretchy-v > mjx-ext, mjx-stretchy-v > mjx-end, mjx-stretchy-v > mjx-mid {
  display: block;
  height: 0;
  margin: 0 auto;
}

mjx-stretchy-v > mjx-ext > mjx-spacer {
  display: block;
}

mjx-stretchy-v > mjx-ext {
  clip-path: padding-box polygon(-1em 0, calc(100% + 1em) 0, calc(100% + 1em) 100%, -1em 100%);
  height: 100%;
  border: 0.1px solid transparent;
  box-sizing: border-box;
  white-space: pre;
}

mjx-mark {
  display: inline-block;
  height: 0;
}

mjx-TeXAtom {
  display: inline-block;
  text-align: left;
}

mjx-munder {
  display: inline-block;
  text-align: left;
}

mjx-over {
  text-align: left;
}

mjx-munder:not([limits="false"]) {
  display: inline-table;
}

mjx-munder > mjx-row {
  text-align: left;
}

mjx-under {
  padding-bottom: .1em;
}

mjx-mfrac {
  display: inline-block;
  text-align: left;
}

mjx-frac {
  display: inline-block;
  vertical-align: 0.17em;
  padding: 0 .22em;
}

mjx-frac[type="d"] {
  vertical-align: .04em;
}

mjx-frac[delims] {
  padding: 0 .1em;
}

mjx-frac[atop] {
  padding: 0 .12em;
}

mjx-frac[atop][delims] {
  padding: 0;
}

mjx-dtable {
  display: inline-table;
  width: 100%;
}

mjx-dtable > mjx-line, mjx-dtable > mjx-row {
  font-size: 2000%;
}

mjx-dbox {
  display: block;
  font-size: 5%;
}

mjx-num {
  display: block;
  text-align: center;
}

mjx-den {
  display: block;
  text-align: center;
}

mjx-mfrac[bevelled] > mjx-num {
  display: inline-block;
}

mjx-mfrac[bevelled] > mjx-den {
  display: inline-block;
}

mjx-den[align="right"], mjx-num[align="right"] {
  text-align: right;
}

mjx-den[align="left"], mjx-num[align="left"] {
  text-align: left;
}

mjx-nstrut {
  display: inline-block;
  height: .054em;
  width: 0;
  vertical-align: -.054em;
}

mjx-nstrut[type="d"] {
  height: .217em;
  vertical-align: -.217em;
}

mjx-dstrut {
  display: inline-block;
  height: .505em;
  width: 0;
}

mjx-dstrut[type="d"] {
  height: .726em;
}

mjx-line {
  display: block;
  box-sizing: border-box;
  min-height: 1px;
  height: .06em;
  border-top: .075em solid;
  margin: .06em -.1em;
  overflow: hidden;
}

mjx-line[type="d"] {
  margin: .18em -.1em;
}

mjx-mrow {
  display: inline-block;
  text-align: left;
}

mjx-linestack, mjx-mrow[break-top] {
  display: inline-table;
  width: 100%;
}

mjx-linestack[break-align="bottom"], mjx-mrow[break-top][break-align="bottom"] {
  display: inline-block;
}

mjx-linestack[break-align="middle"], mjx-mrow[break-top][break-align="middle"] {
  vertical-align: middle;
}

mjx-linestack[break-align="center"], mjx-mrow[break-top][break-align="center"] {
  vertical-align: middle;
}

mjx-linestack[breakable] {
  display: inline;
}

mjx-linestack[breakable] > mjx-linebox {
  display: inline;
}

mjx-linestack[breakable] > mjx-linebox::before {
  white-space: pre;
  content: "\A";
}

mjx-linestack[breakable] > mjx-linebox::after {
  white-space: normal;
  content: " ";
  letter-spacing: -.999em;
  font-family: MJX-BRK;
}

mjx-linestack[breakable] > mjx-linebox:first-of-type::before {
  display: none;
}

mjx-linestack[breakable] > mjx-linebox:last-of-type::after {
  display: none;
}

mjx-linebox {
  display: block;
}

mjx-linebox[align="left"] {
  text-align: left;
}

mjx-linebox[align="center"] {
  text-align: center;
}

mjx-linebox[align="right"] {
  text-align: right;
}

mjx-linestrut {
  display: inline-block;
  height: 1em;
  vertical-align: -.25em;
}

mjx-mspace {
  display: inline-block;
  text-align: left;
}

mjx-msup {
  display: inline-block;
  text-align: left;
}

mjx-mtable {
  display: inline-block;
  text-align: center;
  vertical-align: .25em;
  position: relative;
  box-sizing: border-box;
  border-spacing: 0;
  border-collapse: collapse;
}

mjx-mstyle[size="s"] mjx-mtable {
  vertical-align: .354em;
}

mjx-labels {
  position: absolute;
  left: 0;
  top: 0;
}

mjx-table {
  display: inline-block;
  vertical-align: -.5ex;
  box-sizing: border-box;
}

mjx-table > mjx-itable {
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
}

mjx-labels > mjx-itable {
  position: absolute;
  top: 0;
}

mjx-mtable[justify="left"] {
  text-align: left;
}

mjx-mtable[justify="right"] {
  text-align: right;
}

mjx-mtable[justify="left"][side="left"] {
  padding-right: 0 ! important;
}

mjx-mtable[justify="left"][side="right"] {
  padding-left: 0 ! important;
}

mjx-mtable[justify="right"][side="left"] {
  padding-right: 0 ! important;
}

mjx-mtable[justify="right"][side="right"] {
  padding-left: 0 ! important;
}

mjx-mtable[align] {
  vertical-align: baseline;
}

mjx-mtable[align="top"] > mjx-table {
  vertical-align: top;
}

mjx-mtable[align="bottom"] > mjx-table {
  vertical-align: bottom;
}

mjx-mtable[side="right"] mjx-labels {
  min-width: 100%;
}

mjx-mlabeledtr {
  display: table-row;
  text-align: left;
}

mjx-mlabeledtr[rowalign="top"] > mjx-mtd {
  vertical-align: top;
}

mjx-mlabeledtr[rowalign="center"] > mjx-mtd {
  vertical-align: middle;
}

mjx-mlabeledtr[rowalign="bottom"] > mjx-mtd {
  vertical-align: bottom;
}

mjx-mlabeledtr[rowalign="baseline"] > mjx-mtd {
  vertical-align: baseline;
}

mjx-mlabeledtr[rowalign="axis"] > mjx-mtd {
  vertical-align: .25em;
}

mjx-mtr {
  display: table-row;
  text-align: left;
}

mjx-mtr[rowalign="top"] > mjx-mtd {
  vertical-align: top;
}

mjx-mtr[rowalign="center"] > mjx-mtd {
  vertical-align: middle;
}

mjx-mtr[rowalign="bottom"] > mjx-mtd {
  vertical-align: bottom;
}

mjx-mtr[rowalign="baseline"] > mjx-mtd {
  vertical-align: baseline;
}

mjx-mtr[rowalign="axis"] > mjx-mtd {
  vertical-align: .25em;
}

mjx-mtd {
  display: table-cell;
  text-align: center;
  padding: .215em .4em;
}

mjx-mtd:first-child {
  padding-left: 0;
}

mjx-mtd:last-child {
  padding-right: 0;
}

mjx-mtable > * > mjx-itable > *:first-child > mjx-mtd {
  padding-top: 0;
}

mjx-mtable > * > mjx-itable > *:last-child > mjx-mtd {
  padding-bottom: 0;
}

mjx-tstrut {
  display: inline-block;
  height: 1em;
  vertical-align: -.25em;
}

mjx-labels[align="left"] > mjx-mtr > mjx-mtd {
  text-align: left;
}

mjx-labels[align="right"] > mjx-mtr > mjx-mtd {
  text-align: right;
}

mjx-mtd[extra] {
  padding: 0;
}

mjx-mtd[rowalign="top"] {
  vertical-align: top;
}

mjx-mtd[rowalign="center"] {
  vertical-align: middle;
}

mjx-mtd[rowalign="bottom"] {
  vertical-align: bottom;
}

mjx-mtd[rowalign="baseline"] {
  vertical-align: baseline;
}

mjx-mtd[rowalign="axis"] {
  vertical-align: .25em;
}

mjx-container[jax="CHTML"] > mjx-math.TEX-N[breakable] > * {
  font-family: MJX-TEX-ZERO, MJX-TEX-N;
}

.TEX-N {
  font-family: MJX-TEX-ZERO, MJX-TEX-N;
}

.TEX-B {
  font-family: MJX-TEX-ZERO, MJX-TEX-B;
}

.TEX-I {
  font-family: MJX-TEX-ZERO, MJX-TEX-I;
}

.TEX-BI {
  font-family: MJX-TEX-ZERO, MJX-TEX-BI;
}

.TEX-F {
  font-family: MJX-TEX-ZERO, MJX-TEX-F;
}

.TEX-FB {
  font-family: MJX-TEX-ZERO, MJX-TEX-FB;
}

.TEX-SS {
  font-family: MJX-TEX-ZERO, MJX-TEX-SS;
}

.TEX-SSB {
  font-family: MJX-TEX-ZERO, MJX-TEX-SSB;
}

.TEX-SSI {
  font-family: MJX-TEX-ZERO, MJX-TEX-SSI;
}

.TEX-M {
  font-family: MJX-TEX-ZERO, MJX-TEX-M;
}

.TEX-SO {
  font-family: MJX-TEX-ZERO, MJX-TEX-SO;
}

.TEX-LO {
  font-family: MJX-TEX-ZERO, MJX-TEX-LO;
}

.TEX-C {
  font-family: MJX-TEX-ZERO, MJX-TEX-C;
}

.TEX-CB {
  font-family: MJX-TEX-ZERO, MJX-TEX-CB;
}

.TEX-OS {
  font-family: MJX-TEX-ZERO, MJX-TEX-OS;
}

.TEX-OB {
  font-family: MJX-TEX-ZERO, MJX-TEX-OB;
}

.TEX-MI {
  font-family: MJX-TEX-ZERO, MJX-TEX-MI;
}

.TEX-V {
  font-family: MJX-TEX-ZERO, MJX-TEX-V;
}

.TEX-S3 {
  font-family: MJX-TEX-ZERO, MJX-TEX-S3;
}

.TEX-S4 {
  font-family: MJX-TEX-ZERO, MJX-TEX-S4;
}

@font-face /* MJX-TEX-ZERO */ {
  font-family: MJX-TEX-ZERO;
  src: url("./fonts/mjx-tex-zero.woff2") format("woff2");
}

@font-face /* MJX-BRK */ {
  font-family: MJX-BRK;
  src: url("./fonts/mjx-tex-brk.woff2") format("woff2");
}

@font-face /* MJX-TEX-N */ {
  font-family: MJX-TEX-N;
  src: url("./fonts/mjx-tex-n.woff2") format("woff2");
}

@font-face /* MJX-TEX-B */ {
  font-family: MJX-TEX-B;
  src: url("./fonts/mjx-tex-b.woff2") format("woff2");
}

@font-face /* MJX-TEX-I */ {
  font-family: MJX-TEX-I;
  src: url("./fonts/mjx-tex-i.woff2") format("woff2");
}

@font-face /* MJX-TEX-BI */ {
  font-family: MJX-TEX-BI;
  src: url("./fonts/mjx-tex-bi.woff2") format("woff2");
}

@font-face /* MJX-TEX-F */ {
  font-family: MJX-TEX-F;
  src: url("./fonts/mjx-tex-f.woff2") format("woff2");
}

@font-face /* MJX-TEX-FB */ {
  font-family: MJX-TEX-FB;
  src: url("./fonts/mjx-tex-fb.woff2") format("woff2");
}

@font-face /* MJX-TEX-SS */ {
  font-family: MJX-TEX-SS;
  src: url("./fonts/mjx-tex-ss.woff2") format("woff2");
}

@font-face /* MJX-TEX-SSB */ {
  font-family: MJX-TEX-SSB;
  src: url("./fonts/mjx-tex-ssb.woff2") format("woff2");
}

@font-face /* MJX-TEX-SSI */ {
  font-family: MJX-TEX-SSI;
  src: url("./fonts/mjx-tex-ssi.woff2") format("woff2");
}

@font-face /* MJX-TEX-M */ {
  font-family: MJX-TEX-M;
  src: url("./fonts/mjx-tex-m.woff2") format("woff2");
}

@font-face /* MJX-TEX-SO */ {
  font-family: MJX-TEX-SO;
  src: url("./fonts/mjx-tex-so.woff2") format("woff2");
}

@font-face /* MJX-TEX-LO */ {
  font-family: MJX-TEX-LO;
  src: url("./fonts/mjx-tex-lo.woff2") format("woff2");
}

@font-face /* MJX-TEX-C */ {
  font-family: MJX-TEX-C;
  src: url("./fonts/mjx-tex-c.woff2") format("woff2");
}

@font-face /* MJX-TEX-CB */ {
  font-family: MJX-TEX-CB;
  src: url("./fonts/mjx-tex-cb.woff2") format("woff2");
}

@font-face /* MJX-TEX-OS */ {
  font-family: MJX-TEX-OS;
  src: url("./fonts/mjx-tex-os.woff2") format("woff2");
}

@font-face /* MJX-TEX-OB */ {
  font-family: MJX-TEX-OB;
  src: url("./fonts/mjx-tex-ob.woff2") format("woff2");
}

@font-face /* MJX-TEX-MI */ {
  font-family: MJX-TEX-MI;
  src: url("./fonts/mjx-tex-mi.woff2") format("woff2");
}

@font-face /* MJX-TEX-V */ {
  font-family: MJX-TEX-V;
  src: url("./fonts/mjx-tex-v.woff2") format("woff2");
}

@font-face /* MJX-TEX-S3 */ {
  font-family: MJX-TEX-S3;
  src: url("./fonts/mjx-tex-s3.woff2") format("woff2");
}

@font-face /* MJX-TEX-S4 */ {
  font-family: MJX-TEX-S4;
  src: url("./fonts/mjx-tex-s4.woff2") format("woff2");
}

mjx-c.mjx-c1D44E {
  padding: 0.441em 0.529em 0.01em 0;
}

mjx-c.mjx-c31 {
  padding: 0.666em 0.5em 0 0;
}

mjx-c.mjx-c3C {
  padding: 0.54em 0.778em 0.04em 0;
}

mjx-c.mjx-c32 {
  padding: 0.666em 0.5em 0 0;
}

mjx-c.mjx-c22EF {
  padding: 0.31em 1.172em 0 0;
}

mjx-c.mjx-c1D45B {
  padding: 0.442em 0.6em 0.011em 0;
}

mjx-c.mjx-c2B {
  padding: 0.583em 0.778em 0.082em 0;
}

mjx-c.mjx-c2F {
  padding: 0.75em 0.5em 0.25em 0;
}

mjx-c.mjx-c2192 {
  padding: 0.511em 1em 0.011em 0;
}

mjx-c.mjx-c2211.TEX-SO {
  padding: 0.75em 1.056em 0.25em 0;
}

mjx-c.mjx-c2265 {
  padding: 0.636em 0.778em 0.138em 0;
}

mjx-c.mjx-c2208 {
  padding: 0.54em 0.667em 0.04em 0;
}

mjx-c.mjx-c211A {
  padding: 0.701em 0.778em 0.181em 0;
}

mjx-c.mjx-c1D443 {
  padding: 0.683em 0.751em 0 0;
}

mjx-c.mjx-c3D {
  padding: 0.367em 0.778em 0 0;
}

mjx-c.mjx-c220F.TEX-SO {
  padding: 0.75em 0.944em 0.25em 0;
}

mjx-c.mjx-c1D457 {
  padding: 0.661em 0.412em 0.204em 0;
}

mjx-c.mjx-c6C {
  padding: 0.694em 0.278em 0 0;
}

mjx-c.mjx-c69 {
  padding: 0.669em 0.278em 0 0;
}

mjx-c.mjx-c6D {
  padding: 0.442em 0.833em 0 0;
}

mjx-c.mjx-c2006 {
  padding: 0 0.167em 0 0;
}

mjx-c.mjx-c73 {
  padding: 0.448em 0.394em 0.011em 0;
}

mjx-c.mjx-c75 {
  padding: 0.442em 0.556em 0.011em 0;
}

mjx-c.mjx-c70 {
  padding: 0.442em 0.556em 0.194em 0;
}

mjx-c.mjx-c221E {
  padding: 0.442em 1em 0.011em 0;
}

mjx-c.mjx-c28.TEX-S3 {
  padding: 1.45em 0.736em 0.949em 0;
}

mjx-c.mjx-c2212 {
  padding: 0.583em 0.778em 0.082em 0;
}

mjx-c.mjx-c29.TEX-S3 {
  padding: 1.45em 0.736em 0.949em 0;
}

mjx-c.mjx-c2C {
  padding: 0.121em 0.278em 0.194em 0;
}

mjx-c.mjx-c1D436 {
  padding: 0.705em 0.76em 0.022em 0;
}

mjx-c.mjx-c1D438 {
  padding: 0.68em 0.764em 0 0;
}

mjx-c.mjx-c1D437 {
  padding: 0.683em 0.828em 0 0;
}

mjx-c.mjx-c63 {
  padding: 0.448em 0.444em 0.011em 0;
}

mjx-c.mjx-c74 {
  padding: 0.615em 0.389em 0.01em 0;
}

mjx-c.mjx-c72 {
  padding: 0.442em 0.392em 0 0;
}

mjx-c.mjx-c2061 {
  padding: 0 0 0 0;
}

mjx-c.mjx-c28 {
  padding: 0.75em 0.389em 0.25em 0;
}

mjx-c.mjx-c29 {
  padding: 0.75em 0.389em 0.25em 0;
}

mjx-c.mjx-c3A {
  padding: 0.43em 0.278em 0 0;
}

mjx-c.mjx-c2115 {
  padding: 0.683em 0.722em 0.02em 0;
}

mjx-c.mjx-c2124 {
  padding: 0.683em 0.667em 0.001em 0;
}

mjx-c.mjx-c3E {
  padding: 0.54em 0.778em 0.04em 0;
}

mjx-c.mjx-c30 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c7C {
  padding: 0.75em 0.278em 0.249em 0;
}

mjx-c.mjx-c1D435 {
  padding: 0.683em 0.759em 0 0;
}

mjx-c.mjx-c2264 {
  padding: 0.636em 0.778em 0.138em 0;
}

mjx-c.mjx-c1D43E {
  padding: 0.683em 0.889em 0 0;
}

mjx-c.mjx-c1D441 {
  padding: 0.683em 0.888em 0 0;
}

mjx-c.mjx-c61 {
  padding: 0.448em 0.5em 0.011em 0;
}

mjx-c.mjx-c6E {
  padding: 0.442em 0.556em 0 0;
}

mjx-c.mjx-c64 {
  padding: 0.694em 0.556em 0.011em 0;
}

mjx-c.mjx-c2211.TEX-LO {
  padding: 0.95em 1.444em 0.45em 0;
}

mjx-c.mjx-c2E {
  padding: 0.12em 0.278em 0 0;
}

mjx-c.mjx-c394 {
  padding: 0.716em 0.833em 0 0;
}

mjx-c.mjx-c2260 {
  padding: 0.716em 0.778em 0.215em 0;
}

mjx-c.mjx-c1D45A {
  padding: 0.442em 0.878em 0.011em 0;
}

mjx-c.mjx-c2026 {
  padding: 0.12em 1.172em 0 0;
}

mjx-c.mjx-c1D461 {
  padding: 0.626em 0.361em 0.011em 0;
}

mjx-c.mjx-c1D456 {
  padding: 0.661em 0.345em 0.011em 0;
}

mjx-c.mjx-c2223 {
  padding: 0.75em 0.278em 0.249em 0;
}

mjx-c.mjx-c2261 {
  padding: 0.464em 0.778em 0 0;
}

mjx-c.mjx-c6F {
  padding: 0.448em 0.5em 0.01em 0;
}

mjx-c.mjx-c1D462 {
  padding: 0.442em 0.572em 0.011em 0;
}

mjx-c.mjx-c67 {
  padding: 0.453em 0.5em 0.206em 0;
}

mjx-c.mjx-c5B {
  padding: 0.75em 0.278em 0.25em 0;
}

mjx-c.mjx-c1D463 {
  padding: 0.443em 0.485em 0.011em 0;
}

mjx-c.mjx-c1D43A {
  padding: 0.705em 0.786em 0.022em 0;
}

mjx-c.mjx-c1D465 {
  padding: 0.442em 0.572em 0.011em 0;
}

mjx-c.mjx-c1D458 {
  padding: 0.694em 0.521em 0.011em 0;
}

mjx-c.mjx-c1D45D {
  padding: 0.442em 0.503em 0.194em 0;
}

mjx-c.mjx-c1D45E {
  padding: 0.442em 0.46em 0.194em 0;
}

mjx-c.mjx-c220F.TEX-LO {
  padding: 0.95em 1.278em 0.45em 0;
}

mjx-c.mjx-c65 {
  padding: 0.448em 0.444em 0.011em 0;
}

mjx-c.mjx-c78 {
  padding: 0.431em 0.528em 0 0;
}

mjx-c.mjx-c1D450 {
  padding: 0.442em 0.433em 0.011em 0;
}

mjx-c.mjx-c1D442 {
  padding: 0.704em 0.763em 0.022em 0;
}

mjx-c.mjx-c27F6 {
  padding: 0.511em 1.638em 0.011em 0;
}

mjx-c.mjx-c1D6FE {
  padding: 0.441em 0.543em 0.216em 0;
}

mjx-c.mjx-c1D45C {
  padding: 0.441em 0.485em 0.011em 0;
}

mjx-c.mjx-c28.TEX-S4 {
  padding: 1.75em 0.792em 1.249em 0;
}

mjx-c.mjx-c29.TEX-S4 {
  padding: 1.75em 0.792em 1.249em 0;
}

mjx-c.mjx-c1D43B {
  padding: 0.683em 0.888em 0 0;
}

mjx-c.mjx-c1D44A {
  padding: 0.683em 1.048em 0.022em 0;
}

mjx-c.mjx-c1D44D {
  padding: 0.683em 0.723em 0 0;
}

mjx-c.mjx-c1D6FF {
  padding: 0.717em 0.451em 0.01em 0;
}

mjx-c.mjx-c1D43F {
  padding: 0.683em 0.681em 0 0;
}

mjx-c.mjx-c1D440 {
  padding: 0.683em 1.051em 0 0;
}

mjx-c.mjx-c1D448 {
  padding: 0.683em 0.767em 0.022em 0;
}

mjx-c.mjx-c1D449 {
  padding: 0.683em 0.769em 0.022em 0;
}

mjx-c.mjx-c1D70C {
  padding: 0.442em 0.517em 0.216em 0;
}

mjx-c.mjx-c1D445 {
  padding: 0.683em 0.759em 0.021em 0;
}

mjx-c.mjx-c52.TEX-C {
  padding: 0.682em 0.848em 0.022em 0;
}

mjx-c.mjx-c7B {
  padding: 0.75em 0.5em 0.25em 0;
}

mjx-c.mjx-c7D {
  padding: 0.75em 0.5em 0.25em 0;
}

mjx-c.mjx-c33 {
  padding: 0.665em 0.5em 0.022em 0;
}

mjx-c.mjx-c34 {
  padding: 0.677em 0.5em 0 0;
}

mjx-c.mjx-c1D451 {
  padding: 0.694em 0.523em 0.01em 0;
}

mjx-c.mjx-c1D453 {
  padding: 0.705em 0.55em 0.205em 0;
}

mjx-c.mjx-c222B.TEX-SO {
  padding: 0.805em 0.61em 0.306em 0;
}

mjx-c.mjx-c1D447 {
  padding: 0.677em 0.717em 0 0;
}

mjx-c.mjx-c1D70F {
  padding: 0.431em 0.517em 0.013em 0;
}

mjx-c.mjx-c210E {
  padding: 0.694em 0.576em 0.011em 0;
}

mjx-c.mjx-c1D45F {
  padding: 0.442em 0.451em 0.011em 0;
}

mjx-c.mjx-cA0 {
  padding: 0 0.25em 0 0;
}

mjx-c.mjx-c66 {
  padding: 0.705em 0.372em 0 0;
}

mjx-c.mjx-c20 {
  padding: 0 0.25em 0 0;
}

mjx-c.mjx-c222B.TEX-LO {
  padding: 1.36em 0.944em 0.862em 0;
}

mjx-c.mjx-c1D452 {
  padding: 0.442em 0.466em 0.011em 0;
}

mjx-c.mjx-c5D {
  padding: 0.75em 0.278em 0.25em 0;
}

mjx-c.mjx-c28.TEX-LO {
  padding: 1.15em 0.597em 0.649em 0;
}

mjx-c.mjx-c29.TEX-LO {
  padding: 1.15em 0.597em 0.649em 0;
}

mjx-c.mjx-c1D703 {
  padding: 0.705em 0.469em 0.01em 0;
}

mjx-c.mjx-c1D434 {
  padding: 0.716em 0.75em 0 0;
}

mjx-c.mjx-c1D716 {
  padding: 0.431em 0.406em 0.011em 0;
}

mjx-c.mjx-c1D44F {
  padding: 0.694em 0.429em 0.011em 0;
}

mjx-c.mjx-c1D706 {
  padding: 0.694em 0.583em 0.012em 0;
}

mjx-c.mjx-c4C {
  padding: 0.683em 0.625em 0 0;
}

mjx-c.mjx-c76 {
  padding: 0.431em 0.528em 0.011em 0;
}

mjx-c.mjx-c79 {
  padding: 0.431em 0.528em 0.204em 0;
}

mjx-c.mjx-c27F9 {
  padding: 0.525em 1.638em 0.024em 0;
}

mjx-c.mjx-c3F {
  padding: 0.705em 0.472em 0 0;
}

mjx-c.mjx-c1D439 {
  padding: 0.68em 0.749em 0 0;
}

mjx-c.mjx-c1D44B {
  padding: 0.683em 0.852em 0 0;
}

mjx-c.mjx-c35 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c2203 {
  padding: 0.694em 0.556em 0 0;
}

mjx-c.mjx-c36 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c21 {
  padding: 0.716em 0.278em 0 0;
}

mjx-c.mjx-c37 {
  padding: 0.676em 0.5em 0.022em 0;
}



.math[data-math-rendered] .mjx-s-08d28435bc62e4f9 {min-width: 16.987em;}
.math[data-math-rendered] .mjx-s-09f93d8b7f81687f {margin-top: 0.347em;}
.math[data-math-rendered] .mjx-s-0a08cda1d7073688 {height: 1em; vertical-align: -0.25em;}
.math[data-math-rendered] .mjx-s-0a152d526f194d03 {height: 2.218em; vertical-align: -0.758em;}
.math[data-math-rendered] .mjx-s-0df9cf6740c68079 {width: 0.444em;}
.math[data-math-rendered] .mjx-s-10fba8e641b4006a {padding-left: 0.162em;}
.math[data-math-rendered] .mjx-s-1185a45a341145ec {min-width: 3.761em;}
.math[data-math-rendered] .mjx-s-13ac3ef4aa410372 {vertical-align: -0.288em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-15b226ad33038af9 {padding-top: 0.676em;}
.math[data-math-rendered] .mjx-s-1774e0e7d8af3edc {height: 0.821em;}
.math[data-math-rendered] .mjx-s-19a6470975038300 {padding-top: 0.666em;}
.math[data-math-rendered] .mjx-s-1fc1f9182bc3155d {padding-top: 0.448em;}
.math[data-math-rendered] .mjx-s-1ffb3cf49a81e99f {margin-top: 0.395em;}
.math[data-math-rendered] .mjx-s-23b7f895006ab67b {vertical-align: -0.341em; margin-left: -0.138em;}
.math[data-math-rendered] .mjx-s-2741390ab7eb4fe2 {vertical-align: -0.15em; margin-left: -0.025em;}
.math[data-math-rendered] .mjx-s-2ade5a4fe81cab07 {width: auto; min-width: 14.431em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-2e78b123c0941d6c {vertical-align: -0.15em; margin-left: -0.045em;}
.math[data-math-rendered] .mjx-s-2f023ba0bb4595f1 {vertical-align: -0.15em; margin-left: -0.04em;}
.math[data-math-rendered] .mjx-s-31206651f88cd37b {padding-top: 0.287em; padding-left: 0.51em;}
.math[data-math-rendered] .mjx-s-328e01a468558782 {vertical-align: -0.297em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-33d1ad46e78bd447 {padding-left: 0.608em;}
.math[data-math-rendered] .mjx-s-34b5a972db1a86ee {right: 0;}
.math[data-math-rendered] .mjx-s-368c51d8a1b6eb2f {height: 3.45em;}
.math[data-math-rendered] .mjx-s-36e3bef3967c9d6d {min-width: 11.147em;}
.math[data-math-rendered] .mjx-s-370d2603b3912cd0 {vertical-align: 0.363em; margin-left: 0.055em;}
.math[data-math-rendered] .mjx-s-3df1c7fdac1409ed {width: 2em;}
.math[data-math-rendered] .mjx-s-3df56db1119a6b59 {padding-left: 0.225em;}
.math[data-math-rendered] .mjx-s-3ee399c7f08ed55e {vertical-align: -0.296em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-4034aa918a5ad51d {padding-top: 0.239em; padding-left: 0.612em;}
.math[data-math-rendered] .mjx-s-4073cb6afcdaa83e {vertical-align: -0.15em; margin-left: -0.186em;}
.math[data-math-rendered] .mjx-s-411c2f9597fa29d6 {padding-top: 0.167em;}
.math[data-math-rendered] .mjx-s-42eb709d54fb0105 {width: auto; min-width: 14.466em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-481146eeacf96eab {vertical-align: -0.15em; margin-left: -0.084em;}
.math[data-math-rendered] .mjx-s-481aba238164749f {height: 2.203em; vertical-align: -0.844em;}
.math[data-math-rendered] .mjx-s-4960f545c6bbaf56 {height: 2.776em; vertical-align: -1.228em;}
.math[data-math-rendered] .mjx-s-4a55c5cb61519299 {min-width: 12.362em;}
.math[data-math-rendered] .mjx-s-4fabe3e4688a6416 {height: 1em;}
.math[data-math-rendered] .mjx-s-51306b6f4d8968c7 {font-size: 113.1%; min-width: 21.841em; position: relative;}
.math[data-math-rendered] .mjx-s-60d9c9d9f5606f4d {padding-bottom: 0.05em;}
.math[data-math-rendered] .mjx-s-614b92b40a2fd58b {vertical-align: -0.285em;}
.math[data-math-rendered] .mjx-s-6578789dc54ae46a {height: 0.841em;}
.math[data-math-rendered] .mjx-s-65807de92594468e {width: auto; min-width: 9.806em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-65d31ee60f4c6245 {font-size: 113.1%; min-width: 12.362em; position: relative;}
.math[data-math-rendered] .mjx-s-65e09dca8921ff9e {margin-top: 0.297em;}
.math[data-math-rendered] .mjx-s-694acd73f23657d1 {font-size: 113.1%; min-width: 17.022em; position: relative;}
.math[data-math-rendered] .mjx-s-69f85474e4acf975 {height: 3.45em; vertical-align: -1.879em;}
.math[data-math-rendered] .mjx-s-6c576990d7b4b5f4 {width: 0.167em;}
.math[data-math-rendered] .mjx-s-72086abbb242b2ac {min-width: 17.022em;}
.math[data-math-rendered] .mjx-s-723b61fac7b77789 {height: NaNem;}
.math[data-math-rendered] .mjx-s-72a01a589f710a1a {vertical-align: -0.241em;}
.math[data-math-rendered] .mjx-s-731812894be2aaa1 {height: 2.776em;}
.math[data-math-rendered] .mjx-s-75ff07c40f2c7eeb {min-width: 21.544em;}
.math[data-math-rendered] .mjx-s-76af4a21d69672a4 {vertical-align: -0.985em;}
.math[data-math-rendered] .mjx-s-777c110570b76a3f {min-width: 5.9em;}
.math[data-math-rendered] .mjx-s-7e90d69eb6cfbf8e {height: 2.999em; vertical-align: -1.25em;}
.math[data-math-rendered] .mjx-s-7ee9e6f8b40129e7 {height: 2.218em;}
.math[data-math-rendered] .mjx-s-80635ec670991121 {font-size: 113.1%; min-width: 21.544em; position: relative;}
.math[data-math-rendered] .mjx-s-812e68fd3d8a7afa {padding-top: 0.239em;}
.math[data-math-rendered] .mjx-s-85f4a48208ffebc1 {margin-left: 0.191em;}
.math[data-math-rendered] .mjx-s-865bb3c7618ed7e7 {padding-top: 0.705em;}
.math[data-math-rendered] .mjx-s-88dad5708156d31f {vertical-align: -0.15em; margin-left: -0.003em;}
.math[data-math-rendered] .mjx-s-90bf9fe9d417e69f {vertical-align: -0.15em; margin-left: -0.109em;}
.math[data-math-rendered] .mjx-s-91678065838d7fa9 {width: 17.022em;}
.math[data-math-rendered] .mjx-s-9561742b60faf9f3 {vertical-align: -0.247em; margin-left: 0;}
.math[data-math-rendered] .mjx-s-95dc995299efa0cb {height: 0.809em;}
.math[data-math-rendered] .mjx-s-9983da8735ccf1f6 {height: 2.999em;}
.math[data-math-rendered] .mjx-s-9a877cf2e76dc44c {height: 2.203em;}
.math[data-math-rendered] .mjx-s-9bb2886eeb894bc2 {width: 12.362em;}
.math[data-math-rendered] .mjx-s-9e12c4e3fbde602a {width: auto; min-width: 18.988em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-9e25cfa659cd6882 {padding-top: 0.615em;}
.math[data-math-rendered] .mjx-s-9f2585d31e314df0 {padding-top: 0.442em;}
.math[data-math-rendered] .mjx-s-9f6af5e741e59389 {padding-top: 0.05em;}
.math[data-math-rendered] .mjx-s-9fe52d3540d59133 {font-size: 113.1%; position: relative;}
.math[data-math-rendered] .mjx-s-a5178442a6fe08aa {margin-left: 0.276em;}
.math[data-math-rendered] .mjx-s-a78d36533d77dfd2 {padding-left: 1.364em;}
.math[data-math-rendered] .mjx-s-a992c46c64f653c1 {vertical-align: 0.413em;}
.math[data-math-rendered] .mjx-s-a997f7ee6c950646 {vertical-align: -0.15em; margin-left: -0.081em;}
.math[data-math-rendered] .mjx-s-aa11a8df21efdf85 {padding-top: 0.683em;}
.math[data-math-rendered] .mjx-s-aa46ace73f31eb2f {height: 0.722em;}
.math[data-math-rendered] .mjx-s-aa64105f7ec895ca {padding-left: 0.275em;}
.math[data-math-rendered] .mjx-s-aa9dd01f8ec6f8b0 {padding-top: 0.167em; padding-left: 0.006em;}
.math[data-math-rendered] .mjx-s-b015f9be08858520 {margin-top: 1.395em;}
.math[data-math-rendered] .mjx-s-b60f14f9eb908b91 {margin-top: 0.18em;}
.math[data-math-rendered] .mjx-s-b709648e89810ce5 {vertical-align: -0.15em; margin-left: -0.104em;}
.math[data-math-rendered] .mjx-s-bb3eb55a0f658631 {height: 0.718em;}
.math[data-math-rendered] .mjx-s-bbf3eafe63e6763e {vertical-align: 0.363em;}
.math[data-math-rendered] .mjx-s-bd5b3a7341faf8bf {font-size: 113.1%; min-width: 11.147em; position: relative;}
.math[data-math-rendered] .mjx-s-c04caa36f8e0b5f4 {padding-top: 0.694em;}
.math[data-math-rendered] .mjx-s-c8c0a10ae672ab56 {vertical-align: -0.15em;}
.math[data-math-rendered] .mjx-s-c96652bfe76023b4 {width: 11.147em;}
.math[data-math-rendered] .mjx-s-c9b7f6b3eb73cd7e {vertical-align: -0.247em; margin-left: -0.081em;}
.math[data-math-rendered] .mjx-s-ccc47b02660687b9 {vertical-align: -0.15em; margin-left: -0.057em;}
.math[data-math-rendered] .mjx-s-ce906ad2c4ea1026 {min-width: 21.841em;}
.math[data-math-rendered] .mjx-s-cef77dc42b754ade {min-width: 2.82em;}
.math[data-math-rendered] .mjx-s-d15c19dec4196e1b {vertical-align: -0.15em; margin-left: -0.106em;}
.math[data-math-rendered] .mjx-s-d60f43109120f36e {width: 0.333em;}
.math[data-math-rendered] .mjx-s-d6b18c62bb25363d {margin-right: -0.167em;}
.math[data-math-rendered] .mjx-s-d9ddc5dcffff0156 {margin-left: 0.647em;}
.math[data-math-rendered] .mjx-s-e45fc2c640640e05 {width: 21.841em;}
.math[data-math-rendered] .mjx-s-e90fa27db78572a7 {width: auto; min-width: 19.285em; margin: 0 1.278em;}
.math[data-math-rendered] .mjx-s-edec4017fb360cc5 {vertical-align: -0.15em; margin-left: -0.007em;}
.math[data-math-rendered] .mjx-s-ef465e39a98551d9 {padding-top: 0.167em; padding-left: 0.29em;}
.math[data-math-rendered] .mjx-s-f25bfb8b1a3b8e42 {font-size: 113.1%; min-width: 16.987em; position: relative;}
.math[data-math-rendered] .mjx-s-f356f503a224eb9e {width: 21.544em;}
.math[data-math-rendered] .mjx-s-f6b60f7242b74dab {width: 16.987em;}
.math[data-math-rendered] .mjx-s-f720818c78ec3983 {vertical-align: -0.15em; margin-left: -0.026em;}
.math[data-math-rendered] .mjx-s-f7708527c693f8ae {width: 1em;}
.math[data-math-rendered] .mjx-s-f7cd04a8735aabe7 {padding-left: 0.026em;}
.math[data-math-rendered] .mjx-s-fafeb0178802cead {vertical-align: -0.896em; margin-left: -0.388em;}
.math[data-math-rendered] .mjx-s-ff44a82ecb99ab36 {width: auto; min-width: 8.591em; margin: 0 1.278em;}